In [1]:
%run imports_and_functions.ipynb

from dbfread import DBF

C:\Users\Jason\AppData\Local\conda\conda\envs\DSI-6\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [7]:
# income data files come in .dbf, must install this to read from python

# !pip install dbfread

Collecting dbfread
  Downloading https://files.pythonhosted.org/packages/4c/94/51349e43503e30ed7b4ecfe68a8809cdb58f722c0feb79d18b1f1e36fe74/dbfread-2.0.7-py2.py3-none-any.whl
Installing collected packages: dbfread
Successfully installed dbfread-2.0.7

### Creating Final Businesses Dataframe within City Radius

In [2]:
df = pd.read_csv('PhoenixBusinessesUpdated.csv', sep=';', compression='gzip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15386 entries, 0 to 15385
Data columns (total 13 columns):
Unnamed: 0       15386 non-null int64
alias            15386 non-null object
attributes       0 non-null float64
categories       15386 non-null object
coordinates      15386 non-null object
distance         15386 non-null float64
latitude         15315 non-null float64
longitude        15315 non-null float64
main_category    15386 non-null object
name             15386 non-null object
price            4746 non-null object
rating           15386 non-null float64
review_count     15386 non-null int64
dtypes: float64(5), int64(2), object(6)
memory usage: 1.5+ MB

In [8]:
df.loc[[4237, 15365, 14695]] 
# updated dropduplicates below for chain businesses, in multiple same locations

,address,attributes,categories,city,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
4237,1970 W Baseline Rd,"{'BikeParking': 'False', 'BusinessAcceptsCredi...","Coffee & Tea, Food, Restaurants, Cafes",Phoenix,33.379040,-112.101748,Starbucks,NaN,85041.0,15,2.0,AZ
15365,4123 W Thunderbird Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Coffee & Tea, Food",Phoenix,33.610476,-112.147455,Starbucks,NaN,85053.0,13,3.0,AZ
14695,4123 W Thunderbird Rd,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Bakeries, Coffee & Tea, Food",Phoenix,33.610476,-112.147455,Starbucks,NaN,85053.0,6,2.5,AZ

In [3]:
def dropduplicate_yelp_entries(df) :
    dups = df[df[['latitude','longitude','alias']].duplicated(keep=False)].sort_values('latitude')
    mask1 = dups[['latitude','longitude','alias']].duplicated(keep='first')
    mask2 = dups[['latitude','longitude','alias']].duplicated(keep=False)
    mask = mask2 & ~mask1
#     print(dups)
    for index in dups[mask].index :
        dupset = dups[(dups['alias']==dups.loc[index,'alias']) & (dups['longitude']==dups.loc[index,'longitude'])].sort_values(
            'review_count', ascending=False)
        dropindex = dupset.iloc[1:,0].index
        df.drop(dropindex, axis=0, inplace=True)
        
def getPriceRange(string) :
    regex = re.compile("RestaurantsPriceRange2\\': \\'(\d)")
    try :
        match = regex.search(string)
        return int(match.groups(0)[0])
    except : return 0
    
def convertpricecolumn(pricesymbol) :
    try : num = len(pricesymbol)
    except : num = 0
    return num

def get_main_category(catstring) :
    string = ''
    try :
        for cat in main_categories :
            if cat in catstring : string = string + cat + ', '
    except : pass
    return string[0:(len(string)-2)]

In [4]:
print(df.shape)
dropduplicate_yelp_entries(df)
df.shape

(15386, 13)

(15385, 13)

In [5]:
df.head()

,Unnamed: 0,alias,attributes,categories,coordinates,distance,latitude,longitude,main_category,name,price,rating,review_count
0,0,eastlake-park-phoenix,NaN,"[{'alias': 'parks', 'title': 'Parks'}]","{'latitude': 33.4470253, 'longitude': -112.048...",498.636238,33.447025,-112.048897,active,Eastlake Park,NaN,5.0,1
1,1,southwest-autism-research-and-resource-center-...,NaN,"[{'alias': 'preschools', 'title': 'Preschools'...","{'latitude': 33.45181, 'longitude': -112.04386}",799.580740,33.451810,-112.043860,active,Southwest Autism Research & Resource Center,NaN,5.0,3
2,2,mountainside-fitness-phoenix-3,NaN,"[{'alias': 'gyms', 'title': 'Gyms'}, {'alias':...","{'latitude': 33.4463835470996, 'longitude': -1...",2116.538429,33.446384,-112.066437,active,Mountainside Fitness,NaN,3.5,42
3,3,d-backs-race-against-cancer-phoenix,NaN,"[{'alias': 'races', 'title': 'Races & Competit...","{'latitude': 33.4452, 'longitude': -112.06685}",2128.557179,33.445200,-112.066850,active,D-Backs Race Against Cancer,NaN,4.0,1
4,4,chase-field-phoenix,NaN,"[{'alias': 'stadiumsarenas', 'title': 'Stadium...","{'latitude': 33.4452, 'longitude': -112.06685}",2128.557179,33.445200,-112.066850,active,Chase Field,NaN,4.0,650

In [6]:
df['price'] = df['price'].map(convertpricecolumn)
df['price'].value_counts()

0    10640
2     2446
1     1783
3      407
4      109
Name: price, dtype: int64

In [7]:
# df['main_category'] = df['categories'].map(get_main_category)
df['main_category'].value_counts()

homeservices          2847
restaurants           2003
shopping              1952
health                1911
automotive             947
localservices          856
food                   683
professional           650
beautysvc              636
eventservices          519
realestate             359
financialservices      345
active                 300
arts                   287
hotelstravel           268
nightlife              240
education              228
pets                   140
religiousorgs           85
publicservicesgovt      83
massmedia               46
Name: main_category, dtype: int64

In [8]:
# SET FOR EACH CITY: maxradius, testlat, testlong
maxradius = 9000
testlat = 33.444506
testlong = -112.043629 # Phoenix, Arizona

In [9]:
df['distance'] = calcDistances(testlat, testlong, df)

df[df['distance']<maxradius].shape

(10463, 13)

In [10]:
df['distance'].sort_values(ascending=False)

2203     8.290575e+06
6005     8.033615e+06
6846     3.650506e+06
10553    3.189810e+06
10536    3.010308e+06
7249     2.986202e+06
1576     1.822766e+06
8010     1.671697e+06
7349     9.426630e+05
5909     5.965585e+05
14783    4.198717e+05
2835     1.688292e+05
8561     1.602281e+05
2233     6.299739e+04
3884     5.100428e+04
5098     2.353709e+04
2470     1.996457e+04
5011     1.996457e+04
13054    1.792074e+04
11656    1.792074e+04
11657    1.792074e+04
12765    1.687178e+04
12767    1.687178e+04
12766    1.687178e+04
12774    1.687178e+04
12764    1.687178e+04
13427    1.653048e+04
12823    1.644879e+04
12826    1.644879e+04
11517    1.644842e+04
12821    1.644842e+04
12810    1.643280e+04
12816    1.643280e+04
12818    1.643280e+04
12819    1.643280e+04
12828    1.643280e+04
12807    1.643280e+04
12825    1.643280e+04
12809    1.643280e+04
12221    1.625050e+04
15355    1.623329e+04
11213    1.623305e+04
11214    1.623305e+04
15354    1.623085e+04
11209    1.620878e+04
3735     1.618477e+04
15379    1.614570e+04
10351    1.611655e+04
10355    1.610206e+04
12795    1.609993e+04
14432    1.609621e+04
14422    1.609298e+04
14421    1.608134e+04
14428    1.605654e+04
10357    1.604379e+04
15373    1.604335e+04
12285    1.601210e+04
12785    1.600316e+04
15371    1.600039e+04
12800    1.599349e+04
14019    1.597524e+04
14423    1.595938e+04
10350    1.595938e+04
12815    1.595131e+04
12822    1.595131e+04
14073    1.589223e+04
11504    1.588502e+04
11505    1.585423e+04
14414    1.584433e+04
14038    1.581475e+04
10662    1.581248e+04
14828    1.580247e+04
14040    1.580196e+04
11499    1.578490e+04
10335    1.578394e+04
10328    1.575390e+04
12830    1.574705e+04
10329    1.574165e+04
14044    1.573432e+04
14410    1.571509e+04
14061    1.571047e+04
14018    1.570554e+04
14016    1.570554e+04
14010    1.570554e+04
14008    1.570305e+04
14067    1.570288e+04
14400    1.569965e+04
14030    1.569950e+04
14399    1.569853e+04
14420    1.567812e+04
14401    1.567660e+04
14033    1.566757e+04
14031    1.566467e+04
14032    1.566467e+04
14821    1.566310e+04
13221    1.566310e+04
11813    1.566243e+04
11814    1.566242e+04
14017    1.565965e+04
13220    1.565448e+04
             ...
4868     5.176774e+02
4867     5.176774e+02
4866     4.933548e+02
7005     4.906031e+02
593      4.892405e+02
3263     4.847446e+02
4865     4.844628e+02
9285     4.840764e+02
9287     4.835732e+02
8037     4.788941e+02
9284     4.668431e+02
592      4.364002e+02
4864     4.275097e+02
8036     4.253052e+02
591      4.048871e+02
8035     4.043569e+02
4863     3.916747e+02
6105     3.915532e+02
6104     3.862475e+02
590      3.617353e+02
4862     3.558389e+02
4861     3.454672e+02
684      3.001142e+02
588      2.980069e+02
589      2.930954e+02
6103     2.832063e+02
3262     2.782245e+02
9283     2.654380e+02
587      1.568174e+02
30                NaN
34                NaN
35                NaN
378               NaN
384               NaN
385               NaN
720               NaN
721               NaN
724               NaN
729               NaN
730               NaN
1579              NaN
2546              NaN
2549              NaN
2560              NaN
2562              NaN
2563              NaN
2569              NaN
3352              NaN
3354              NaN
3358              NaN
3364              NaN
3370              NaN
4074              NaN
4075              NaN
5084              NaN
5085              NaN
5086              NaN
5087              NaN
5091              NaN
5096              NaN
5102              NaN
5103              NaN
5107              NaN
5108              NaN
5110              NaN
5117              NaN
5118              NaN
5120              NaN
5133              NaN
5137              NaN
5138              NaN
5146              NaN
5148              NaN
5152              NaN
5155              NaN
5159              NaN
5162              NaN
5163              NaN
5166              NaN
5169              NaN
5905              NaN
5907              NaN
5910              NaN
6113              NaN
6221              NaN
6223              NaN
6224              NaN
6225              NaN
6228              NaN
6237              NaN
6239              NaN
7262              NaN
7263              NaN
7428              NaN
7431              NaN
7439              NaN
7440              NaN
9357              NaN
9358              NaN
14069             NaN
Name: distance, Length: 15385, dtype: float64

In [21]:
df[df[['latitude','longitude']].duplicated(keep=False)].sort_values('latitude')

,Unnamed: 0,alias,attributes,categories,coordinates,distance,latitude,longitude,main_category,name,price,rating,review_count
15384,20810,gamestop-4741-phoenix,NaN,"[{'alias': 'hobbyshops', 'title': 'Hobby Shops'}]","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,shopping,GameStop #4741,$$$,4.5,9
14074,18551,home-detail-inspections-phoenix-4,NaN,"[{'alias': 'home_inspectors', 'title': 'Home I...","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,homeservices,Home Detail Inspections,NaN,5.0,3
14075,18552,commercial-builders-alliance-phoenix,NaN,"[{'alias': 'contractors', 'title': 'Contractor...","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,homeservices,Commercial Builders Alliance,NaN,5.0,1
14076,18553,sierra-vista-painting-phoenix,NaN,"[{'alias': 'painters', 'title': 'Painters'}]","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,homeservices,Sierra Vista Painting,NaN,5.0,4
14080,18557,anette-brown-real-estate-phoenix,NaN,"[{'alias': 'realestatesvcs', 'title': 'Real Es...","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,homeservices,Anette Brown Real Estate,NaN,5.0,1
14077,18554,john-horn-custom-house-painting-phoenix,NaN,"[{'alias': 'painters', 'title': 'Painters'}]","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,homeservices,John Horn Custom House painting,NaN,5.0,1
14079,18556,the-offer-company-phoenix,NaN,"[{'alias': 'realestatesvcs', 'title': 'Real Es...","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,homeservices,The Offer Company,NaN,5.0,1
14078,18555,legacy-home-management-phoenix,NaN,"[{'alias': 'propertymgmt', 'title': 'Property ...","{'latitude': 33.32039, 'longitude': -111.9798}",14992.417654,33.320390,-111.979800,homeservices,Legacy Home Management,NaN,5.0,1
11217,13724,jasons-deli-chandler,NaN,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...","{'latitude': 33.321276, 'longitude': -111.967601}",15389.856714,33.321276,-111.967601,restaurants,Jason's Deli,$,3.5,127
15357,20778,turn-style-consignment-chandler,NaN,"[{'alias': 'vintage', 'title': 'Used, Vintage ...","{'latitude': 33.321276, 'longitude': -111.967601}",15389.856714,33.321276,-111.967601,shopping,Turn Style Consignment,$,3.5,15
14031,18500,primary-residential-mortgage-tempe-2,NaN,"[{'alias': 'mortgagebrokers', 'title': 'Mortga...","{'latitude': 33.3293190002441, 'longitude': -1...",15664.673331,33.329319,-111.946205,homeservices,Primary Residential Mortgage,NaN,1.0,1
14032,18501,david-rider-primary-residential-mortgage-tempe,NaN,"[{'alias': 'mortgagebrokers', 'title': 'Mortga...","{'latitude': 33.3293190002441, 'longitude': -1...",15664.673331,33.329319,-111.946205,homeservices,David Rider-Primary Residential Mortgage,NaN,5.0,1
12175,15448,dental-by-design-ahwatukee,NaN,"[{'alias': 'generaldentistry', 'title': 'Gener...","{'latitude': 33.33031, 'longitude': -111.97872}",14031.803064,33.330310,-111.978720,health,Dental by Design,NaN,4.0,42
12201,15479,roger-r-roybal-dds-phoenix-2,NaN,"[{'alias': 'generaldentistry', 'title': 'Gener...","{'latitude': 33.33031, 'longitude': -111.97872}",14031.803064,33.330310,-111.978720,health,"Roger R. Roybal, DDS",NaN,5.0,1
14002,18470,wells-fargo-home-mortgage-tempe-5,NaN,"[{'alias': 'mortgagebrokers', 'title': 'Mortga...","{'latitude': 33.3305892944336, 'longitude': -1...",15549.531053,33.330589,-111.946213,homeservices,Wells Fargo Home Mortgage,NaN,1.0,1
14003,18471,fulton-homes-corporation-tempe,NaN,"[{'alias': 'realestate', 'title': 'Real Estate'}]","{'latitude': 33.3305892944336, 'longitude': -1...",15549.531053,33.330589,-111.946213,homeservices,Fulton Homes Corporation,NaN,2.0,31
13943,18408,randy-west-cardinal-financial-tempe,NaN,"[{'alias': 'mortgagebrokers', 'title': 'Mortga...","{'latitude': 33.3311996459961, 'longitude': -1...",14462.484609,33.331200,-111.966698,homeservices,Randy West - Cardinal Financial,NaN,1.0,1
15312,20717,todd-mcfarlane-productions-tempe,NaN,"[{'alias': 'toys', 'title': 'Toy Stores'}]","{'latitude': 33.3311996459961, 'longitude': -1...",14462.484609,33.331200,-111.966698,shopping,Todd McFarlane Productions,NaN,1.0,1
13898,18363,john-fischer-realty-tempe,NaN,"[{'alias': 'realestatesvcs', 'title': 'Real Es...","{'latitude': 33.3324, 'longitude': -111.97052}",14172.851769,33.332400,-111.970520,homeservices,John Fischer Realty,NaN,5.0,2
13899,18364,kathleen-benton-real-estate-tempe,NaN,"[{'alias': 'realestateagents', 'title': 'Real ...","{'latitude': 33.3324, 'longitude': -111.97052}",14172.851769,33.332400,-111.970520,homeservices,Kathleen Benton Real Estate,NaN,5.0,1
12116,15389,kosama-tempe-tempe,NaN,"[{'alias': 'weightlosscenters', 'title': 'Weig...","{'latitude': 33.33362, 'longitude': -111.95747}",14680.423068,33.333620,-111.957470,health,Kosama Tempe,NaN,4.5,16
13879,18344,invitation-homes-phoenix-tempe-tempe,NaN,"[{'alias': 'propertymgmt', 'title': 'Property ...","{'latitude': 33.33362, 'longitude': -111.95747}",14680.423068,33.333620,-111.957470,homeservices,Invitation Homes - Phoenix Tempe,NaN,2.5,126
13903,18368,ram-jack-arizona-tempe-2,NaN,"[{'alias': 'foundationrepair', 'title': 'Found...","{'latitude': 33.333872, 'longitude': -111.953293}",14873.121474,33.333872,-111.953293,homeservices,Ram Jack Arizona,NaN,4.5,5
13902,18367,josephs-moving-tempe,NaN,"[{'alias': 'movers', 'title': 'Movers'}, {'ali...","{'latitude': 33.333872, 'longitude': -111.953293}",14873.121474,33.333872,-111.953293,homeservices,Joseph's Moving,NaN,2.5,16
15296,20698,a-superstore-one-in-a-life-tyme-bridal-bridal-...,NaN,"[{'alias': 'bridal', 'title': 'Bridal'}]","{'latitude': 33.3344035, 'longitude': -111.959...",14507.911522,33.334404,-111.959440,shopping,A Superstore One In A Life Tyme Bridal Bridal ...,NaN,1.0,2
15297,20699,once-in-a-life-tyme-bridal-tempe,NaN,"[{'alias': 'bridal', 'title': 'Bridal'}]","{'latitude': 33.3344035, 'longitude': -111.959...",14507.911522,33.334404,-111.959440,shopping,Once in a Life Tyme Bridal,$$,1.0,24
12108,15381,kelli-hahn-dds-phoenix,NaN,"[{'alias': 'cosmeticdentists', 'title': 'Cosme...","{'latitude': 33.33477, 'longitude': -111.976234}",13691.279610,33.334770,-111.976234,health,"Kelli Hahn, DDS",NaN,5.0,1
12109,15382,tri-core-chiropractic-phoenix,NaN,"[{'alias': 'chiropractors', 'title': 'Chiropra...","{'latitude': 33.33477, 'longitude': -111.976234}",13691.279610,33.334770,-111.976234,health,Tri-Core Chiropractic,NaN,5.0,12
15288,20690,g-cue-billiard-store-tempe,NaN,"[{'alias': 'sportgoods', 'title': 'Sporting Go...","{'latitude': 33.33492, 'longitude': -111.96203}",14330.602492,33.334920,-111.962030,shopping,G Cue Billiard Store,$$,5.0,17
11119,13622,king-of-gyros-tempe-3,NaN,"[{'alias': 'greek', 'title': 'Greek'}, {'alias...","{'latitude': 33.33492, 'longitude': -111.96203}",14330.602492,33.334920,-111.962030,restaurants,King of Gyros,$,4.5,236
11120,13623,port-of-subs-tempe-3,NaN,"[{'alias': 'sandwiches', 'title': 'Sandwiches'}]","{'latitude': 33.33492, 'longitude': -111.96203}",14330.602492,33.334920,-111.962030,restaurants,Port of Subs,$,2.5,48
11121,13624,the-flame-broiler-tempe-5,NaN,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...","{'latitude': 33.33492, 'longitude': -111.96203}",14330.602492,33.334920,-111.962030,restaurants,The Flame Broiler,$,3.5,45
13908,18373,vip-roofing-services-tempe,NaN,"[{'alias': 'roofing', 'title': 'Roofing'}]","{'latitude': 33.33497, 'longitude': -111.94803}",15056.762088,33.334970,-111.948030,homeservices,VIP Roofing Services,NaN,4.0,14
15310,20715,irisd-bridal-tempe,NaN,"[{'alias': 'fashion', 'title': 'Fashion'}, {'a...","{'latitude': 33.33497, 'longitude': -111.94803}",15056.762088,33.334970,-111.948030,shopping,IrisD Bridal,$$,3.5,5
13907,18372,poco-verde-landscaping-tempe,NaN,"[{'alias': 'landscapearchitects', 'title': 'La...","{'latitude': 33.33497, 'longitude': -111.94803}",15056.762088,33.334970,-111.948030,homeservices,Poco Verde Landscaping,NaN,2.5,30
11169,13674,dozo-izakaya-tempe,NaN,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...","{'latitude': 33.3350535, 'longitude': -111.944...",15241.487489,33.335054,-111.944575,restaurants,DOZO Izakaya,$$,4.0,276
11170,13675,picazzos-healthy-italian-kitchen-tempe-3,NaN,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...","{'latitude': 33.3350535, 'longitude': -111.944...",15241.487489,33.335054,-111.944575,restaurants,Picazzo's Healthy Italian Kitchen,$$,4.0,327
11214,13721,ghost-ranch-modern-southwest-cuisine-tempe,NaN,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 33.33541, 'longitude': -111.92732}",16233.053949,33.335410,-111.927320,restaurants,Ghost Ranch: Modern Southwest Cuisine,NaN,4.5,188
11213,13720,cotton-and-copper-tempe,NaN,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...","{'latitude': 33.33541, 'longitude': -111.92732}",16233.053949,33.335410,-111.927320,restaurants,Cotton & Copper,$$,4.5,64
12087,15360,megan-davis-lcsw-tempe,NaN,"[{'alias': 'c_and_mh', 'title': 'Counseling & ...","{'latitude': 33.33567, 'longitude': -111.962}",14261.588878,33.335670,-111.962000,health,"Megan Davis, LCSW",NaN,5.0,1
12088,15361,baily-gwen-f-mc-tempe,NaN,"[{'alias': 'c_and_mh', 'title': 'Counseling & ...","{'latitude': 33.33567, 'longitude': -111.962}",14261.588878,33.335670,-111.962000,health,Baily Gwen F Mc,NaN,5.0,1
12089,15362,adobe-behavioral-counseling-services-tempe,NaN,"[{'alias': 'psychiatrists', 'title': 'Psychiat...","{'latitude': 33.33567, 'longitude': -111.962}",14261.588878,33.335670,-111.962000,health,Adobe Behavioral Counseling Services,NaN,5.0,1
12090,15363,joellen-h-butler-psy-np-tempe,NaN,"[{'alias': 'psychiatrists', 'title': 'Psychiat...","{'latitude': 33.33567, 'longitude': -111.962}",14261.588878,33.335670,-111.962000,health,"Joellen H Butler, PSY NP",NaN,4.5,6
14020,18488,sunset-fence-tempe,NaN,"[{'alias': 'masonry_concrete', 'title': 'Mason...","{'latitude': 33.33583, 'longitude': -111.93969}",15453.230102,33.335830,-111.939690,homeservices,Sunset Fence,NaN,5.0,17
15341,20751,taz-cooks-cooking-classes-tempe,NaN,"[{'alias': 'cookingclasses', 'title': 'Cooking...","{'latitude': 33.33583, 'longitude': -111.93969}",15453.230102,33.335830,-111.939690,shopping,Taz Cooks Cooking Classes,$,5.0,9
14012,18480,bartorius-artistic-wood-creations-tempe,NaN,"[{'alias': 'carpenters', 'title': 'Carpenters'}]","{'latitude': 33.3358306884766, 'longitude': -1...",15453.191699,33.335831,-111.939690,homeservices,Bartorius Artistic Wood Creations,NaN,5.0,1
14013,18481,luxury-interior-decorating-tempe-2,NaN,"[{'alias': 'interiordesign', 'title': 'Interio...","{'latitude': 33.3358306884766, 'longitude': -1...",15453.191699,33.335831,-111.939690,homeservices,Luxury Interior Decorating,NaN,5.0,2
14014,18482,ejp-home-and-auto-handyman-tempe-2,NaN,"[{'alias': 'autorepair', 'title': 'Auto Repair...","{'latitude': 33.3358306884766, 'longitude': -1...",15453.191699,33.335831,-111.939690,homeservices,EJP Home & Auto Handyman,NaN,5.0,2
14015,18483,liberty-remodeling-tempe,NaN,"[{'alias': 'contractors', 'title': 'Contractor...","{'latitude': 33.3358306884766, 'longitude': -1...",15453.191699,33.335831,-111.939690,homeservices,Liberty Remodeling,NaN,5.0,3
14018,18486,spitz-construction-superintendents-tempe,NaN,"[{'alias': 'contractors', 'title': 'Contractor...","{'latitude': 33.336856842041, 'longitude': -11...",15705.536032,33.336857,-111.933960,homeservices,Spitz Construction Superintendents,NaN,1.0,2
14010,18478,arizona-811-tempe-8,NaN,"[{'alias': 'nonprofit', 'title': 'Community Se...","{'latitude': 33.336856842041, 'longitude': -11...",15705.536032,33.336857,-111.933960,homeservices,Arizona 811,NaN,2.0,1
14016,18484,christmas-lights-phoenix-tempe,NaN,"[{'alias': 'lighting', 'title': 'Lighting Fixt...","{'latitude': 33.336856842041, 'longitude': -11...",15705.536032,33.336857,-111.933960,homeservices,Christmas Lights Phoenix,NaN,1.0,1
12113,15386,advanced-massage-arts-and-education-tempe,NaN,"[{'alias': 'massage_schools', 'title': 'Massag...","{'latitude': 33.3376655578613, 'longitude': -1...",14916.890302,33.337666,-111.946243,health,Advanced Massage Arts & Education,NaN,5.0,1
13877,18342,8400-building-tempe-2,NaN,"[{'alias': 'sharedofficespaces', 'title': 'Sha...","{'latitude': 33.3376655578613, 'longitude': -1...",14916.890302,33.337666,-111.946243,homeservices,8400 Building,NaN,4.0,1
15329,20737,equestrian-centre-phoenix,NaN,"[{'alias': 'shoppingcenters', 'title': 'Shoppi...","{'latitude': 33.33769, 'longitude': -111.99451}",12697.982703,33.337690,-111.994510,shopping,Equestrian Centre,NaN,5.0,1
12164,15437,priority-care-phoenix,NaN,"[{'alias': 'familydr', 'title': 'Family Practi...","{'latitude': 33.33769, 'longitude': -111.99451}",12697.982703,33.337690,-111.994510,health,Priority Care,NaN,1.0,1
12163,15436,add-clinic-of-az-phoenix,NaN,"[{'alias': 'c_and_mh', 'title': 'Counseling & ...","{'latitude': 33.33769, 'longitude': -111.99451}",12697.982703,33.337690,-111.994510,health,ADD Clinic of AZ,NaN,5.0,2
12148,15421,kevin-chan-do-ms-phoenix,NaN,"[{'alias': 'familydr', 'title': 'Family Practi...","{'latitude': 33.33804, 'longitude': -111.99419}",12672.545617,33.338040,-111.994190,health,"Kevin Chan, DO, MS",NaN,1.0,6
12153,15426,pineapple-health-phoenix,NaN,"[{'alias': 'familydr', 'title': 'Family Practi...","{'latitude': 33.33804, 'longitude': -111.99419}",12672.545617,33.338040,-111.994190,health,Pineapple Health,NaN,1.0,1
12154,15427,jordan-l-janet-dds-phoenix,NaN,"[{'alias': 'orthodontists', 'title': 'Orthodon...","{'latitude': 33.338043, 'longitude': -111.994186}",12672.370637,33.338043,-111.994186,health,"Jordan L Janet, DDS",NaN,5.0,2
12149,15422,east-valley-internal-medicine-phoenix,NaN,"[{'alias': 'medcenters', 'title': 'Medical Cen...","{'latitude': 33.338043, 'longitude': -111.994186}",12672.370637,33.338043,-111.994186,health,East Valley Internal Medicine,NaN,3.0,1
12151,15424,richard-snider-md-phoenix,NaN,"[{'alias': 'internalmed', 'title': 'Internal M...","{'latitude': 33.338043, 'longitude': -111.994186}",12672.370637,33.338043,-111.994186,health,"Richard Snider, MD",NaN,4.0,1
15257,20652,lmc-home-entertainment-tempe,NaN,"[{'alias': 'hifi', 'title': 'High Fidelity Aud...","{'latitude': 33.3398213, 'longitude': -111.966...",13628.089730,33.339821,-111.966934,shopping,LMC Home Entertainment,NaN,1.0,1
12067,15340,devoted-guardians-tempe-3,NaN,"[{'alias': 'homehealthcare', 'title': 'Home He...","{'latitude': 33.3398213, 'longitude': -111.966...",13628.089730,33.339821,-111.966934,health,Devoted Guardians,NaN,3.5,3
13801,18261,walts-tv-tempe,NaN,"[{'alias': 'electronics', 'title': 'Electronic...","{'latitude': 33.3411937, 'longitude': -111.966...",13496.966594,33.341194,-111.966967,homeservices,Walts TV,$$$$,3.5,36
15248,20643,diamondback-billiards-and-games-tempe-tempe,NaN,"[{'alias': 'poolbilliards', 'title': 'Pool & B...","{'latitude': 33.3411937, 'longitude': -111.966...",13496.966594,33.341194,-111.966967,shopping,Diamondback Billiards & Games - Tempe,$$,3.5,43
12043,15315,bindl-chiropractic-phoenix,NaN,"[{'alias': 'chiropractors', 'title': 'Chiropra...","{'latitude': 33.3467407226562, 'longitude': -1...",12363.987603,33.346741,-111.979774,health,Bindl Chiropractic,NaN,5.0,2
13772,18231,wells-fargo-home-mortgage-phoenix-14,NaN,"[{'alias': 'mortgagebrokers', 'title': 'Mortga...","{'latitude': 33.3467407226562, 'longitude': -1...",12363.987603,33.346741,-111.979774,homeservices,Wells Fargo Home Mortgage,NaN,1.0,1
13771,18230,bear-2-protection-phoenix,NaN,"[{'alias': 'securitysystems', 'title': 'Securi...","{'latitude': 33.3467407226562, 'longitude': -1...",12363.987603,33.346741,-111.979774,homeservices,Bear 2 Protection,NaN,4.5,6
11071,13573,los-taquitos-phoenix,NaN,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...","{'latitude': 33.34816, 'longitude': -111.9819}",12131.294818,33.348160,-111.981900,restaurants,Los Taquitos,$,4.0,820
13774,18233,phoenix-water-damage-phoenix-2,NaN,"[{'alias': 'homecleaning', 'title': 'Home Clea...","{'latitude': 33.34816, 'longitude': -111.9819}",12131.294818,33.348160,-111.981900,homeservices,Phoenix Water Damage,NaN,5.0,1
11182,13687,vine-tavern-and-eatery-tempe-3,NaN,"[{'alias': 'irish', 'title': 'Irish'}, {'alias...","{'latitude': 33.3489751, 'longitude': -111.927...",15154.115299,33.348975,-111.927172,restaurants,Vine Tavern & Eatery,$$,3.5,137
11183,13688,squarz-bakery-and-cafe-tempe,NaN,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...","{'latitude': 33.3489751, 'longitude': -111.927...",15154.115299,33.348975,-111.927172,restaurants,Squarz Bakery & Cafe,$,4.5,169
12024,15296,ahwatukee-family-physicians-pc-phoenix,NaN,"[{'alias': 'familydr', 'title': 'Family Practi...","{'latitude': 33.349536895752, 'longitude': -11...",12252.939444,33.349537,-111.976341,health,Ahwatukee Family Physicians PC,NaN,3.0,2
12025,15297,mark-j-woodland-dds-phoenix,NaN,"[{'alias': 'cosmeticdentists', 'title': 'Cosme...","{'latitude': 33.349536895752, 'longitude': -11...",12252.939444,33.349537,-111.976341,health,"Mark J Woodland, DDS",NaN,4.0,7
12023,15295,ahwatukee-dental-phoenix,NaN,"[{'alias': 'cosmeticdentists', 'title': 'Cosme...","{'latitude': 33.349536895752, 'longitude': -11...",12252.939444,33.349537,-111.976341,health,Ahwatukee Dental,NaN,4.0,1
11072,13574,amaravati-indian-cuisine-tempe,NaN,"[{'alias': 'indpak', 'title': 'Indian'}]","{'latitude': 33.34967, 'longitude': -111.94759}",13800.953218,33.349670,-111.947590,restaurants,Amaravati Indian Cuisine,$$,3.5,39
15234,20624,three-kings-smoke-and-vape-tempe,NaN,"[{'alias': 'headshops', 'title': 'Head Shops'}...","{'latitude': 33.34967, 'longitude': -111.94759}",13800.953218,33.349670,-111.947590,shopping,Three Kings Smoke & Vape,NaN,4.0,5
12032,15304,rosewood-tempe-centers-for-eating-disorders-tempe,NaN,"[{'alias': 'rehabilitation_center', 'title': '...","{'latitude': 33.34968, 'longitude': -111.95386}",13429.807956,33.349680,-111.953860,health,Rosewood Tempe Centers for Eating Disorders,NaN,3.0,2
13740,18199,entrust-property-management-tempe,NaN,"[{'alias': 'propertymgmt', 'title': 'Property ...","{'latitude': 33.34968, 'longitude': -111.95386}",13429.807956,33.349680,-111.953860,homeservices,Entrust Property Management,NaN,3.5,12
15231,20621,2b-wireless-tempe,NaN,"[{'alias': 'mobilephones', 'title': 'Mobile Ph...","{'latitude': 33.3496856689453, 'longitude': -1...",13668.851632,33.349686,-111.949776,shopping,2B Wireless,NaN,4.0,1
11063,13565,jimmy-johns-tempe-3,NaN,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...","{'latitude': 33.3496856689453, 'longitude': -1...",13668.851632,33.349686,-111.949776,restaurants,Jimmy John's,$,3.0,77
11150,13653,clockwork-pizza-tempe,NaN,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...","{'latitude': 33.35008, 'longitude': -111.92957}",14909.017898,33.350080,-111.929570,restaurants,Clockwork Pizza,$,4.0,243
11151,13654,p-croissant-tempe-2,NaN,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...","{'latitude': 33.35008, 'longitude': -111.92957}",14909.017898,33.350080,-111.929570,restaurants,P.croissant,$,3.5,174
12013,15285,walmart-pharmacy-tempe,NaN,"[{'alias': 'pharmacy', 'title': 'Pharmacy'}]","{'latitude': 33.35052, 'longitude': -111.96127}",12937.116177,33.350520,-111.961270,health,Walmart Pharmacy,NaN,1.0,1
15097,20479,walmart-garden-center-tempe,NaN,"[{'alias': 'gardening', 'title': 'Nurseries & ...","{'latitude': 33.35052, 'longitude': -111.96127}",12937.116177,33.350520,-111.961270,shopping,Walmart Garden Center,NaN,3.0,1
11012,13514,subway-tempe-33,NaN,"[{'alias': 'hotdogs', 'title': 'Fast Food'}, {...","{'latitude': 33.3505249023438, 'longitude': -1...",12936.501995,33.350525,-111.961273,restaurants,Subway,$,4.0,5
12012,15284,value-dental-centers-tempe,NaN,"[{'alias': 'cosmeticdentists', 'title': 'Cosme...","{'latitude': 33.3505249023438, 'longitude': -1...",12936.501995,33.350525,-111.961273,health,Value Dental Centers,NaN,2.0,6

In [11]:
rowstodrop = df[(df['distance']>maxradius) | df['latitude'].isnull() | df['longitude'].isnull()].index

df.drop(rowstodrop, axis=0, inplace=True)
df.shape

(10463, 13)

In [12]:
df['lat_index'] = round(df['latitude'], 3)
df['long_index'] = df['longitude']

df = df.set_index(['lat_index','long_index'], drop=False).sort_index()
df = df.sort_index(level = [0,1])

In [13]:
df.head()

                       Unnamed: 0                                  alias  \
lat_index long_index
33.366    -112.065170       13839          maravilla-care-center-phoenix
33.367    -112.055788       15601             jim-tucker-roofing-phoenix
33.368    -112.064719       15589  supercool-heating-and-cooling-phoenix
          -112.049320        1459               the-rag-tacker-phoenix-2
33.370    -112.055622        7467                 robinson-ranch-phoenix

                       attributes  \
lat_index long_index
33.366    -112.065170         NaN
33.367    -112.055788         NaN
33.368    -112.064719         NaN
          -112.049320         NaN
33.370    -112.055622         NaN

                                                              categories  \
lat_index long_index
33.366    -112.065170  [{'alias': 'rehabilitation_center', 'title': '...
33.367    -112.055788         [{'alias': 'roofing', 'title': 'Roofing'}]
33.368    -112.064719  [{'alias': 'hvac', 'title': 'Heating & Air Con...
          -112.049320  [{'alias': 'autoupholstery', 'title': 'Auto Up...
33.370    -112.055622  [{'alias': 'nonprofit', 'title': 'Community Se...

                                                             coordinates  \
lat_index long_index
33.366    -112.065170   {'latitude': 33.366016, 'longitude': -112.06517}
33.367    -112.055788  {'latitude': 33.366611, 'longitude': -112.055788}
33.368    -112.064719  {'latitude': 33.368136, 'longitude': -112.064719}
          -112.049320    {'latitude': 33.36813, 'longitude': -112.04932}
33.370    -112.055622  {'latitude': 33.3696265319692, 'longitude': -1...

                          distance   latitude   longitude  main_category  \
lat_index long_index
33.366    -112.065170  8933.101984  33.366016 -112.065170         health
33.367    -112.055788  8713.191276  33.366611 -112.055788   homeservices
33.368    -112.064719  8694.554446  33.368136 -112.064719   homeservices
          -112.049320  8487.518620  33.368130 -112.049320     automotive
33.370    -112.055622  8379.608381  33.369627 -112.055622  localservices

                                              name  price  rating  \
lat_index long_index
33.366    -112.065170        Maravilla Care Center      0     1.0
33.367    -112.055788           Jim Tucker Roofing      0     5.0
33.368    -112.064719  SuperCool Heating & Cooling      0     4.0
          -112.049320               The Rag Tacker      0     5.0
33.370    -112.055622               Robinson Ranch      0     3.5

                       review_count  lat_index  long_index
lat_index long_index
33.366    -112.065170             1     33.366 -112.065170
33.367    -112.055788             1     33.367 -112.055788
33.368    -112.064719             4     33.368 -112.064719
          -112.049320             5     33.368 -112.049320
33.370    -112.055622             6     33.370 -112.055622

In [14]:
cat_alias_dict = json.load(open('cat_alias_dict.json','r'))

def categories_to_alias2(dfrow) :
    catstring = dfrow['categories']
    if type(catstring) != str : return str(dfrow['price']) + '_other'
    rawlis = list(set(catstring.split(', ')))
    lis = []
    for item in rawlis :
        if 'alias' in item :
            alias = item.split(':')[1].strip().strip("'")
            lis += [alias]
#     print(lis)
    lis = list(map(get_alias2,lis))
    lis = [item for item in lis if item != '_other']
    lis += ['_' + dfrow['main_category']]
    # some new categories are not in category dictionary, and each row already has main category
    # so am taking out all instances where business category could not be found
    lis = set(map((lambda x : str(dfrow['price']) + x),lis))
    return ' '.join(lis)

def get_alias2(cat) :
    try :
        alias = '_' + str(cat_alias_dict[map_category(cat_alias_dict[cat])])
    except : alias = '_other'
    return alias

def categories_to_alias(dfrow) :
    catstring = dfrow['categories']
    if type(catstring) != str : return str(dfrow['price']) + '_other'
    lis = list(set(catstring.split(', ')))
    lis = map(get_alias,lis)
    lis = set(map((lambda x : str(dfrow['price']) + x),lis))
    return ' '.join(lis)

def get_alias(cat) :
    try :
        alias = '_' + str(cat_alias_dict[map_category(cat)])
    except : alias = '_other'
    return alias

## Function to map titles to macro-categories if not in top 150

dict_2A = json.load(open('dict_2A.json','r'))
dict_2B = json.load(open('dict_2B.json','r'))

def map_category(category):
    if category not in top_148:
        if category in dict_2B.keys():
            title = dict_2B[category]
        else:
            title = category
        if title in dict_2A.keys():
            title_2 = dict_2A[title]
            return(title_2)
        else:
            return(title)
    else:
        return(category)

In [15]:
df['alias_cats'] = df.apply(categories_to_alias2, axis=1)

In [17]:

df.to_csv('PhoenixBusinessesFinalUpdated.csv',sep=';',header=True,index=True,compression='gzip')

In [16]:
df['alias_cats']

lat_index  long_index
33.366     -112.065170                                             0_health
33.367     -112.055788                                       0_homeservices
33.368     -112.064719                                0_homeservices 0_hvac
           -112.049320                                  0_auto 0_automotive
33.370     -112.055622                                      0_localservices
33.371     -112.052294                                0_health 0_medcenters
           -112.047606                                      0_localservices
33.372     -112.039800                                       0_homeservices
33.373     -112.032738                       0_localservices 0_professional
           -112.032738                      0_realestateagents 0_realestate
           -112.032738                                       0_homeservices
           -112.032738                                       0_homeservices
           -112.032738                         0_homeservices 0_landscaping
           -112.032738                         0_homeservices 0_landscaping
33.374     -112.074020                                         0_realestate
           -112.068642                                0_health 0_medcenters
           -112.068642                                             0_health
           -112.009403                         0_localservices 0_itservices
33.375     -112.076000                       0_homeservices 0_localservices
           -112.071145                                          0_education
           -112.069830                                          0_education
           -112.063099        0_realestateagents 0_Real Estate 0_realestate
33.376     -112.050478                        0_homeservices 0_homecleaning
           -112.038530                                               0_pets
           -112.035714                                       0_homeservices
           -112.034500                        0_realestate 0_realestatesvcs
           -112.034500                            0_plumbing 0_homeservices
           -112.032352                                   0_juicebars 0_food
           -112.029550                        2_food 2_grocery 2_drugstores
           -112.029550                                             0_health
           -112.028740          2_skincare 2_spas 2_beautysvc 2_othersalons
           -112.012570                                       0_professional
           -112.009438                         0_homeservices 0_landscaping
33.377     -112.081550                                    0_petstore 0_pets
           -112.073664                        1_chicken_wings 1_restaurants
           -112.073634                              1_chinese 1_restaurants
           -112.073610                                1_pizza 1_restaurants
           -112.073000                          0_health 0_generaldentistry
           -112.072900         1_servicestations 1_automotive 1_convenience
           -112.071770                                      0_localservices
           -112.070892                 1_restaurants 1_sandwiches 1_hotdogs
           -112.070892                 0_hotdogs 0_sandwiches 0_restaurants
           -112.070040                             0_chiropractors 0_health
           -112.069977                                0_health 0_physicians
           -112.069977                           0_health 0_physicaltherapy
           -112.068977                                             0_health
           -112.068010                                0_health 0_medcenters
           -112.066280                    1_restaurants 1_burgers 1_hotdogs
           -112.065415    2_cosmetics 2_convenience 2_beautysvc 2_drugst...
           -112.049722                                          0_education
           -112.048393                                 0_convenience 0_food
           -112.047005                                      1_localservices
           -112.046796                              3_shopping 3_drugstores
           -112.046100                            2_beautysvc 2_othersalons
           -112.046100                       0_localservices 0_mobilephones
           -112.046100                           1_localservices 1_dryclean
           -112.046100          2_restaurants 2_pizza 2_chicken_wings 2_bbq
           -112.035446                                             0_active
           -112.035446                                       0_hotelstravel
           -112.035446                                           0_shopping
           -112.035446                                       0_homeservices
           -112.035446                         0_homeservices 0_landscaping
           -112.032097              0_active 0_healthtrainers 0_yoga 0_gyms
           -112.031248                    0_hotdogs 0_burgers 0_restaurants
           -112.029873                    1_restaurants 1_mexican 1_hotdogs
           -112.029821                                  1_bbq 1_restaurants
           -112.029760                                   1_hair 1_beautysvc
           -112.029760                                    1_icecream 1_food
           -112.029760                              1_burgers 1_restaurants
           -112.029760         1_restaurants 1_delis 1_sandwiches 1_hotdogs
           -112.029727          3_electronics 3_mobilephones 3_professional
           -112.027016                             0_venues 0_eventservices
           -112.027015                 2_nightlife 2_sandwiches 2_wine_bars
           -112.002492                            0_apartments 0_realestate
           -111.997511                    2_restaurants 2_chinese 2_seafood
33.378     -112.099740                              3_shopping 3_drugstores
           -112.098723                  0_food 0_hotdogs 0_coffee 0_burgers
           -112.083710                                      0_religiousorgs
           -112.082280         2_servicestations 2_convenience 2_automotive
           -112.082183             0_financialservices 0_jewelry 0_shopping
           -112.081395                                 0_tires 0_automotive
           -112.081181                                        0_restaurants
           -112.074455                                      0_localservices
           -112.073959                            1_othersalons 1_beautysvc
           -112.073673                    1_restaurants 1_mexican 1_hotdogs
           -112.073670              1_chicken_wings 1_restaurants 1_hotdogs
           -112.072971              1_chicken_wings 1_restaurants 1_hotdogs
           -112.072407                                  0_financialservices
           -112.072403                                             0_health
           -112.072403                                           2_shopping
           -112.071362                                 0_jewelry 0_shopping
           -112.069669                1_icecream 1_burgers 1_hotdogs 1_food
           -112.068664                          0_tires 0_auto 0_automotive
           -112.066650                            2_beautysvc 2_othersalons
           -112.066490                                             0_health
           -112.065767                  2_health 2_opticians 2_optometrists
           -112.065669                           2_localservices 2_dryclean
           -112.064289                                1_barbers 1_beautysvc
           -112.063644              0_automotive 0_tires 0_auto 0_oilchange
           -112.047770         0_servicestations 0_convenience 0_automotive
                                                ...
33.523     -112.063819                                0_health 0_physicians
           -112.049338                                 2_jewelry 2_shopping
           -112.049337                                             0_health
           -112.049282              2_tradamerican 2_nightlife 2_sportsbars
           -112.049161                    1_restaurants 1_mexican 1_hotdogs
           -112.048630                                2_beautysvc 2_massage
           -112.048415                     0_active 0_healthtrainers 0_gyms
           -112.048245                                               2_food
           -112.048093                                2_beautysvc 2_barbers
           -112.047830                                      1_coffee 1_food
           -112.047625                  2_active 2_localservices 2_shopping
           -112.047625      2_italian 2_pizza 2_restaurants 2_chicken_wings
           -112.047544                            1_othersalons 1_beautysvc
           -112.047261                                      0_localservices
           -112.047166                                      1_coffee 1_food
           -112.046906                             2_womenscloth 2_shopping
           -112.046904                                       0_professional
           -112.046900                                0_barbers 0_beautysvc
           -112.046900                           0_localservices 0_dryclean
           -112.046900                       0_pets 0_groomer 0_pet_sitting
           -112.046900                 2_menscloth 2_womenscloth 2_shopping
           -112.046700                                          1_nightlife
           -112.038116                                      0_religiousorgs
           -112.027007                              2_nightlife 2_wine_bars
           -112.026650                             0_venues 0_eventservices
           -112.026650       3_newamerican 3_breakfast_brunch 3_restaurants
           -112.023247                                       0_hotelstravel
           -112.021816          0_Real Estate 0_realestatesvcs 0_realestate
33.524     -112.065400              0_chicken_wings 0_hotdogs 0_restaurants
           -112.064375                      1_salad 1_restaurants 1_hotdogs
           -112.062630                                  0_financialservices
           -112.062209                            0_apartments 0_realestate
           -112.055733                                       0_professional
           -112.052102                            0_apartments 0_realestate
           -112.050151     1_massage 1_massage_therapy 1_beautysvc 1_health
           -112.050047                    2_beautysvc 2_waxing 2_medicalspa
           -112.050047                                             0_health
           -112.050047                                             0_health
           -112.049548                                             0_health
           -112.049223                                       0_professional
           -112.049057                                    2_food 2_bakeries
           -112.048931                              2_restaurants 2_burgers
           -112.048660                                0_health 0_physicians
           -112.048660                                             0_health
           -112.048244                                             0_active
           -112.048121    2_shopping 2_homedecor 2_womenscloth 2_accesso...
           -112.048003                                           2_shopping
           -112.047905                             2_womenscloth 2_shopping
           -112.047899                                2_restaurants 2_cafes
           -112.047860                                 0_beautysvc 0_waxing
           -112.047841                     2_restaurants 2_breakfast_brunch
           -112.047840                           2_hairstylists 2_beautysvc
           -112.047788                                   0_beautysvc 0_hair
           -112.047749      2_health 2_beautysvc 2_hairremoval 2_medicalspa
           -112.047665                                   0_beautysvc 0_hair
           -112.047355                                    2_bakeries 2_food
           -112.047355                 2_localservices 2_shopping 2_jewelry
           -112.047355                                             0_health
           -112.047285                    0_bbq 0_restaurants 0_newamerican
           -112.047173                     0_beautysvc 0_othersalons 0_hair
           -112.047063                                               0_arts
           -112.047020       0_beautysvc 0_waxing 0_eyelashservice 0_health
           -112.046980                      2_steak 2_food 2_desserts 2_bbq
           -112.046980    2_restaurants 2_tradamerican 2_breakfast_brunc...
           -112.046731                 1_nightlife 1_sandwiches 1_wine_bars
           -112.046495                                           2_shopping
           -112.046390           0_chiropractors 0_health 0_physicaltherapy
           -112.046390                                         0_vet 0_pets
           -112.045700                                             0_health
           -112.045238                        0_realestate 0_realestatesvcs
           -112.045013                                             0_active
           -112.044560     2_skincare 2_eyelashservice 2_waxing 2_beautysvc
33.525     -112.055280                            0_healthtrainers 0_active
           -112.055280                            0_apartments 0_realestate
           -112.050316                                      0_eventservices
           -112.048205                  0_beautysvc 0_skincare 0_medicalspa
           -112.048112                           2_artsandcrafts 2_shopping
           -112.048052                                    1_icecream 1_food
           -112.048031                                               2_food
           -112.047964                              0_restaurants 0_chinese
           -112.047736                                    0_petstore 0_pets
           -112.047635                           0_eventservices 0_florists
           -112.047635                                             0_health
           -112.047625                                      0_yoga 0_active
           -112.047625        0_beautysvc 0_othersalons 0_skincare 0_health
           -112.047625                                   0_beautysvc 0_hair
           -112.047625                                   0_beautysvc 0_hair
           -112.047625                           0_beautysvc 0_hairstylists
           -112.047625                3_beautysvc 3_waxing 3_eyelashservice
           -112.047625                           0_beautysvc 0_hairstylists
           -112.047625                 2_skincare 2_hairremoval 2_beautysvc
           -112.047625                           2_hairstylists 2_beautysvc
           -112.047625                                0_barbers 0_beautysvc
           -112.047625                                    1_bakeries 1_food
           -112.047549                                       0_homeservices
           -112.047486                          0_beautysvc 0_waxing 0_hair
           -112.047210                           1_restaurants 1_sandwiches
           -112.047148                   1_coffee 1_breakfast_brunch 1_food
           -112.046980                                               3_arts
           -112.045876                                       0_professional
Name: alias_cats, Length: 10463, dtype: object

### Census Block Population and Income to X_train Coordinates DataFrame

In [22]:
table = DBF('tl_2014_04_tabblock10.dbf')
type(table)

dbfread.dbf.DBF

In [23]:
df_coords = pd.DataFrame(iter(table))
df_coords.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
0,04,001,970502,1599,040019705021599,Block 1599,G5040,R,,,S,0,251271,+33.9097858,-109.4197413
1,04,011,960100,1275,040119601001275,Block 1275,G5040,R,,,S,0,8809,+33.1205764,-109.2852833
2,04,023,966101,1103,040239661011103,Block 1103,G5040,R,,,S,3013295,1901,+31.6172066,-111.0172819
3,04,023,966105,1080,040239661051080,Block 1080,G5040,R,,,S,576618,918,+31.3361979,-110.9826473
4,04,023,966105,1068,040239661051068,Block 1068,G5040,R,,,S,36049198,11450,+31.4063471,-111.1182378

In [24]:
df_coords = df_coords[['GEOID10','INTPTLAT10','INTPTLON10','UR10','ALAND10','AWATER10']]
df_coords.to_csv('PhoenixCoords.csv',sep=';',header=True,index=True,compression='gzip')

In [25]:
def cut(geoid) :
    index = str(geoid)
    return int(index[0:(len(index)-3)])

def matchincome(geoid) :
    try : return blockgroupincome.loc[geoid,'income']
    except : return 0

def matchpop(geoid) :
    try : return blockgrouppop.loc[geoid,'population']
    except : return 0

In [26]:
table = DBF('tabblock2010_04_pophu.dbf')

populations = pd.DataFrame(iter(table))
populations.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE,BLOCKID10,PARTFLG,HOUSING10,POP10
0,04,027,011107,1059,040270111071059,N,0,0
1,04,027,011107,2002,040270111072002,N,0,0
2,04,027,011107,2045,040270111072045,N,0,0
3,04,027,012100,1437,040270121001437,N,0,0
4,04,027,010914,2037,040270109142037,N,0,0

In [27]:
populations = populations[['BLOCKID10','POP10']]

In [28]:
populations.columns = ['GEO.id2','population']
populations['blockgroup'] = populations['GEO.id2'].map(cut)
populations['GEO.id2'] = populations['GEO.id2'].map(int)
populations.set_index(['GEO.id2'],inplace=True,drop=False)
populations.head()

                       GEO.id2  population   blockgroup
GEO.id2
40270111071059  40270111071059           0  40270111071
40270111072002  40270111072002           0  40270111072
40270111072045  40270111072045           0  40270111072
40270121001437  40270121001437           0  40270121001
40270109142037  40270109142037           0  40270109142

In [29]:
populations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241666 entries, 40270111071059 to 40250016033039
Data columns (total 3 columns):
GEO.id2       241666 non-null int64
population    241666 non-null int64
blockgroup    241666 non-null int64
dtypes: int64(3)
memory usage: 7.4 MB

In [30]:
blockgroupincome = pd.read_csv('ACS_17_ArizonaIncome.csv')
blockgroupincome.head()

       GEO.id2 population  income
0          Id2   Estimate     NaN
1  40130101011      54499  1818.0
2  40130101012      43901  1758.0
3  40130101013      72350  1339.0
4  40130101021      78229   978.0

In [31]:
blockgroupincome.drop(0, axis=0, inplace=True)
blockgroupincome['GEO.id2'] = blockgroupincome['GEO.id2'].map(int)
blockgroupincome.set_index('GEO.id2', inplace=True)
blockgroupincome.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2503 entries, 40130101011 to 40139807001
Data columns (total 2 columns):
population    2503 non-null object
income        2503 non-null float64
dtypes: float64(1), object(1)
memory usage: 58.7+ KB

In [32]:
populations['income'] = populations['blockgroup'].map(matchincome)
populations['income'].value_counts()

0.0       169406
910.0        810
532.0        787
978.0        672
3289.0       639
2206.0       635
2921.0       622
5942.0       531
4068.0       487
1218.0       429
1731.0       416
1514.0       327
1151.0       321
1085.0       304
2447.0       269
3740.0       260
3332.0       256
1923.0       239
916.0        228
1359.0       227
1775.0       225
1709.0       216
1161.0       206
1506.0       205
2573.0       203
1362.0       199
1630.0       195
2503.0       194
2961.0       189
1804.0       185
3857.0       182
1267.0       177
2903.0       171
4415.0       171
1596.0       170
1123.0       158
1991.0       156
1600.0       154
1822.0       153
1794.0       153
4499.0       152
2092.0       152
7602.0       150
1407.0       150
1862.0       147
1480.0       147
2185.0       147
1811.0       144
1758.0       142
1645.0       141
1052.0       140
3791.0       134
1856.0       133
3133.0       133
1785.0       132
1196.0       128
1507.0       127
1809.0       126
1339.0       126
1284.0       122
1849.0       121
1471.0       120
1460.0       119
1508.0       117
2451.0       116
1376.0       116
1900.0       115
2145.0       114
2542.0       113
1389.0       112
1209.0       112
2329.0       111
3823.0       111
3263.0       110
1169.0       110
3821.0       109
1256.0       108
2395.0       108
1851.0       108
7642.0       107
1035.0       106
1635.0       106
2146.0       106
2314.0       105
5633.0       105
1040.0       105
1861.0       104
1748.0       104
1653.0       104
6089.0       104
1255.0       103
1562.0       103
1924.0       103
1808.0       102
2039.0       101
2459.0       101
1894.0       100
2122.0       100
1743.0       100
1671.0       100
           ...
2731.0        10
543.0         10
304.0         10
1871.0        10
1293.0        10
1034.0        10
945.0         10
1925.0        10
837.0         10
623.0         10
1713.0        10
2389.0        10
4092.0        10
423.0         10
1399.0        10
889.0         10
1068.0         9
2710.0         9
540.0          9
1994.0         9
120.0          9
354.0          9
1690.0         9
992.0          9
949.0          9
858.0          9
498.0          9
740.0          9
926.0          9
597.0          8
493.0          8
448.0          8
745.0          8
4263.0         8
2515.0         8
2355.0         8
969.0          8
1852.0         8
898.0          8
622.0          8
2715.0         8
903.0          8
2186.0         7
324.0          7
919.0          7
1613.0         7
1523.0         7
240.0          7
1268.0         7
603.0          7
1387.0         7
1050.0         7
724.0          7
795.0          7
971.0          7
492.0          7
1950.0         7
1859.0         7
699.0          7
661.0          7
700.0          7
2363.0         7
1803.0         7
1402.0         6
1148.0         6
524.0          6
608.0          6
633.0          6
1893.0         6
3351.0         6
1588.0         6
396.0          6
1220.0         6
556.0          6
1095.0         6
962.0          6
3249.0         5
385.0          5
2922.0         5
1181.0         5
553.0          5
866.0          5
796.0          4
2109.0         4
655.0          4
808.0          3
1898.0         3
1198.0         3
102.0          3
650.0          3
607.0          3
1187.0         3
473.0          2
1400.0         2
458.0          2
1752.0         2
249.0          2
287.0          1
534.0          1
627.0          1
Name: income, Length: 1596, dtype: int64

In [33]:
blockgrouppop = blockgroupincome

populations['blockgrouppop'] = populations['blockgroup'].map(matchpop)
populations['blockgrouppop'].value_counts()

0         168987
17326        787
14746        753
78229        661
18185        639
22581        622
31203        573
3880         531
33868        487
-            419
32150        416
20328        392
18930        301
33053        282
21180        278
19604        269
21896        260
47731        256
21618        239
18767        228
30785        225
16644        203
24263        196
30453        182
18186        172
46435        171
12395        171
31979        171
15586        160
26170        157
39747        154
43373        152
29197        150
24003        150
26288        145
25530        138
12132        134
23799        133
112222       126
20814        122
17091        119
12895        116
43901        114
35941        113
33372        112
28170        111
35455        111
20964        109
25307        108
38521        107
21718        105
36011        104
27142        101
15428        100
32154        100
54499         98
38691         98
34027         97
18003         97
28744         96
31837         95
26054         94
25905         93
31543         92
10394         92
15563         91
24330         91
31072         90
68116         90
4732          89
35036         88
17225         88
35728         87
47942         87
51600         87
10438         86
54001         84
10587         84
18756         83
44210         82
59961         81
27822         81
24800         79
32244         79
41794         79
73299         77
30473         77
14449         76
28867         76
33177         76
39881         75
42069         75
23171         75
23924         75
47557         75
15276         74
19480         73
34380         73
34181         73
8399          72
           ...
20249          7
51080          7
41373          7
10606          7
12169          7
9020           7
26283          6
21717          6
12250          6
56565          6
12503          6
36563          6
9812           6
38831          6
55830          6
21377          6
22773          6
11490          6
32013          6
22894          6
71651          6
14445          6
10464          6
9904           6
56813          6
19322          6
11330          6
14004          6
16794          6
46954          6
13366          6
21746          5
49916          5
20597          5
34146          5
15328          5
9734           5
9546           5
9913           5
10700          5
86573          5
3222           5
58602          5
17474          5
8994           5
13447          5
18087          5
13201          5
14636          5
20416          4
26666          4
21567          4
17977          4
18643          4
18183          4
26201          4
21689          4
22530          4
15910          4
24080          4
36277          4
27842          4
9477           3
6852           3
13987          3
55104          3
16266          3
19394          3
14597          3
29919          3
10155          3
11831          3
22827          3
29041          3
20922          3
12455          3
48786          3
30948          3
9862           3
42842          2
38530          2
17232          2
28296          2
11995          2
25529          2
13489          2
27458          2
18770          2
21135          2
25743          2
25087          2
19047          2
8758           2
23494          2
20620          1
29557          1
15002          1
19589          1
26401          1
22106          1
Name: blockgrouppop, Length: 2437, dtype: int64

### X_train Coordinates DataFrame

In [34]:
features = ['distance','urban','latitude','longitude','blockgroup','income',
                'blockgrouppop','population','landarea','waterarea','block']

In [35]:
def blocksdropna(df) :
    df.drop(df[df['income']==0].index, inplace=True)
    mask = df['income'].astype(str)=='-'
    df.drop(df[mask].index, inplace=True)
    df.drop(df[df['population']<20].index, inplace=True)  # min 20 people for block to be counted

In [37]:
blocks = pd.read_csv('PhoenixCoords.csv',sep=';',compression='gzip')
blocks.head()

   Unnamed: 0         GEOID10  INTPTLAT10  INTPTLON10 UR10   ALAND10  AWATER10
0           0  40019705021599   33.909786 -109.419741    R         0    251271
1           1  40119601001275   33.120576 -109.285283    R         0      8809
2           2  40239661011103   31.617207 -111.017282    R   3013295      1901
3           3  40239661051080   31.336198 -110.982647    R    576618       918
4           4  40239661051068   31.406347 -111.118238    R  36049198     11450

In [38]:
blocks.drop('Unnamed: 0', axis=1, inplace=True)
blocks.columns = ['GEO.id2','latitude','longitude','urban','landarea','waterarea']
blocks['blockgroup'] = blocks['GEO.id2'].map(cut)
blocks['GEO.id2'] = blocks['GEO.id2'].map(int)
blocks = blocks.set_index('GEO.id2')
blocks.sort_index(inplace=True)
blocks.head()

                 latitude   longitude urban  landarea  waterarea   blockgroup
GEO.id2
40019426001000  36.915534 -109.759147     R  11931369          0  40019426001
40019426001001  36.845741 -109.787031     R  72198969       3218  40019426001
40019426001002  36.812747 -109.784069     R     62351          0  40019426001
40019426001003  36.847153 -109.834610     R     12691          0  40019426001
40019426001004  36.858668 -109.824409     R    662399          0  40019426001

In [39]:
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241666 entries, 40019426001000 to 40279800061142
Data columns (total 6 columns):
latitude      241666 non-null float64
longitude     241666 non-null float64
urban         241666 non-null object
landarea      241666 non-null int64
waterarea     241666 non-null int64
blockgroup    241666 non-null int64
dtypes: float64(2), int64(3), object(1)
memory usage: 12.9+ MB

In [40]:
blocks = blocks.join(populations[['income','blockgrouppop','population']], how='inner')
blocks.shape

(241666, 9)

In [41]:
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241666 entries, 40019426001000 to 40279800061142
Data columns (total 9 columns):
latitude         241666 non-null float64
longitude        241666 non-null float64
urban            241666 non-null object
landarea         241666 non-null int64
waterarea        241666 non-null int64
blockgroup       241666 non-null int64
income           241666 non-null float64
blockgrouppop    241666 non-null object
population       241666 non-null int64
dtypes: float64(3), int64(4), object(2)
memory usage: 18.4+ MB

In [42]:
blocksdropna(blocks)
blocks.shape

(40486, 9)

In [43]:
blocks[(blocks['population']!=0) & (blocks['income']==0)] # must drop as don't have y target (income)

Empty DataFrame
Columns: [latitude, longitude, urban, landarea, waterarea, blockgroup, income, blockgrouppop, population]
Index: []

In [44]:
testlat, testlong  # used as center of Phoenix

(33.444506, -112.043629)

In [45]:
blocks['distance_from_city'] = blocks.apply(
    (lambda row : calcDist(row['latitude'],row['longitude'],testlat, testlong)),         
    axis=1)

In [46]:
blocks = blocks[blocks['distance_from_city'] < (maxradius - 1000)]
blocks.shape

(2905, 10)

In [47]:
blocks = blocks.reindex(['distance_from_city','urban','latitude','longitude','blockgroup','income',
                'blockgrouppop','population','landarea','waterarea'], axis=1)
blocks.head()

,distance_from_city,urban,latitude,longitude,blockgroup,income,blockgrouppop,population,landarea,waterarea
GEO.id2,,,,,,,,,,
40131075001008,7928.005497,U,33.513317,-112.066716,40131075001,914.0,62831,41,31165,0
40131075001009,7869.999940,U,33.512366,-112.068371,40131075001,914.0,62831,78,42086,0
40131075001010,7990.910239,U,33.512483,-112.072116,40131075001,914.0,62831,34,29039,0
40131075001011,7906.213443,U,33.511605,-112.072344,40131075001,914.0,62831,26,25054,0
40131075001012,7785.779121,U,33.511525,-112.068550,40131075001,914.0,62831,75,39960,0

In [48]:
blocks[blocks['distance_from_city'] < (maxradius - 1000)][['population']].sum()

population    294309
dtype: int64

In [49]:
def bootstrapBlocks(blocksdf) :
    df = blocksdf.copy()
    print(df.index)
    for index in blocksdf[blocksdf['population']>100].index :
        iterpop = int(np.ceil(blocksdf.loc[index,'population'] / 100))
        lis = [pd.Series(data=blocksdf.loc[index].values, name=index+(10**15*i),
                        index=blocksdf.columns) for i in range(1,iterpop)]
#         print(len(lis))
        df = df.append(lis) # more efficient and faster to append all at once
    return df

In [50]:
blocks = bootstrapBlocks(blocks)
blocks.shape

Int64Index([40131075001008, 40131075001009, 40131075001010, 40131075001011,
            40131075001012, 40131075001013, 40131075001014, 40131075001016,
            40131075003017, 40131075003018,
            ...
            40131173002005, 40133197041015, 40133197041016, 40133197041018,
            40133197041020, 40133197041021, 40133197041022, 40133197041036,
            40133197041037, 40133197041038],
           dtype='int64', name='GEO.id2', length=2905)

(4401, 10)

In [51]:
blocks.to_csv('PhoenixTrainRowCoords.csv',
          sep=';',
          header=True,
          index=True,
          compression='gzip')

## Vectorize Businesses and Assemble X_train

### Construct Category Corpus with Aliases

In [52]:
lat1000m = -115.161605-(-115.172713)

def makecorpus(df, lat, long) :
    distances = calcDistancesV2(df, lat, long)
    distances = pd.DataFrame(data=distances, index=distances.index, columns=['distances'])
    distances = distances.join(df['alias_cats']) #['alias'] = df.loc[distances.index, 'alias']
    print(distances.shape)
    temp = distances.apply(addproximity, axis=1)
    return ' '.join(temp)

def addproximity(dfrow) :
    w = ('near' if (dfrow.loc['distances'] <= 500) else 'far')
    temp = dfrow.loc['alias_cats'].split(' ')
    temp = list(map((lambda x : (x + '_' + w)), temp))
    return ' '.join(temp)

def calcDistancesV2(multiindexdf, lat, long) :
    minlat = lat - lat1000m
    maxlat = lat + lat1000m
    minlong = long - lat1000m
    maxlong = long + lat1000m
#     multiindexdf = multiindexdf.sort_index(level = [0,1])
    idx = pd.IndexSlice
    df = multiindexdf.loc[idx[minlat:maxlat, minlong:maxlong], ['latitude','longitude']]
    distances = pd.Series(index=df.index)
    for index in df.index :
        try :
            distances[index] = calcDist(lat, long, df.loc[index,'latitude'].values[0], 
                                    df.loc[index,'longitude'].values[0])
        except : # catch very rare attribute error to fill in rest of rows
            distances[index] = 10000 # if calcDist gives error, don't include this business
    distances = distances[distances<1000]
    return distances

def make_X_train(coorddf, businessesdf) :
    for index in coorddf.index :
            coorddf.loc[index,'corpus'] = makecorpus(businessesdf, 
                                            coorddf.loc[index,'latitude'], 
                                            coorddf.loc[index,'longitude'])

In [54]:
df = pd.read_csv('PhoenixBusinessesFinalUpdated.csv',sep=';',compression='gzip',
                 index_col=['lat_index.1','long_index.1'])
df.head()

                          lat_index  long_index  Unnamed: 0  \
lat_index.1 long_index.1
33.366      -112.065170      33.366 -112.065170       13839
33.367      -112.055788      33.367 -112.055788       15601
33.368      -112.064719      33.368 -112.064719       15589
            -112.049320      33.368 -112.049320        1459
33.370      -112.055622      33.370 -112.055622        7467

                                                          alias  attributes  \
lat_index.1 long_index.1
33.366      -112.065170           maravilla-care-center-phoenix         NaN
33.367      -112.055788              jim-tucker-roofing-phoenix         NaN
33.368      -112.064719   supercool-heating-and-cooling-phoenix         NaN
            -112.049320                the-rag-tacker-phoenix-2         NaN
33.370      -112.055622                  robinson-ranch-phoenix         NaN

                                                                 categories  \
lat_index.1 long_index.1
33.366      -112.065170   [{'alias': 'rehabilitation_center', 'title': '...
33.367      -112.055788          [{'alias': 'roofing', 'title': 'Roofing'}]
33.368      -112.064719   [{'alias': 'hvac', 'title': 'Heating & Air Con...
            -112.049320   [{'alias': 'autoupholstery', 'title': 'Auto Up...
33.370      -112.055622   [{'alias': 'nonprofit', 'title': 'Community Se...

                                                                coordinates  \
lat_index.1 long_index.1
33.366      -112.065170    {'latitude': 33.366016, 'longitude': -112.06517}
33.367      -112.055788   {'latitude': 33.366611, 'longitude': -112.055788}
33.368      -112.064719   {'latitude': 33.368136, 'longitude': -112.064719}
            -112.049320     {'latitude': 33.36813, 'longitude': -112.04932}
33.370      -112.055622   {'latitude': 33.3696265319692, 'longitude': -1...

                             distance   latitude   longitude  main_category  \
lat_index.1 long_index.1
33.366      -112.065170   8933.101984  33.366016 -112.065170         health
33.367      -112.055788   8713.191276  33.366611 -112.055788   homeservices
33.368      -112.064719   8694.554446  33.368136 -112.064719   homeservices
            -112.049320   8487.518620  33.368130 -112.049320     automotive
33.370      -112.055622   8379.608381  33.369627 -112.055622  localservices

                                                 name  price  rating  \
lat_index.1 long_index.1
33.366      -112.065170         Maravilla Care Center      0     1.0
33.367      -112.055788            Jim Tucker Roofing      0     5.0
33.368      -112.064719   SuperCool Heating & Cooling      0     4.0
            -112.049320                The Rag Tacker      0     5.0
33.370      -112.055622                Robinson Ranch      0     3.5

                          review_count             alias_cats
lat_index.1 long_index.1
33.366      -112.065170              1               0_health
33.367      -112.055788              1         0_homeservices
33.368      -112.064719              4  0_homeservices 0_hvac
            -112.049320              5    0_auto 0_automotive
33.370      -112.055622              6        0_localservices

In [55]:
df.describe()

,lat_index,long_index,Unnamed: 0,attributes,distance,latitude,longitude,price,rating,review_count
count,10463.000000,10463.000000,10463.000000,0.0,10463.000000,10463.000000,10463.000000,10463.000000,10463.000000,10463.000000
mean,33.465773,-112.045039,6325.340055,NaN,5627.730841,33.465774,-112.045039,0.458759,3.611918,33.647615
std,0.035939,0.041324,4342.540624,NaN,2134.111531,0.035934,0.041324,0.829694,1.351732,116.757792
min,33.366000,-112.139860,0.000000,NaN,156.817421,33.366016,-112.139860,0.000000,1.000000,1.000000
25%,33.448000,-112.074180,2810.500000,NaN,3683.283014,33.447565,-112.074180,0.000000,2.500000,1.000000
50%,33.466000,-112.049599,5763.000000,NaN,5888.747718,33.466412,-112.049599,0.000000,4.000000,4.000000
75%,33.495000,-112.012800,9274.500000,NaN,7438.646929,33.495342,-112.012800,1.000000,5.000000,17.000000
max,33.525000,-111.947930,20687.000000,NaN,8999.203664,33.525456,-111.947930,4.000000,5.000000,2562.000000

In [20]:
blocks = pd.read_csv('PhoenixTrainRowCoords.csv',
          sep=';', compression='gzip', index_col='Unnamed: 0')
blocks.head()

,distance_from_city,urban,latitude,longitude,blockgroup,income,blockgrouppop,population,landarea,waterarea
40131075001008,7928.005497,U,33.513317,-112.066716,40131075001,914.0,62831,41,31165,0
40131075001009,7869.999940,U,33.512366,-112.068371,40131075001,914.0,62831,78,42086,0
40131075001010,7990.910239,U,33.512483,-112.072116,40131075001,914.0,62831,34,29039,0
40131075001011,7906.213443,U,33.511605,-112.072344,40131075001,914.0,62831,26,25054,0
40131075001012,7785.779121,U,33.511525,-112.068550,40131075001,914.0,62831,75,39960,0

In [56]:
blocks.describe()

,distance_from_city,latitude,longitude,blockgroup,income,population,landarea,waterarea
count,4401.000000,4401.000000,4401.000000,4.401000e+03,4401.000000,4401.000000,4.401000e+03,4401.000000
mean,5480.745577,33.454189,-112.048396,4.013113e+10,1782.973642,236.312429,6.131909e+04,60.864122
std,1774.781953,0.038378,0.039847,1.020109e+05,880.181676,477.168501,9.429418e+04,1089.357585
min,255.437401,33.372665,-112.128954,4.013108e+10,244.000000,20.000000,9.860000e+02,0.000000
25%,4259.907085,33.427499,-112.080254,4.013111e+10,1184.000000,53.000000,2.030400e+04,0.000000
50%,5725.928813,33.463233,-112.049744,4.013113e+10,1634.000000,103.000000,3.033600e+04,0.000000
75%,7028.219375,33.484676,-112.018325,4.013116e+10,2211.000000,237.000000,6.146600e+04,0.000000
max,7998.917110,33.515992,-111.962005,4.013320e+10,5654.000000,4320.000000,1.335537e+06,34088.000000

In [57]:
make_X_train(blocks, df)

(1026, 2)
(1035, 2)
(962, 2)
(948, 2)
(1051, 2)
(1145, 2)
(1049, 2)
(1009, 2)
(1053, 2)
(1089, 2)
(558, 2)
(765, 2)
(607, 2)
(543, 2)
(549, 2)
(540, 2)
(535, 2)
(550, 2)
(545, 2)
(611, 2)
(583, 2)
(519, 2)
(586, 2)
(538, 2)
(553, 2)
(676, 2)
(573, 2)
(512, 2)
(440, 2)
(504, 2)
(661, 2)
(587, 2)
(560, 2)
(538, 2)
(482, 2)
(627, 2)
(635, 2)
(859, 2)
(616, 2)
(681, 2)
(655, 2)
(615, 2)
(1431, 2)
(1589, 2)
(615, 2)
(733, 2)
(1185, 2)
(1194, 2)
(1201, 2)
(1230, 2)
(757, 2)
(854, 2)
(1325, 2)
(896, 2)
(526, 2)
(512, 2)
(778, 2)
(618, 2)
(597, 2)
(659, 2)
(725, 2)
(741, 2)
(716, 2)
(601, 2)
(570, 2)
(565, 2)
(557, 2)
(574, 2)
(575, 2)
(520, 2)
(521, 2)
(520, 2)
(568, 2)
(604, 2)
(649, 2)
(562, 2)
(583, 2)
(473, 2)
(490, 2)
(535, 2)
(605, 2)
(552, 2)
(458, 2)
(572, 2)
(540, 2)
(312, 2)
(441, 2)
(443, 2)
(489, 2)
(240, 2)
(302, 2)
(464, 2)
(371, 2)
(716, 2)
(859, 2)
(556, 2)
(617, 2)
(661, 2)
(595, 2)
(775, 2)
(621, 2)
(563, 2)
(558, 2)
(568, 2)
(573, 2)
(594, 2)
(581, 2)
(592, 2)
(622, 2)
(637, 2)
(556, 2)
(505, 2)
(220, 2)
(201, 2)
(212, 2)
(319, 2)
(227, 2)
(518, 2)
(631, 2)
(220, 2)
(269, 2)
(533, 2)
(535, 2)
(226, 2)
(223, 2)
(512, 2)
(547, 2)
(517, 2)
(227, 2)
(600, 2)
(909, 2)
(688, 2)
(1387, 2)
(1455, 2)
(1094, 2)
(565, 2)
(584, 2)
(767, 2)
(563, 2)
(558, 2)
(569, 2)
(585, 2)
(569, 2)
(592, 2)
(1795, 2)
(1731, 2)
(1706, 2)
(1370, 2)
(1117, 2)
(1083, 2)
(1090, 2)
(1066, 2)
(774, 2)
(668, 2)
(619, 2)
(949, 2)
(626, 2)
(646, 2)
(995, 2)
(957, 2)
(1214, 2)
(1932, 2)
(1911, 2)
(1911, 2)
(1903, 2)
(1908, 2)
(1901, 2)
(1924, 2)
(1897, 2)
(1174, 2)
(608, 2)
(2014, 2)
(1940, 2)
(1938, 2)
(1933, 2)
(588, 2)
(1964, 2)
(1440, 2)
(1626, 2)
(1149, 2)
(1419, 2)
(1421, 2)
(1089, 2)
(1004, 2)
(630, 2)
(601, 2)
(254, 2)
(269, 2)
(472, 2)
(528, 2)
(556, 2)
(493, 2)
(388, 2)
(268, 2)
(208, 2)
(873, 2)
(884, 2)
(751, 2)
(822, 2)
(1316, 2)
(1354, 2)
(1138, 2)
(646, 2)
(362, 2)
(425, 2)
(574, 2)
(448, 2)
(229, 2)
(255, 2)
(268, 2)
(346, 2)
(272, 2)
(224, 2)
(216, 2)
(1254, 2)
(1215, 2)
(745, 2)
(327, 2)
(734, 2)
(787, 2)
(1085, 2)
(766, 2)
(2097, 2)
(1935, 2)
(1861, 2)
(1551, 2)
(1033, 2)
(1344, 2)
(1256, 2)
(1707, 2)
(1822, 2)
(1665, 2)
(1310, 2)
(1263, 2)
(2032, 2)
(1947, 2)
(335, 2)
(255, 2)
(226, 2)
(203, 2)
(212, 2)
(246, 2)
(196, 2)
(174, 2)
(197, 2)
(210, 2)
(232, 2)
(249, 2)
(211, 2)
(214, 2)
(529, 2)
(611, 2)
(664, 2)
(608, 2)
(590, 2)
(518, 2)
(521, 2)
(544, 2)
(565, 2)
(524, 2)
(585, 2)
(503, 2)
(491, 2)
(482, 2)
(503, 2)
(544, 2)
(235, 2)
(339, 2)
(514, 2)
(390, 2)
(412, 2)
(425, 2)
(409, 2)
(363, 2)
(506, 2)
(511, 2)
(441, 2)
(428, 2)
(375, 2)
(390, 2)
(410, 2)
(382, 2)
(385, 2)
(1084, 2)
(1043, 2)
(1075, 2)
(1112, 2)
(1081, 2)
(943, 2)
(983, 2)
(1083, 2)
(950, 2)
(930, 2)
(935, 2)
(906, 2)
(1080, 2)
(966, 2)
(935, 2)
(987, 2)
(1073, 2)
(985, 2)
(958, 2)
(915, 2)
(332, 2)
(257, 2)
(264, 2)
(182, 2)
(215, 2)
(199, 2)
(195, 2)
(284, 2)
(372, 2)
(427, 2)
(411, 2)
(393, 2)
(227, 2)
(206, 2)
(362, 2)
(222, 2)
(192, 2)
(160, 2)
(168, 2)
(189, 2)
(144, 2)
(144, 2)
(163, 2)
(171, 2)
(179, 2)
(159, 2)
(163, 2)
(154, 2)
(213, 2)
(229, 2)
(187, 2)
(160, 2)
(248, 2)
(213, 2)
(306, 2)
(272, 2)
(200, 2)
(436, 2)
(856, 2)
(844, 2)
(454, 2)
(430, 2)
(425, 2)
(431, 2)
(466, 2)
(467, 2)
(437, 2)
(442, 2)
(461, 2)
(412, 2)
(415, 2)
(423, 2)
(446, 2)
(447, 2)
(282, 2)
(171, 2)
(362, 2)
(342, 2)
(214, 2)
(228, 2)
(327, 2)
(335, 2)
(363, 2)
(367, 2)
(428, 2)
(450, 2)
(355, 2)
(358, 2)
(362, 2)
(350, 2)
(259, 2)
(270, 2)
(214, 2)
(896, 2)
(355, 2)
(933, 2)
(757, 2)
(247, 2)
(217, 2)
(818, 2)
(864, 2)
(793, 2)
(729, 2)
(779, 2)
(741, 2)
(941, 2)
(151, 2)
(113, 2)
(99, 2)
(101, 2)
(77, 2)
(85, 2)
(73, 2)
(77, 2)
(97, 2)
(140, 2)
(78, 2)
(69, 2)
(70, 2)
(67, 2)
(70, 2)
(70, 2)
(80, 2)
(93, 2)
(121, 2)
(121, 2)
(99, 2)
(88, 2)
(208, 2)
(191, 2)
(189, 2)
(156, 2)
(152, 2)
(209, 2)
(197, 2)
(139, 2)
(156, 2)
(162, 2)
(150, 2)
(138, 2)
(136, 2)
(132, 2)
(132, 2)
(135, 2)
(130, 2)
(129, 2)
(138, 2)
(175, 2)
(121, 2)
(586, 2)
(681, 2)
(485, 2)
(453, 2)
(1102, 2)
(486, 2)
(463, 2)
(455, 2)
(463, 2)
(1224, 2)
(1048, 2)
(1171, 2)
(1289, 2)
(1345, 2)
(321, 2)
(455, 2)
(484, 2)
(345, 2)
(492, 2)
(668, 2)
(502, 2)
(627, 2)
(494, 2)
(567, 2)
(634, 2)
(875, 2)
(1424, 2)
(794, 2)
(660, 2)
(754, 2)
(1381, 2)
(1311, 2)
(740, 2)
(764, 2)
(188, 2)
(190, 2)
(206, 2)
(378, 2)
(368, 2)
(196, 2)
(173, 2)
(169, 2)
(173, 2)
(190, 2)
(186, 2)
(189, 2)
(208, 2)
(198, 2)
(215, 2)
(219, 2)
(198, 2)
(181, 2)
(183, 2)
(207, 2)
(209, 2)
(197, 2)
(187, 2)
(178, 2)
(186, 2)
(191, 2)
(205, 2)
(171, 2)
(223, 2)
(197, 2)
(213, 2)
(235, 2)
(263, 2)
(210, 2)
(233, 2)
(235, 2)
(212, 2)
(190, 2)
(198, 2)
(182, 2)
(216, 2)
(216, 2)
(188, 2)
(215, 2)
(292, 2)
(192, 2)
(174, 2)
(159, 2)
(162, 2)
(419, 2)
(569, 2)
(145, 2)
(173, 2)
(167, 2)
(178, 2)
(227, 2)
(231, 2)
(211, 2)
(222, 2)
(518, 2)
(260, 2)
(234, 2)
(250, 2)
(242, 2)
(234, 2)
(234, 2)
(244, 2)
(239, 2)
(236, 2)
(489, 2)
(236, 2)
(236, 2)
(247, 2)
(249, 2)
(242, 2)
(302, 2)
(272, 2)
(186, 2)
(220, 2)
(287, 2)
(303, 2)
(322, 2)
(327, 2)
(325, 2)
(313, 2)
(309, 2)
(316, 2)
(546, 2)
(541, 2)
(542, 2)
(547, 2)
(314, 2)
(309, 2)
(228, 2)
(193, 2)
(198, 2)
(186, 2)
(189, 2)
(186, 2)
(230, 2)
(236, 2)
(236, 2)
(203, 2)
(208, 2)
(203, 2)
(240, 2)
(252, 2)
(557, 2)
(556, 2)
(549, 2)
(577, 2)
(549, 2)
(485, 2)
(477, 2)
(242, 2)
(567, 2)
(485, 2)
(475, 2)
(517, 2)
(495, 2)
(470, 2)
(478, 2)
(481, 2)
(491, 2)
(470, 2)
(451, 2)
(475, 2)
(426, 2)
(468, 2)
(468, 2)
(471, 2)
(496, 2)
(648, 2)
(601, 2)
(765, 2)
(344, 2)
(341, 2)
(582, 2)
(615, 2)
(632, 2)
(374, 2)
(332, 2)
(336, 2)
(369, 2)
(595, 2)
(606, 2)
(562, 2)
(531, 2)
(598, 2)
(562, 2)
(570, 2)
(651, 2)
(536, 2)
(500, 2)
(567, 2)
(532, 2)
(557, 2)
(494, 2)
(501, 2)
(505, 2)
(495, 2)
(485, 2)
(467, 2)
(475, 2)
(200, 2)
(445, 2)
(208, 2)
(158, 2)
(433, 2)
(158, 2)
(163, 2)
(328, 2)
(165, 2)
(459, 2)
(494, 2)
(494, 2)
(434, 2)
(431, 2)
(420, 2)
(433, 2)
(418, 2)
(429, 2)
(431, 2)
(466, 2)
(458, 2)
(431, 2)
(432, 2)
(437, 2)
(427, 2)
(443, 2)
(441, 2)
(164, 2)
(168, 2)
(185, 2)
(166, 2)
(190, 2)
(530, 2)
(512, 2)
(522, 2)
(612, 2)
(578, 2)
(491, 2)
(487, 2)
(438, 2)
(214, 2)
(213, 2)
(470, 2)
(477, 2)
(200, 2)
(230, 2)
(166, 2)
(174, 2)
(166, 2)
(313, 2)
(330, 2)
(387, 2)
(387, 2)
(237, 2)
(334, 2)
(412, 2)
(401, 2)
(397, 2)
(276, 2)
(201, 2)
(284, 2)
(389, 2)
(225, 2)
(503, 2)
(198, 2)
(184, 2)
(482, 2)
(184, 2)
(213, 2)
(188, 2)
(489, 2)
(275, 2)
(242, 2)
(213, 2)
(225, 2)
(230, 2)
(269, 2)
(222, 2)
(472, 2)
(516, 2)
(486, 2)
(484, 2)
(549, 2)
(541, 2)
(439, 2)
(549, 2)
(495, 2)
(488, 2)
(464, 2)
(476, 2)
(497, 2)
(503, 2)
(488, 2)
(510, 2)
(529, 2)
(585, 2)
(533, 2)
(290, 2)
(285, 2)
(314, 2)
(275, 2)
(274, 2)
(305, 2)
(308, 2)
(297, 2)
(306, 2)
(327, 2)
(310, 2)
(311, 2)
(315, 2)
(367, 2)
(314, 2)
(312, 2)
(532, 2)
(536, 2)
(531, 2)
(532, 2)
(251, 2)
(526, 2)
(221, 2)
(216, 2)
(232, 2)
(286, 2)
(566, 2)
(190, 2)
(562, 2)
(263, 2)
(178, 2)
(176, 2)
(227, 2)
(183, 2)
(190, 2)
(196, 2)
(206, 2)
(92, 2)
(69, 2)
(79, 2)
(93, 2)
(92, 2)
(165, 2)
(173, 2)
(136, 2)
(119, 2)
(100, 2)
(131, 2)
(80, 2)
(115, 2)
(96, 2)
(117, 2)
(105, 2)
(114, 2)
(76, 2)
(134, 2)
(77, 2)
(68, 2)
(79, 2)
(140, 2)
(80, 2)
(82, 2)
(79, 2)
(66, 2)
(82, 2)
(83, 2)
(60, 2)
(79, 2)
(77, 2)
(70, 2)
(68, 2)
(77, 2)
(99, 2)
(97, 2)
(91, 2)
(105, 2)
(100, 2)
(144, 2)
(146, 2)
(95, 2)
(33, 2)
(78, 2)
(39, 2)
(73, 2)
(84, 2)
(75, 2)
(77, 2)
(85, 2)
(86, 2)
(77, 2)
(99, 2)
(77, 2)
(257, 2)
(212, 2)
(175, 2)
(179, 2)
(178, 2)
(365, 2)
(371, 2)
(361, 2)
(356, 2)
(354, 2)
(331, 2)
(310, 2)
(363, 2)
(354, 2)
(303, 2)
(306, 2)
(262, 2)
(172, 2)
(163, 2)
(155, 2)
(156, 2)
(153, 2)
(151, 2)
(224, 2)
(230, 2)
(165, 2)
(156, 2)
(247, 2)
(177, 2)
(217, 2)
(246, 2)
(257, 2)
(193, 2)
(231, 2)
(264, 2)
(259, 2)
(181, 2)
(183, 2)
(280, 2)
(150, 2)
(169, 2)
(398, 2)
(407, 2)
(402, 2)
(338, 2)
(332, 2)
(334, 2)
(318, 2)
(327, 2)
(323, 2)
(396, 2)
(380, 2)
(317, 2)
(317, 2)
(330, 2)
(326, 2)
(325, 2)
(331, 2)
(316, 2)
(296, 2)
(266, 2)
(280, 2)
(264, 2)
(293, 2)
(256, 2)
(317, 2)
(295, 2)
(265, 2)
(265, 2)
(265, 2)
(267, 2)
(268, 2)
(275, 2)
(255, 2)
(263, 2)
(264, 2)
(264, 2)
(275, 2)
(266, 2)
(267, 2)
(265, 2)
(262, 2)
(269, 2)
(257, 2)
(378, 2)
(375, 2)
(221, 2)
(282, 2)

(223, 2)
(365, 2)
(369, 2)
(361, 2)
(378, 2)
(371, 2)
(361, 2)
(372, 2)
(360, 2)
(270, 2)
(360, 2)
(329, 2)
(315, 2)
(288, 2)
(246, 2)
(226, 2)
(247, 2)
(108, 2)
(104, 2)
(105, 2)
(149, 2)
(150, 2)
(103, 2)
(100, 2)
(94, 2)
(97, 2)
(111, 2)
(245, 2)
(249, 2)
(105, 2)
(105, 2)
(97, 2)
(94, 2)
(102, 2)
(131, 2)
(117, 2)
(166, 2)
(168, 2)
(168, 2)
(176, 2)
(136, 2)
(133, 2)
(137, 2)
(132, 2)
(120, 2)
(122, 2)
(110, 2)
(108, 2)
(119, 2)
(436, 2)
(417, 2)
(416, 2)
(412, 2)
(404, 2)
(409, 2)
(391, 2)
(401, 2)
(398, 2)
(433, 2)
(156, 2)
(186, 2)
(385, 2)
(405, 2)
(392, 2)
(414, 2)
(406, 2)
(410, 2)
(166, 2)
(320, 2)
(309, 2)
(162, 2)
(175, 2)
(431, 2)
(170, 2)
(164, 2)
(292, 2)
(287, 2)
(311, 2)
(307, 2)
(306, 2)
(308, 2)
(298, 2)
(292, 2)
(294, 2)
(180, 2)
(170, 2)
(300, 2)
(308, 2)
(312, 2)
(310, 2)
(316, 2)
(312, 2)
(271, 2)
(258, 2)
(259, 2)
(257, 2)
(275, 2)
(311, 2)
(308, 2)
(297, 2)
(290, 2)
(135, 2)
(157, 2)
(139, 2)
(136, 2)
(111, 2)
(116, 2)
(293, 2)
(284, 2)
(460, 2)
(461, 2)
(469, 2)
(220, 2)
(203, 2)
(441, 2)
(446, 2)
(443, 2)
(445, 2)
(455, 2)
(451, 2)
(454, 2)
(446, 2)
(442, 2)
(437, 2)
(425, 2)
(444, 2)
(437, 2)
(395, 2)
(183, 2)
(145, 2)
(140, 2)
(177, 2)
(172, 2)
(178, 2)
(204, 2)
(183, 2)
(183, 2)
(123, 2)
(131, 2)
(107, 2)
(114, 2)
(109, 2)
(109, 2)
(112, 2)
(123, 2)
(123, 2)
(117, 2)
(112, 2)
(109, 2)
(113, 2)
(236, 2)
(245, 2)
(246, 2)
(239, 2)
(212, 2)
(231, 2)
(234, 2)
(165, 2)
(161, 2)
(142, 2)
(191, 2)
(223, 2)
(203, 2)
(217, 2)
(164, 2)
(142, 2)
(151, 2)
(170, 2)
(174, 2)
(174, 2)
(157, 2)
(160, 2)
(174, 2)
(279, 2)
(261, 2)
(144, 2)
(148, 2)
(144, 2)
(145, 2)
(155, 2)
(222, 2)
(221, 2)
(217, 2)
(203, 2)
(209, 2)
(208, 2)
(214, 2)
(253, 2)
(241, 2)
(235, 2)
(154, 2)
(172, 2)
(158, 2)
(145, 2)
(220, 2)
(226, 2)
(215, 2)
(208, 2)
(216, 2)
(209, 2)
(155, 2)
(144, 2)
(136, 2)
(165, 2)
(147, 2)
(166, 2)
(229, 2)
(249, 2)
(161, 2)
(138, 2)
(170, 2)
(135, 2)
(160, 2)
(222, 2)
(207, 2)
(179, 2)
(209, 2)
(211, 2)
(225, 2)
(230, 2)
(413, 2)
(367, 2)
(206, 2)
(204, 2)
(191, 2)
(181, 2)
(364, 2)
(383, 2)
(379, 2)
(361, 2)
(411, 2)
(568, 2)
(382, 2)
(372, 2)
(347, 2)
(349, 2)
(380, 2)
(381, 2)
(412, 2)
(579, 2)
(390, 2)
(450, 2)
(413, 2)
(272, 2)
(289, 2)
(330, 2)
(322, 2)
(504, 2)
(525, 2)
(595, 2)
(612, 2)
(688, 2)
(665, 2)
(631, 2)
(608, 2)
(599, 2)
(594, 2)
(434, 2)
(604, 2)
(578, 2)
(581, 2)
(594, 2)
(654, 2)
(579, 2)
(591, 2)
(675, 2)
(189, 2)
(372, 2)
(608, 2)
(545, 2)
(316, 2)
(326, 2)
(191, 2)
(205, 2)
(175, 2)
(157, 2)
(165, 2)
(210, 2)
(208, 2)
(241, 2)
(298, 2)
(317, 2)
(217, 2)
(228, 2)
(334, 2)
(533, 2)
(461, 2)
(366, 2)
(337, 2)
(696, 2)
(752, 2)
(1296, 2)
(706, 2)
(691, 2)
(1273, 2)
(723, 2)
(692, 2)
(1059, 2)
(944, 2)
(875, 2)
(841, 2)
(929, 2)
(518, 2)
(413, 2)
(359, 2)
(354, 2)
(273, 2)
(246, 2)
(252, 2)
(287, 2)
(376, 2)
(420, 2)
(360, 2)
(293, 2)
(262, 2)
(278, 2)
(333, 2)
(374, 2)
(443, 2)
(1225, 2)
(956, 2)
(1138, 2)
(1212, 2)
(1187, 2)
(1089, 2)
(933, 2)
(845, 2)
(1029, 2)
(1188, 2)
(1096, 2)
(1009, 2)
(840, 2)
(854, 2)
(991, 2)
(943, 2)
(867, 2)
(887, 2)
(958, 2)
(1100, 2)
(1114, 2)
(652, 2)
(689, 2)
(714, 2)
(653, 2)
(727, 2)
(636, 2)
(635, 2)
(703, 2)
(636, 2)
(587, 2)
(769, 2)
(752, 2)
(585, 2)
(596, 2)
(69, 2)
(45, 2)
(38, 2)
(39, 2)
(57, 2)
(39, 2)
(34, 2)
(63, 2)
(62, 2)
(37, 2)
(33, 2)
(816, 2)
(676, 2)
(633, 2)
(83, 2)
(99, 2)
(83, 2)
(92, 2)
(101, 2)
(108, 2)
(108, 2)
(198, 2)
(178, 2)
(117, 2)
(143, 2)
(129, 2)
(206, 2)
(73, 2)
(74, 2)
(67, 2)
(74, 2)
(88, 2)
(93, 2)
(125, 2)
(130, 2)
(109, 2)
(97, 2)
(91, 2)
(96, 2)
(87, 2)
(89, 2)
(86, 2)
(91, 2)
(79, 2)
(76, 2)
(81, 2)
(76, 2)
(78, 2)
(78, 2)
(61, 2)
(69, 2)
(174, 2)
(180, 2)
(169, 2)
(177, 2)
(172, 2)
(179, 2)
(180, 2)
(183, 2)
(88, 2)
(180, 2)
(181, 2)
(175, 2)
(175, 2)
(167, 2)
(166, 2)
(166, 2)
(168, 2)
(170, 2)
(173, 2)
(163, 2)
(162, 2)
(163, 2)
(160, 2)
(161, 2)
(186, 2)
(200, 2)
(202, 2)
(186, 2)
(185, 2)
(158, 2)
(182, 2)
(187, 2)
(186, 2)
(186, 2)
(186, 2)
(180, 2)
(178, 2)
(181, 2)
(213, 2)
(319, 2)
(326, 2)
(361, 2)
(68, 2)
(63, 2)
(65, 2)
(168, 2)
(170, 2)
(160, 2)
(100, 2)
(115, 2)
(155, 2)
(175, 2)
(150, 2)
(166, 2)
(186, 2)
(202, 2)
(271, 2)
(271, 2)
(214, 2)
(204, 2)
(200, 2)
(226, 2)
(230, 2)
(215, 2)
(127, 2)
(123, 2)
(121, 2)
(195, 2)
(274, 2)
(267, 2)
(241, 2)
(8287, 2)
(1414, 2)
(1376, 2)
(569, 2)
(303, 2)
(264, 2)
(211, 2)
(216, 2)
(234, 2)
(255, 2)
(545, 2)
(629, 2)
(1315, 2)
(8250, 2)
(20395, 2)
(20478, 2)
(260, 2)
(647, 2)
(266, 2)
(270, 2)
(664, 2)
(279, 2)
(271, 2)
(149, 2)
(181, 2)
(203, 2)
(192, 2)
(196, 2)
(208, 2)
(226, 2)
(227, 2)
(240, 2)
(247, 2)
(226, 2)
(215, 2)
(214, 2)
(202, 2)
(191, 2)
(217, 2)
(227, 2)
(231, 2)
(249, 2)
(237, 2)
(251, 2)
(510, 2)
(371, 2)
(301, 2)
(342, 2)
(411, 2)
(524, 2)
(529, 2)
(435, 2)
(352, 2)
(8651, 2)
(8285, 2)
(8309, 2)
(8523, 2)
(8751, 2)
(8803, 2)
(8710, 2)
(707, 2)
(874, 2)
(823, 2)
(1171, 2)
(8112, 2)
(7921, 2)
(8964, 2)
(8979, 2)
(21141, 2)
(20911, 2)
(8398, 2)
(8339, 2)
(34082, 2)
(43624, 2)
(44026, 2)
(44147, 2)
(44087, 2)
(43743, 2)
(21500, 2)
(21342, 2)
(44139, 2)
(44208, 2)
(19050, 2)
(44223, 2)
(44149, 2)
(44206, 2)
(44236, 2)
(44216, 2)
(475, 2)
(465, 2)
(441, 2)
(475, 2)
(484, 2)
(319, 2)
(505, 2)
(492, 2)
(309, 2)
(362, 2)
(318, 2)
(329, 2)
(467, 2)
(486, 2)
(363, 2)
(374, 2)
(306, 2)
(214, 2)
(248, 2)
(346, 2)
(369, 2)
(366, 2)
(562, 2)
(613, 2)
(1000, 2)
(1106, 2)
(6224, 2)
(1221, 2)
(986, 2)
(581, 2)
(538, 2)
(362, 2)
(925, 2)
(1051, 2)
(7938, 2)
(385, 2)
(900, 2)
(1042, 2)
(7957, 2)
(768, 2)
(863, 2)
(404, 2)
(247, 2)
(713, 2)
(785, 2)
(267, 2)
(242, 2)
(275, 2)
(478, 2)
(471, 2)
(476, 2)
(473, 2)
(490, 2)
(652, 2)
(585, 2)
(631, 2)
(671, 2)
(1059, 2)
(1114, 2)
(981, 2)
(633, 2)
(574, 2)
(649, 2)
(644, 2)
(468, 2)
(473, 2)
(477, 2)
(456, 2)
(568, 2)
(516, 2)
(416, 2)
(490, 2)
(465, 2)
(464, 2)
(497, 2)
(118, 2)
(243, 2)
(275, 2)
(270, 2)
(236, 2)
(237, 2)
(254, 2)
(432, 2)
(239, 2)
(112, 2)
(303, 2)
(265, 2)
(253, 2)
(96, 2)
(89, 2)
(94, 2)
(240, 2)
(247, 2)
(260, 2)
(254, 2)
(249, 2)
(114, 2)
(284, 2)
(290, 2)
(262, 2)
(201, 2)
(232, 2)
(228, 2)
(84, 2)
(96, 2)
(103, 2)
(65, 2)
(83, 2)
(88, 2)
(117, 2)
(91, 2)
(75, 2)
(126, 2)
(85, 2)
(99, 2)
(91, 2)
(100, 2)
(105, 2)
(103, 2)
(101, 2)
(93, 2)
(90, 2)
(93, 2)
(96, 2)
(106, 2)
(106, 2)
(87, 2)
(92, 2)
(93, 2)
(99, 2)
(103, 2)
(94, 2)
(94, 2)
(106, 2)
(103, 2)
(129, 2)
(123, 2)
(111, 2)
(112, 2)
(112, 2)
(102, 2)
(100, 2)
(97, 2)
(98, 2)
(104, 2)
(97, 2)
(110, 2)
(119, 2)
(122, 2)
(116, 2)
(121, 2)
(108, 2)
(111, 2)
(105, 2)
(80, 2)
(83, 2)
(78, 2)
(80, 2)
(72, 2)
(57, 2)
(53, 2)
(59, 2)
(54, 2)
(52, 2)
(55, 2)
(70, 2)
(69, 2)
(75, 2)
(74, 2)
(62, 2)
(57, 2)
(90, 2)
(107, 2)
(84, 2)
(99, 2)
(101, 2)
(106, 2)
(104, 2)
(93, 2)
(91, 2)
(93, 2)
(90, 2)
(86, 2)
(97, 2)
(97, 2)
(95, 2)
(86, 2)
(89, 2)
(85, 2)
(77, 2)
(68, 2)
(55, 2)
(69, 2)
(51, 2)
(47, 2)
(46, 2)
(49, 2)
(58, 2)
(48, 2)
(0, 2)
(0, 2)
(59, 2)
(0, 2)
(46, 2)
(66, 2)
(54, 2)
(45, 2)
(42, 2)
(48, 2)
(44, 2)
(44, 2)
(48, 2)
(0, 2)
(0, 2)
(51, 2)
(48, 2)
(0, 2)
(63, 2)
(52, 2)
(101, 2)
(50, 2)
(64, 2)
(193, 2)
(182, 2)
(169, 2)
(149, 2)
(157, 2)
(187, 2)
(191, 2)
(192, 2)
(218, 2)
(218, 2)
(209, 2)
(214, 2)
(162, 2)
(194, 2)
(197, 2)
(197, 2)
(246, 2)
(201, 2)
(242, 2)
(246, 2)
(249, 2)
(220, 2)
(228, 2)
(250, 2)
(191, 2)
(180, 2)
(182, 2)
(156, 2)
(137, 2)
(177, 2)
(175, 2)
(133, 2)
(133, 2)
(108, 2)
(182, 2)
(154, 2)
(150, 2)
(114, 2)
(206, 2)
(213, 2)
(204, 2)
(76, 2)
(68, 2)
(0, 2)
(55, 2)
(66, 2)
(68, 2)
(77, 2)
(100, 2)
(101, 2)
(103, 2)
(102, 2)
(81, 2)
(79, 2)
(68, 2)
(66, 2)
(90, 2)
(122, 2)
(317, 2)
(322, 2)
(325, 2)
(323, 2)
(326, 2)
(322, 2)
(320, 2)
(218, 2)
(188, 2)
(213, 2)
(202, 2)
(362, 2)
(264, 2)
(245, 2)
(275, 2)
(313, 2)
(763, 2)
(10785, 2)
(361, 2)
(337, 2)
(240, 2)
(290, 2)
(475, 2)
(213, 2)
(210, 2)
(245, 2)
(263, 2)
(205, 2)
(246, 2)
(205, 2)
(154, 2)
(121, 2)
(44117, 2)
(43506, 2)
(44157, 2)
(36615, 2)
(36699, 2)
(35774, 2)
(35741, 2)
(35852, 2)
(34991, 2)
(35687, 2)
(23065, 2)
(22937, 2)
(9632, 2)
(490, 2)
(14511, 2)
(13265, 2)
(234, 2)
(179, 2)
(162, 2)
(167, 2)
(176, 2)
(182, 2)
(224, 2)
(238, 2)
(22904, 2)
(249, 2)
(197, 2)
(183, 2)
(175, 2)
(164, 2)
(159, 2)
(160, 2)
(149, 2)
(226, 2)
(202, 2)
(243, 2)
(260, 2)
(389, 2)
(12758, 2)

(12770, 2)
(26603, 2)
(252, 2)
(369, 2)
(230, 2)
(336, 2)
(165, 2)
(104, 2)
(119, 2)
(112, 2)
(109, 2)
(101, 2)
(71, 2)
(62, 2)
(65, 2)
(74, 2)
(71, 2)
(64, 2)
(56, 2)
(62, 2)
(64, 2)
(49, 2)
(57, 2)
(174, 2)
(172, 2)
(142, 2)
(144, 2)
(141, 2)
(130, 2)
(117, 2)
(130, 2)
(136, 2)
(140, 2)
(133, 2)
(111, 2)
(61, 2)
(60, 2)
(57, 2)
(66, 2)
(60, 2)
(65, 2)
(57, 2)
(64, 2)
(62, 2)
(64, 2)
(62, 2)
(192, 2)
(96, 2)
(91, 2)
(67, 2)
(65, 2)
(65, 2)
(86, 2)
(67, 2)
(52, 2)
(55, 2)
(52, 2)
(58, 2)
(55, 2)
(55, 2)
(167, 2)
(113, 2)
(80, 2)
(79, 2)
(81, 2)
(112, 2)
(139, 2)
(146, 2)
(112, 2)
(83, 2)
(82, 2)
(83, 2)
(114, 2)
(128, 2)
(111, 2)
(74, 2)
(71, 2)
(77, 2)
(115, 2)
(61, 2)
(58, 2)
(57, 2)
(68, 2)
(64, 2)
(65, 2)
(66, 2)
(57, 2)
(57, 2)
(56, 2)
(60, 2)
(65, 2)
(61, 2)
(186, 2)
(190, 2)
(198, 2)
(343, 2)
(353, 2)
(189, 2)
(187, 2)
(226, 2)
(347, 2)
(197, 2)
(227, 2)
(235, 2)
(189, 2)
(193, 2)
(360, 2)
(352, 2)
(352, 2)
(363, 2)
(347, 2)
(340, 2)
(343, 2)
(100, 2)
(102, 2)
(103, 2)
(106, 2)
(106, 2)
(68, 2)
(41, 2)
(44, 2)
(44, 2)
(76, 2)
(75, 2)
(38, 2)
(45, 2)
(45, 2)
(44, 2)
(46, 2)
(44, 2)
(29, 2)
(37, 2)
(44, 2)
(31, 2)
(34, 2)
(26, 2)
(18, 2)
(56, 2)
(60, 2)
(55, 2)
(50, 2)
(46, 2)
(49, 2)
(48, 2)
(44, 2)
(45, 2)
(45, 2)
(43, 2)
(47, 2)
(49, 2)
(46, 2)
(29, 2)
(30, 2)
(31, 2)
(29, 2)
(27, 2)
(112, 2)
(104, 2)
(104, 2)
(104, 2)
(103, 2)
(111, 2)
(108, 2)
(112, 2)
(49, 2)
(51, 2)
(109, 2)
(110, 2)
(110, 2)
(105, 2)
(103, 2)
(103, 2)
(105, 2)
(110, 2)
(104, 2)
(109, 2)
(52, 2)
(109, 2)
(112, 2)
(125, 2)
(124, 2)
(107, 2)
(52, 2)
(49, 2)
(110, 2)
(98, 2)
(101, 2)
(90, 2)
(157, 2)
(75, 2)
(75, 2)
(74, 2)
(77, 2)
(86, 2)
(51, 2)
(52, 2)
(153, 2)
(151, 2)
(124, 2)
(134, 2)
(142, 2)
(139, 2)
(142, 2)
(171, 2)
(132, 2)
(147, 2)
(153, 2)
(143, 2)
(153, 2)
(134, 2)
(142, 2)
(135, 2)
(134, 2)
(154, 2)
(137, 2)
(146, 2)
(147, 2)
(151, 2)
(195, 2)
(159, 2)
(90, 2)
(170, 2)
(172, 2)
(169, 2)
(172, 2)
(167, 2)
(169, 2)
(172, 2)
(170, 2)
(171, 2)
(169, 2)
(171, 2)
(168, 2)
(192, 2)
(192, 2)
(196, 2)
(185, 2)
(192, 2)
(175, 2)
(170, 2)
(34, 2)
(39, 2)
(40, 2)
(37, 2)
(39, 2)
(42, 2)
(45, 2)
(46, 2)
(41, 2)
(45, 2)
(40, 2)
(44, 2)
(36, 2)
(46, 2)
(41, 2)
(78, 2)
(85, 2)
(166, 2)
(39, 2)
(38, 2)
(27, 2)
(39, 2)
(39, 2)
(43, 2)
(25, 2)
(26, 2)
(0, 2)
(39, 2)
(40, 2)
(56, 2)
(56, 2)
(56, 2)
(60, 2)
(60, 2)
(63, 2)
(68, 2)
(78, 2)
(70, 2)
(47, 2)
(40, 2)
(52, 2)
(48, 2)
(55, 2)
(60, 2)
(62, 2)
(61, 2)
(64, 2)
(59, 2)
(54, 2)
(49, 2)
(48, 2)
(19, 2)
(31, 2)
(21, 2)
(18, 2)
(28, 2)
(26, 2)
(15, 2)
(30, 2)
(20, 2)
(24, 2)
(31, 2)
(13, 2)
(17, 2)
(19, 2)
(33, 2)
(26, 2)
(25, 2)
(24, 2)
(22, 2)
(22, 2)
(19, 2)
(13, 2)
(12, 2)
(20, 2)
(23, 2)
(20, 2)
(25, 2)
(21, 2)
(29, 2)
(22, 2)
(59, 2)
(55, 2)
(44, 2)
(52, 2)
(54, 2)
(69, 2)
(49, 2)
(57, 2)
(58, 2)
(65, 2)
(55, 2)
(57, 2)
(56, 2)
(63, 2)
(61, 2)
(63, 2)
(61, 2)
(58, 2)
(54, 2)
(84, 2)
(57, 2)
(55, 2)
(86, 2)
(20, 2)
(27, 2)
(27, 2)
(19, 2)
(20, 2)
(28, 2)
(28, 2)
(16, 2)
(16, 2)
(32, 2)
(35, 2)
(20, 2)
(57, 2)
(13, 2)
(21, 2)
(27, 2)
(27, 2)
(16, 2)
(19, 2)
(26, 2)
(11, 2)
(13, 2)
(13, 2)
(13, 2)
(13, 2)
(70, 2)
(79, 2)
(84, 2)
(83, 2)
(92, 2)
(95, 2)
(89, 2)
(87, 2)
(85, 2)
(87, 2)
(84, 2)
(83, 2)
(77, 2)
(102, 2)
(88, 2)
(92, 2)
(100, 2)
(102, 2)
(103, 2)
(140, 2)
(141, 2)
(103, 2)
(103, 2)
(101, 2)
(99, 2)
(104, 2)
(108, 2)
(104, 2)
(106, 2)
(106, 2)
(117, 2)
(91, 2)
(84, 2)
(88, 2)
(110, 2)
(104, 2)
(120, 2)
(128, 2)
(118, 2)
(108, 2)
(115, 2)
(140, 2)
(126, 2)
(95, 2)
(96, 2)
(99, 2)
(109, 2)
(139, 2)
(131, 2)
(125, 2)
(129, 2)
(132, 2)
(116, 2)
(124, 2)
(124, 2)
(144, 2)
(138, 2)
(136, 2)
(145, 2)
(147, 2)
(136, 2)
(135, 2)
(0, 2)
(30, 2)
(43, 2)
(41, 2)
(40, 2)
(53, 2)
(23, 2)
(30, 2)
(45, 2)
(32, 2)
(48, 2)
(26, 2)
(44, 2)
(39, 2)
(38, 2)
(36, 2)
(61, 2)
(40, 2)
(39, 2)
(69, 2)
(63, 2)
(33, 2)
(40, 2)
(51, 2)
(48, 2)
(44, 2)
(48, 2)
(41, 2)
(41, 2)
(48, 2)
(44, 2)
(42, 2)
(43, 2)
(49, 2)
(43, 2)
(34, 2)
(44, 2)
(37, 2)
(37, 2)
(29, 2)
(37, 2)
(50, 2)
(29, 2)
(43, 2)
(41, 2)
(42, 2)
(45, 2)
(49, 2)
(50, 2)
(76, 2)
(42, 2)
(43, 2)
(84, 2)
(79, 2)
(79, 2)
(40, 2)
(79, 2)
(79, 2)
(80, 2)
(163, 2)
(165, 2)
(166, 2)
(37, 2)
(37, 2)
(37, 2)
(40, 2)
(73, 2)
(164, 2)
(80, 2)
(39, 2)
(78, 2)
(38, 2)
(39, 2)
(34, 2)
(34, 2)
(25, 2)
(19, 2)
(37, 2)
(39, 2)
(38, 2)
(38, 2)
(38, 2)
(41, 2)
(41, 2)
(42, 2)
(40, 2)
(40, 2)
(42, 2)
(38, 2)
(35, 2)
(18, 2)
(34, 2)
(35, 2)
(16, 2)
(16, 2)
(16, 2)
(40, 2)
(45, 2)
(0, 2)
(34, 2)
(27, 2)
(27, 2)
(43, 2)
(44, 2)
(40, 2)
(44, 2)
(34, 2)
(21, 2)
(22, 2)
(23, 2)
(24, 2)
(26, 2)
(37, 2)
(27, 2)
(33, 2)
(202, 2)
(192, 2)
(170, 2)
(166, 2)
(187, 2)
(191, 2)
(196, 2)
(189, 2)
(160, 2)
(151, 2)
(152, 2)
(173, 2)
(190, 2)
(120, 2)
(33, 2)
(113, 2)
(113, 2)
(32, 2)
(180, 2)
(177, 2)
(178, 2)
(183, 2)
(176, 2)
(166, 2)
(166, 2)
(171, 2)
(172, 2)
(165, 2)
(166, 2)
(168, 2)
(179, 2)
(175, 2)
(172, 2)
(174, 2)
(175, 2)
(180, 2)
(182, 2)
(181, 2)
(175, 2)
(172, 2)
(95, 2)
(126, 2)
(122, 2)
(118, 2)
(127, 2)
(127, 2)
(117, 2)
(125, 2)
(131, 2)
(144, 2)
(118, 2)
(115, 2)
(114, 2)
(116, 2)
(118, 2)
(118, 2)
(112, 2)
(118, 2)
(59, 2)
(80, 2)
(75, 2)
(47, 2)
(48, 2)
(37, 2)
(36, 2)
(26, 2)
(60, 2)
(60, 2)
(60, 2)
(128, 2)
(55, 2)
(26, 2)
(29, 2)
(23, 2)
(53, 2)
(88, 2)
(106, 2)
(90, 2)
(106, 2)
(40, 2)
(43, 2)
(50, 2)
(109, 2)
(84, 2)
(53, 2)
(39, 2)
(81, 2)
(39, 2)
(56, 2)
(53, 2)
(62, 2)
(56, 2)
(86, 2)
(51, 2)
(79, 2)
(56, 2)
(66, 2)
(111, 2)
(58, 2)
(171, 2)
(167, 2)
(132, 2)
(150, 2)
(146, 2)
(161, 2)
(100, 2)
(144, 2)
(102, 2)
(101, 2)
(91, 2)
(96, 2)
(110, 2)
(89, 2)
(99, 2)
(191, 2)
(187, 2)
(188, 2)
(186, 2)
(179, 2)
(179, 2)
(175, 2)
(167, 2)
(168, 2)
(160, 2)
(111, 2)
(155, 2)
(143, 2)
(20, 2)
(18, 2)
(23, 2)
(30, 2)
(16, 2)
(20, 2)
(13, 2)
(32, 2)
(16, 2)
(20, 2)
(18, 2)
(20, 2)
(63, 2)
(26, 2)
(39, 2)
(25, 2)
(51, 2)
(52, 2)
(20, 2)
(66, 2)
(72, 2)
(39, 2)
(36, 2)
(40, 2)
(37, 2)
(39, 2)
(37, 2)
(39, 2)
(39, 2)
(40, 2)
(40, 2)
(40, 2)
(38, 2)
(38, 2)
(38, 2)
(43, 2)
(39, 2)
(40, 2)
(39, 2)
(39, 2)
(46, 2)
(42, 2)
(40, 2)
(41, 2)
(63, 2)
(59, 2)
(67, 2)
(115, 2)
(75, 2)
(68, 2)
(63, 2)
(56, 2)
(54, 2)
(98, 2)
(104, 2)
(120, 2)
(70, 2)
(95, 2)
(71, 2)
(90, 2)
(100, 2)
(118, 2)
(113, 2)
(117, 2)
(172, 2)
(42, 2)
(47, 2)
(43, 2)
(43, 2)
(42, 2)
(43, 2)
(43, 2)
(45, 2)
(40, 2)
(44, 2)
(43, 2)
(34, 2)
(44, 2)
(45, 2)
(45, 2)
(44, 2)
(64, 2)
(48, 2)
(51, 2)
(46, 2)
(51, 2)
(44, 2)
(24, 2)
(30, 2)
(61, 2)
(56, 2)
(25, 2)
(41, 2)
(33, 2)
(35, 2)
(86, 2)
(31, 2)
(32, 2)
(34, 2)
(105, 2)
(90, 2)
(55, 2)
(41, 2)
(33, 2)
(32, 2)
(57, 2)
(63, 2)
(57, 2)
(47, 2)
(32, 2)
(34, 2)
(33, 2)
(35, 2)
(48, 2)
(52, 2)
(36, 2)
(140, 2)
(138, 2)
(136, 2)
(118, 2)
(112, 2)
(100, 2)
(97, 2)
(108, 2)
(116, 2)
(122, 2)
(133, 2)
(135, 2)
(119, 2)
(107, 2)
(101, 2)
(98, 2)
(86, 2)
(71, 2)
(72, 2)
(78, 2)
(86, 2)
(104, 2)
(115, 2)
(106, 2)
(113, 2)
(110, 2)
(96, 2)
(102, 2)
(84, 2)
(66, 2)
(114, 2)
(92, 2)
(84, 2)
(77, 2)
(86, 2)
(96, 2)
(103, 2)
(83, 2)
(82, 2)
(111, 2)
(112, 2)
(99, 2)
(102, 2)
(105, 2)
(117, 2)
(109, 2)
(128, 2)
(116, 2)
(126, 2)
(113, 2)
(145, 2)
(122, 2)
(121, 2)
(109, 2)
(110, 2)
(111, 2)
(109, 2)
(58, 2)
(62, 2)
(25, 2)
(14, 2)
(13, 2)
(13, 2)
(39, 2)
(40, 2)
(42, 2)
(25, 2)
(24, 2)
(28, 2)
(28, 2)
(42, 2)
(17, 2)
(26, 2)
(27, 2)
(32, 2)
(56, 2)
(52, 2)
(52, 2)
(63, 2)
(89, 2)
(61, 2)
(20, 2)
(25, 2)
(24, 2)
(19, 2)
(37, 2)
(16, 2)
(31, 2)
(57, 2)
(30, 2)
(39, 2)
(23, 2)
(18, 2)
(21, 2)
(11, 2)
(39, 2)
(35, 2)
(43, 2)
(33, 2)
(34, 2)
(39, 2)
(35, 2)
(31, 2)
(32, 2)
(66, 2)
(131, 2)
(160, 2)
(118, 2)
(135, 2)
(133, 2)
(172, 2)
(185, 2)
(191, 2)
(190, 2)
(124, 2)
(33, 2)
(71, 2)
(73, 2)
(41, 2)
(171, 2)
(68, 2)
(104, 2)
(164, 2)
(161, 2)
(72, 2)
(95, 2)
(116, 2)
(90, 2)
(75, 2)
(55, 2)
(54, 2)
(53, 2)
(66, 2)
(65, 2)
(65, 2)
(57, 2)
(55, 2)
(49, 2)
(53, 2)
(53, 2)
(60, 2)
(51, 2)
(56, 2)
(57, 2)
(55, 2)
(81, 2)
(74, 2)
(45, 2)
(56, 2)
(86, 2)
(81, 2)
(80, 2)
(73, 2)
(52, 2)
(93, 2)
(84, 2)
(77, 2)
(92, 2)
(66, 2)
(82, 2)
(94, 2)
(88, 2)
(95, 2)
(186, 2)
(181, 2)
(172, 2)
(186, 2)
(168, 2)
(152, 2)
(151, 2)
(117, 2)
(125, 2)
(128, 2)
(117, 2)
(106, 2)
(101, 2)
(87, 2)
(76, 2)
(66, 2)
(67, 2)
(67, 2)
(121, 2)
(137, 2)
(167, 2)
(168, 2)
(162, 2)
(157, 2)
(116, 2)
(107, 2)
(106, 2)
(105, 2)
(102, 2)

(93, 2)
(81, 2)
(92, 2)
(71, 2)
(62, 2)
(57, 2)
(55, 2)
(57, 2)
(70, 2)
(68, 2)
(69, 2)
(71, 2)
(79, 2)
(58, 2)
(71, 2)
(73, 2)
(56, 2)
(64, 2)
(70, 2)
(72, 2)
(284, 2)
(941, 2)
(929, 2)
(920, 2)
(862, 2)
(842, 2)
(848, 2)
(785, 2)
(785, 2)
(492, 2)
(383, 2)
(415, 2)
(400, 2)
(393, 2)
(353, 2)
(449, 2)
(871, 2)
(906, 2)
(873, 2)
(498, 2)
(455, 2)
(492, 2)
(498, 2)
(425, 2)
(339, 2)
(346, 2)
(452, 2)
(458, 2)
(413, 2)
(436, 2)
(75, 2)
(74, 2)
(71, 2)
(92, 2)
(109, 2)
(109, 2)
(84, 2)
(72, 2)
(90, 2)
(56, 2)
(97, 2)
(104, 2)
(83, 2)
(76, 2)
(84, 2)
(85, 2)
(76, 2)
(93, 2)
(89, 2)
(85, 2)
(81, 2)
(92, 2)
(107, 2)
(103, 2)
(98, 2)
(110, 2)
(76, 2)
(74, 2)
(49, 2)
(50, 2)
(53, 2)
(42, 2)
(43, 2)
(45, 2)
(44, 2)
(41, 2)
(41, 2)
(29, 2)
(31, 2)
(52, 2)
(53, 2)
(48, 2)
(56, 2)
(234, 2)
(224, 2)
(215, 2)
(224, 2)
(209, 2)
(224, 2)
(253, 2)
(252, 2)
(228, 2)
(558, 2)
(765, 2)
(765, 2)
(573, 2)
(573, 2)
(661, 2)
(661, 2)
(661, 2)
(661, 2)
(661, 2)
(661, 2)
(661, 2)
(661, 2)
(661, 2)
(616, 2)
(616, 2)
(616, 2)
(616, 2)
(615, 2)
(733, 2)
(733, 2)
(733, 2)
(1194, 2)
(1194, 2)
(1194, 2)
(1194, 2)
(1194, 2)
(854, 2)
(854, 2)
(854, 2)
(854, 2)
(526, 2)
(526, 2)
(526, 2)
(597, 2)
(597, 2)
(597, 2)
(597, 2)
(659, 2)
(659, 2)
(659, 2)
(659, 2)
(557, 2)
(568, 2)
(604, 2)
(604, 2)
(458, 2)
(371, 2)
(371, 2)
(371, 2)
(595, 2)
(622, 2)
(201, 2)
(212, 2)
(227, 2)
(269, 2)
(227, 2)
(600, 2)
(600, 2)
(600, 2)
(600, 2)
(1094, 2)
(569, 2)
(569, 2)
(1731, 2)
(1731, 2)
(1731, 2)
(1731, 2)
(1090, 2)
(1090, 2)
(668, 2)
(668, 2)
(668, 2)
(1932, 2)
(1440, 2)
(1626, 2)
(1149, 2)
(1089, 2)
(1089, 2)
(1004, 2)
(1004, 2)
(1004, 2)
(630, 2)
(630, 2)
(630, 2)
(601, 2)
(601, 2)
(601, 2)
(254, 2)
(208, 2)
(272, 2)
(745, 2)
(745, 2)
(327, 2)
(327, 2)
(2097, 2)
(2097, 2)
(2097, 2)
(2097, 2)
(2097, 2)
(2097, 2)
(2097, 2)
(2097, 2)
(1861, 2)
(1861, 2)
(1551, 2)
(1551, 2)
(1033, 2)
(1344, 2)
(1263, 2)
(2032, 2)
(2032, 2)
(2032, 2)
(1947, 2)
(1947, 2)
(335, 2)
(335, 2)
(335, 2)
(335, 2)
(335, 2)
(255, 2)
(255, 2)
(255, 2)
(255, 2)
(255, 2)
(255, 2)
(255, 2)
(226, 2)
(212, 2)
(246, 2)
(246, 2)
(232, 2)
(232, 2)
(249, 2)
(529, 2)
(529, 2)
(611, 2)
(611, 2)
(590, 2)
(518, 2)
(518, 2)
(585, 2)
(585, 2)
(585, 2)
(503, 2)
(235, 2)
(235, 2)
(235, 2)
(235, 2)
(339, 2)
(339, 2)
(339, 2)
(514, 2)
(514, 2)
(514, 2)
(514, 2)
(506, 2)
(506, 2)
(506, 2)
(506, 2)
(506, 2)
(506, 2)
(375, 2)
(1112, 2)
(943, 2)
(943, 2)
(943, 2)
(950, 2)
(950, 2)
(935, 2)
(1073, 2)
(199, 2)
(199, 2)
(372, 2)
(372, 2)
(427, 2)
(427, 2)
(427, 2)
(411, 2)
(160, 2)
(179, 2)
(248, 2)
(248, 2)
(248, 2)
(248, 2)
(248, 2)
(436, 2)
(430, 2)
(425, 2)
(415, 2)
(171, 2)
(171, 2)
(171, 2)
(171, 2)
(171, 2)
(259, 2)
(270, 2)
(896, 2)
(933, 2)
(933, 2)
(864, 2)
(864, 2)
(779, 2)
(113, 2)
(77, 2)
(70, 2)
(70, 2)
(70, 2)
(209, 2)
(586, 2)
(681, 2)
(681, 2)
(485, 2)
(485, 2)
(485, 2)
(453, 2)
(453, 2)
(453, 2)
(453, 2)
(1102, 2)
(1102, 2)
(486, 2)
(486, 2)
(486, 2)
(455, 2)
(463, 2)
(1224, 2)
(1048, 2)
(1048, 2)
(1048, 2)
(1345, 2)
(321, 2)
(321, 2)
(321, 2)
(321, 2)
(321, 2)
(455, 2)
(492, 2)
(502, 2)
(634, 2)
(634, 2)
(660, 2)
(754, 2)
(754, 2)
(754, 2)
(754, 2)
(206, 2)
(206, 2)
(206, 2)
(206, 2)
(206, 2)
(206, 2)
(206, 2)
(173, 2)
(197, 2)
(197, 2)
(178, 2)
(205, 2)
(197, 2)
(233, 2)
(159, 2)
(167, 2)
(167, 2)
(167, 2)
(167, 2)
(167, 2)
(231, 2)
(231, 2)
(231, 2)
(211, 2)
(211, 2)
(211, 2)
(211, 2)
(211, 2)
(211, 2)
(211, 2)
(211, 2)
(211, 2)
(518, 2)
(518, 2)
(234, 2)
(250, 2)
(234, 2)
(489, 2)
(236, 2)
(475, 2)
(517, 2)
(470, 2)
(478, 2)
(478, 2)
(478, 2)
(426, 2)
(426, 2)
(496, 2)
(496, 2)
(496, 2)
(601, 2)
(601, 2)
(344, 2)
(615, 2)
(615, 2)
(374, 2)
(374, 2)
(374, 2)
(332, 2)
(336, 2)
(336, 2)
(369, 2)
(369, 2)
(651, 2)
(651, 2)
(651, 2)
(651, 2)
(651, 2)
(536, 2)
(536, 2)
(536, 2)
(536, 2)
(500, 2)
(500, 2)
(500, 2)
(500, 2)
(500, 2)
(500, 2)
(532, 2)
(532, 2)
(532, 2)
(557, 2)
(557, 2)
(501, 2)
(495, 2)
(495, 2)
(485, 2)
(475, 2)
(208, 2)
(328, 2)
(165, 2)
(459, 2)
(494, 2)
(185, 2)
(530, 2)
(578, 2)
(200, 2)
(200, 2)
(313, 2)
(313, 2)
(313, 2)
(313, 2)
(313, 2)
(387, 2)
(334, 2)
(334, 2)
(334, 2)
(397, 2)
(397, 2)
(276, 2)
(276, 2)
(276, 2)
(276, 2)
(276, 2)
(276, 2)
(284, 2)
(284, 2)
(284, 2)
(284, 2)
(284, 2)
(284, 2)
(284, 2)
(284, 2)
(284, 2)
(389, 2)
(389, 2)
(389, 2)
(389, 2)
(389, 2)
(225, 2)
(503, 2)
(188, 2)
(275, 2)
(213, 2)
(213, 2)
(230, 2)
(269, 2)
(269, 2)
(269, 2)
(222, 2)
(222, 2)
(222, 2)
(472, 2)
(472, 2)
(472, 2)
(472, 2)
(472, 2)
(549, 2)
(549, 2)
(549, 2)
(541, 2)
(510, 2)
(232, 2)
(232, 2)
(566, 2)
(566, 2)
(183, 2)
(206, 2)
(206, 2)
(206, 2)
(92, 2)
(92, 2)
(92, 2)
(92, 2)
(92, 2)
(92, 2)
(92, 2)
(92, 2)
(92, 2)
(92, 2)
(119, 2)
(115, 2)
(115, 2)
(115, 2)
(115, 2)
(115, 2)
(115, 2)
(114, 2)
(114, 2)
(68, 2)
(79, 2)
(79, 2)
(79, 2)
(79, 2)
(79, 2)
(79, 2)
(79, 2)
(80, 2)
(80, 2)
(66, 2)
(66, 2)
(66, 2)
(66, 2)
(66, 2)
(60, 2)
(60, 2)
(68, 2)
(77, 2)
(77, 2)
(77, 2)
(77, 2)
(77, 2)
(77, 2)
(77, 2)
(99, 2)
(99, 2)
(99, 2)
(97, 2)
(97, 2)
(144, 2)
(144, 2)
(144, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(146, 2)
(95, 2)
(95, 2)
(33, 2)
(33, 2)
(33, 2)
(39, 2)
(73, 2)
(73, 2)
(84, 2)
(75, 2)
(77, 2)
(85, 2)
(85, 2)
(86, 2)
(257, 2)
(212, 2)
(175, 2)
(175, 2)
(175, 2)
(175, 2)
(365, 2)
(365, 2)
(365, 2)
(172, 2)
(172, 2)
(163, 2)
(163, 2)
(156, 2)
(156, 2)
(156, 2)
(156, 2)
(156, 2)
(224, 2)
(224, 2)
(224, 2)
(224, 2)
(183, 2)
(183, 2)
(183, 2)
(183, 2)
(183, 2)
(183, 2)
(183, 2)
(169, 2)
(398, 2)
(327, 2)
(323, 2)
(396, 2)
(380, 2)
(317, 2)
(317, 2)
(330, 2)
(326, 2)
(325, 2)
(331, 2)
(316, 2)
(296, 2)
(266, 2)
(317, 2)
(295, 2)
(265, 2)
(267, 2)
(268, 2)
(275, 2)
(255, 2)
(255, 2)
(255, 2)
(255, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(378, 2)
(361, 2)
(378, 2)
(371, 2)
(288, 2)
(288, 2)
(288, 2)
(288, 2)
(103, 2)
(103, 2)
(105, 2)
(105, 2)
(97, 2)
(94, 2)
(131, 2)
(117, 2)
(117, 2)
(117, 2)
(117, 2)
(117, 2)
(120, 2)
(120, 2)
(120, 2)
(120, 2)
(120, 2)
(122, 2)
(122, 2)
(119, 2)
(119, 2)
(436, 2)
(436, 2)
(417, 2)
(417, 2)
(433, 2)
(156, 2)
(166, 2)
(166, 2)
(175, 2)
(431, 2)
(308, 2)
(308, 2)
(298, 2)
(294, 2)
(294, 2)
(294, 2)
(271, 2)
(271, 2)
(271, 2)
(271, 2)
(271, 2)
(271, 2)
(275, 2)
(275, 2)
(275, 2)
(275, 2)
(275, 2)
(139, 2)
(139, 2)
(139, 2)
(139, 2)
(139, 2)
(139, 2)
(116, 2)
(461, 2)
(469, 2)
(446, 2)
(114, 2)
(117, 2)
(117, 2)
(112, 2)
(246, 2)
(246, 2)
(246, 2)
(246, 2)
(239, 2)
(239, 2)
(234, 2)
(234, 2)
(217, 2)
(142, 2)
(222, 2)
(222, 2)
(222, 2)
(203, 2)
(203, 2)
(203, 2)
(209, 2)
(209, 2)
(209, 2)
(208, 2)
(208, 2)
(208, 2)
(208, 2)
(214, 2)
(214, 2)
(214, 2)
(154, 2)
(249, 2)
(412, 2)
(654, 2)
(752, 2)
(692, 2)
(1096, 2)
(1100, 2)
(1100, 2)
(1100, 2)
(689, 2)
(727, 2)
(635, 2)
(587, 2)
(73, 2)
(67, 2)
(88, 2)
(93, 2)
(125, 2)
(61, 2)
(61, 2)
(180, 2)
(169, 2)
(177, 2)
(172, 2)
(88, 2)
(175, 2)
(168, 2)
(170, 2)
(173, 2)
(200, 2)
(200, 2)
(200, 2)
(202, 2)
(326, 2)
(361, 2)
(264, 2)
(255, 2)
(545, 2)
(1315, 2)
(260, 2)
(647, 2)
(270, 2)
(664, 2)
(279, 2)
(279, 2)
(279, 2)
(279, 2)
(240, 2)
(247, 2)
(202, 2)
(529, 2)
(8751, 2)
(8751, 2)
(8803, 2)
(707, 2)
(8112, 2)
(7921, 2)
(21141, 2)
(34082, 2)
(44026, 2)
(44208, 2)
(44208, 2)
(44208, 2)
(19050, 2)
(19050, 2)
(19050, 2)
(44206, 2)
(44236, 2)
(44236, 2)
(44236, 2)
(44236, 2)
(44236, 2)
(44236, 2)
(44236, 2)
(44216, 2)
(475, 2)
(319, 2)
(319, 2)
(505, 2)
(505, 2)
(492, 2)
(309, 2)
(309, 2)
(362, 2)
(318, 2)
(467, 2)
(363, 2)
(363, 2)
(366, 2)
(562, 2)
(1221, 2)
(538, 2)
(362, 2)
(7938, 2)
(385, 2)
(247, 2)
(652, 2)
(585, 2)
(1059, 2)
(1059, 2)
(473, 2)
(416, 2)
(490, 2)
(497, 2)
(270, 2)
(96, 2)
(89, 2)
(89, 2)
(89, 2)
(94, 2)
(114, 2)
(290, 2)
(262, 2)
(201, 2)
(201, 2)
(201, 2)
(201, 2)
(201, 2)
(201, 2)
(232, 2)
(232, 2)
(228, 2)
(228, 2)
(96, 2)
(103, 2)
(103, 2)
(65, 2)
(65, 2)
(65, 2)
(65, 2)
(83, 2)
(88, 2)
(117, 2)
(117, 2)
(75, 2)
(99, 2)
(99, 2)
(99, 2)
(99, 2)
(91, 2)
(91, 2)
(100, 2)
(105, 2)
(90, 2)
(90, 2)
(93, 2)
(106, 2)
(87, 2)
(92, 2)
(93, 2)
(93, 2)
(93, 2)
(93, 2)
(99, 2)
(129, 2)
(111, 2)
(111, 2)
(110, 2)
(110, 2)
(110, 2)
(110, 2)
(119, 2)
(122, 2)
(121, 2)
(108, 2)
(108, 2)
(83, 2)
(78, 2)

(78, 2)
(78, 2)
(78, 2)
(78, 2)
(57, 2)
(57, 2)
(57, 2)
(57, 2)
(57, 2)
(57, 2)
(57, 2)
(57, 2)
(57, 2)
(54, 2)
(54, 2)
(55, 2)
(70, 2)
(90, 2)
(90, 2)
(90, 2)
(90, 2)
(90, 2)
(90, 2)
(90, 2)
(90, 2)
(90, 2)
(90, 2)
(107, 2)
(107, 2)
(107, 2)
(107, 2)
(107, 2)
(107, 2)
(107, 2)
(107, 2)
(107, 2)
(99, 2)
(99, 2)
(99, 2)
(99, 2)
(101, 2)
(106, 2)
(106, 2)
(106, 2)
(106, 2)
(104, 2)
(97, 2)
(86, 2)
(85, 2)
(85, 2)
(85, 2)
(59, 2)
(59, 2)
(54, 2)
(54, 2)
(54, 2)
(54, 2)
(44, 2)
(63, 2)
(52, 2)
(50, 2)
(193, 2)
(193, 2)
(182, 2)
(182, 2)
(149, 2)
(149, 2)
(149, 2)
(149, 2)
(149, 2)
(218, 2)
(218, 2)
(209, 2)
(214, 2)
(197, 2)
(197, 2)
(197, 2)
(197, 2)
(197, 2)
(197, 2)
(197, 2)
(197, 2)
(220, 2)
(191, 2)
(191, 2)
(191, 2)
(191, 2)
(180, 2)
(180, 2)
(180, 2)
(182, 2)
(182, 2)
(182, 2)
(182, 2)
(182, 2)
(133, 2)
(133, 2)
(133, 2)
(133, 2)
(133, 2)
(133, 2)
(133, 2)
(133, 2)
(133, 2)
(133, 2)
(108, 2)
(108, 2)
(108, 2)
(108, 2)
(108, 2)
(108, 2)
(182, 2)
(182, 2)
(182, 2)
(182, 2)
(182, 2)
(182, 2)
(182, 2)
(150, 2)
(76, 2)
(76, 2)
(76, 2)
(76, 2)
(76, 2)
(76, 2)
(76, 2)
(76, 2)
(76, 2)
(66, 2)
(100, 2)
(79, 2)
(68, 2)
(317, 2)
(322, 2)
(323, 2)
(326, 2)
(322, 2)
(188, 2)
(763, 2)
(763, 2)
(763, 2)
(763, 2)
(10785, 2)
(10785, 2)
(361, 2)
(290, 2)
(245, 2)
(263, 2)
(263, 2)
(263, 2)
(263, 2)
(44117, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36615, 2)
(36699, 2)
(36699, 2)
(35774, 2)
(35741, 2)
(35741, 2)
(34991, 2)
(230, 2)
(230, 2)
(230, 2)
(165, 2)
(165, 2)
(165, 2)
(165, 2)
(165, 2)
(165, 2)
(165, 2)
(165, 2)
(101, 2)
(74, 2)
(144, 2)
(144, 2)
(144, 2)
(130, 2)
(130, 2)
(117, 2)
(117, 2)
(130, 2)
(136, 2)
(133, 2)
(66, 2)
(66, 2)
(111, 2)
(68, 2)
(66, 2)
(186, 2)
(353, 2)
(189, 2)
(226, 2)
(197, 2)
(189, 2)
(352, 2)
(352, 2)
(363, 2)
(347, 2)
(340, 2)
(100, 2)
(100, 2)
(100, 2)
(68, 2)
(41, 2)
(75, 2)
(29, 2)
(31, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(18, 2)
(60, 2)
(46, 2)
(47, 2)
(46, 2)
(29, 2)
(29, 2)
(27, 2)
(157, 2)
(124, 2)
(134, 2)
(134, 2)
(142, 2)
(147, 2)
(153, 2)
(143, 2)
(142, 2)
(135, 2)
(154, 2)
(154, 2)
(154, 2)
(154, 2)
(154, 2)
(169, 2)
(168, 2)
(168, 2)
(175, 2)
(34, 2)
(39, 2)
(37, 2)
(78, 2)
(78, 2)
(27, 2)
(27, 2)
(25, 2)
(26, 2)
(0, 2)
(56, 2)
(56, 2)
(60, 2)
(63, 2)
(52, 2)
(55, 2)
(64, 2)
(59, 2)
(54, 2)
(19, 2)
(19, 2)
(19, 2)
(19, 2)
(18, 2)
(26, 2)
(26, 2)
(26, 2)
(15, 2)
(24, 2)
(13, 2)
(19, 2)
(26, 2)
(25, 2)
(22, 2)
(19, 2)
(13, 2)
(20, 2)
(22, 2)
(44, 2)
(52, 2)
(69, 2)
(49, 2)
(57, 2)
(57, 2)
(57, 2)
(58, 2)
(57, 2)
(61, 2)
(63, 2)
(84, 2)
(27, 2)
(19, 2)
(19, 2)
(20, 2)
(28, 2)
(28, 2)
(28, 2)
(16, 2)
(16, 2)
(32, 2)
(35, 2)
(20, 2)
(57, 2)
(57, 2)
(57, 2)
(57, 2)
(19, 2)
(26, 2)
(26, 2)
(26, 2)
(26, 2)
(11, 2)
(13, 2)
(13, 2)
(13, 2)
(70, 2)
(79, 2)
(79, 2)
(95, 2)
(95, 2)
(87, 2)
(87, 2)
(102, 2)
(102, 2)
(102, 2)
(102, 2)
(102, 2)
(92, 2)
(100, 2)
(102, 2)
(103, 2)
(140, 2)
(140, 2)
(141, 2)
(103, 2)
(91, 2)
(91, 2)
(110, 2)
(110, 2)
(110, 2)
(110, 2)
(104, 2)
(128, 2)
(118, 2)
(108, 2)
(95, 2)
(99, 2)
(109, 2)
(116, 2)
(124, 2)
(124, 2)
(124, 2)
(138, 2)
(43, 2)
(41, 2)
(40, 2)
(53, 2)
(23, 2)
(23, 2)
(45, 2)
(36, 2)
(61, 2)
(44, 2)
(44, 2)
(44, 2)
(48, 2)
(42, 2)
(43, 2)
(43, 2)
(43, 2)
(43, 2)
(34, 2)
(34, 2)
(34, 2)
(34, 2)
(34, 2)
(41, 2)
(42, 2)
(45, 2)
(76, 2)
(76, 2)
(42, 2)
(84, 2)
(40, 2)
(164, 2)
(80, 2)
(25, 2)
(25, 2)
(19, 2)
(37, 2)
(39, 2)
(38, 2)
(38, 2)
(38, 2)
(41, 2)
(42, 2)
(38, 2)
(0, 2)
(34, 2)
(34, 2)
(40, 2)
(34, 2)
(37, 2)
(202, 2)
(202, 2)
(202, 2)
(202, 2)
(170, 2)
(196, 2)
(189, 2)
(160, 2)
(151, 2)
(152, 2)
(190, 2)
(120, 2)
(171, 2)
(172, 2)
(168, 2)
(175, 2)
(181, 2)
(95, 2)
(122, 2)
(125, 2)
(144, 2)
(118, 2)
(115, 2)
(115, 2)
(114, 2)
(116, 2)
(118, 2)
(80, 2)
(80, 2)
(80, 2)
(80, 2)
(75, 2)
(47, 2)
(60, 2)
(128, 2)
(55, 2)
(26, 2)
(53, 2)
(106, 2)
(40, 2)
(40, 2)
(84, 2)
(84, 2)
(56, 2)
(56, 2)
(56, 2)
(56, 2)
(56, 2)
(56, 2)
(56, 2)
(111, 2)
(58, 2)
(58, 2)
(58, 2)
(150, 2)
(91, 2)
(89, 2)
(18, 2)
(18, 2)
(23, 2)
(30, 2)
(16, 2)
(20, 2)
(32, 2)
(32, 2)
(32, 2)
(16, 2)
(20, 2)
(18, 2)
(20, 2)
(20, 2)
(40, 2)
(40, 2)
(40, 2)
(40, 2)
(40, 2)
(38, 2)
(38, 2)
(59, 2)
(54, 2)
(70, 2)
(100, 2)
(100, 2)
(100, 2)
(43, 2)
(43, 2)
(43, 2)
(42, 2)
(43, 2)
(43, 2)
(45, 2)
(43, 2)
(34, 2)
(44, 2)
(45, 2)
(48, 2)
(51, 2)
(44, 2)
(24, 2)
(24, 2)
(24, 2)
(24, 2)
(30, 2)
(30, 2)
(30, 2)
(25, 2)
(25, 2)
(35, 2)
(86, 2)
(31, 2)
(32, 2)
(34, 2)
(47, 2)
(33, 2)
(35, 2)
(48, 2)
(36, 2)
(107, 2)
(66, 2)
(114, 2)
(86, 2)
(83, 2)
(82, 2)
(111, 2)
(112, 2)
(117, 2)
(117, 2)
(117, 2)
(122, 2)
(121, 2)
(111, 2)
(14, 2)
(13, 2)
(39, 2)
(40, 2)
(42, 2)
(25, 2)
(28, 2)
(17, 2)
(27, 2)
(63, 2)
(63, 2)
(63, 2)
(63, 2)
(63, 2)
(63, 2)
(61, 2)
(61, 2)
(61, 2)
(61, 2)
(61, 2)
(20, 2)
(20, 2)
(20, 2)
(37, 2)
(31, 2)
(39, 2)
(39, 2)
(23, 2)
(39, 2)
(35, 2)
(35, 2)
(39, 2)
(31, 2)
(66, 2)
(66, 2)
(160, 2)
(160, 2)
(191, 2)
(124, 2)
(71, 2)
(73, 2)
(104, 2)
(72, 2)
(72, 2)
(72, 2)
(72, 2)
(95, 2)
(116, 2)
(90, 2)
(65, 2)
(65, 2)
(88, 2)
(181, 2)
(181, 2)
(181, 2)
(181, 2)
(152, 2)
(128, 2)
(67, 2)
(121, 2)
(62, 2)
(62, 2)
(62, 2)
(62, 2)
(62, 2)
(62, 2)
(62, 2)
(62, 2)
(62, 2)
(57, 2)
(57, 2)
(284, 2)
(284, 2)
(941, 2)
(941, 2)
(862, 2)
(842, 2)
(785, 2)
(449, 2)
(449, 2)
(449, 2)
(449, 2)
(449, 2)
(449, 2)
(498, 2)
(425, 2)
(29, 2)
(31, 2)
(52, 2)
(52, 2)
(52, 2)
(53, 2)
(48, 2)
(48, 2)
(56, 2)
(228, 2)

In [ ]:
blocks.to_csv('CorpusPhoenixTrainRowCoords.csv',sep=';',compression='gzip')

In [61]:
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4401 entries, 40131075001008 to 1040133197041038
Data columns (total 11 columns):
distance_from_city    4401 non-null float64
urban                 4401 non-null object
latitude              4401 non-null float64
longitude             4401 non-null float64
blockgroup            4401 non-null int64
income                4401 non-null float64
blockgrouppop         4401 non-null object
population            4401 non-null int64
landarea              4401 non-null int64
waterarea             4401 non-null int64
corpus                4401 non-null object
dtypes: float64(4), int64(4), object(3)
memory usage: 572.6+ KB

In [58]:
X_features = joblib.load('X_features.joblib')

vect = CountVectorizer(dtype='uint16',min_df=1, vocabulary=X_features,
                       decode_error='ignore', lowercase=True) 

X_sparse = vect.transform(blocks['corpus'])

In [59]:
dfvect = pd.DataFrame(X_sparse.toarray(),dtype='uint16',columns=X_features)
dfvect.head()

,landarea,waterarea,0_restaurants_near,0_restaurants_far,1_restaurants_near,1_restaurants_far,2_restaurants_near,2_restaurants_far,3_restaurants_near,3_restaurants_far,4_restaurants_near,4_restaurants_far,0_shopping_near,0_shopping_far,1_shopping_near,1_shopping_far,2_shopping_near,2_shopping_far,3_shopping_near,3_shopping_far,4_shopping_near,4_shopping_far,0_food_near,0_food_far,1_food_near,1_food_far,2_food_near,2_food_far,3_food_near,3_food_far,4_food_near,4_food_far,0_beautysvc_near,0_beautysvc_far,1_beautysvc_near,1_beautysvc_far,2_beautysvc_near,2_beautysvc_far,3_beautysvc_near,3_beautysvc_far,4_beautysvc_near,4_beautysvc_far,0_homeservices_near,0_homeservices_far,1_homeservices_near,...,2_hair_extensions_far,3_hair_extensions_near,3_hair_extensions_far,4_hair_extensions_near,4_hair_extensions_far,0_lawyers_near,0_lawyers_far,1_lawyers_near,1_lawyers_far,2_lawyers_near,2_lawyers_far,3_lawyers_near,3_lawyers_far,4_lawyers_near,4_lawyers_far,0_french_near,0_french_far,1_french_near,1_french_far,2_french_near,2_french_far,3_french_near,3_french_far,4_french_near,4_french_far,0_selfstorage_near,0_selfstorage_far,1_selfstorage_near,1_selfstorage_far,2_selfstorage_near,2_selfstorage_far,3_selfstorage_near,3_selfstorage_far,4_selfstorage_near,4_selfstorage_far,0_physicaltherapy_near,0_physicaltherapy_far,1_physicaltherapy_near,1_physicaltherapy_far,2_physicaltherapy_near,2_physicaltherapy_far,3_physicaltherapy_near,3_physicaltherapy_far,4_physicaltherapy_near,4_physicaltherapy_far
0,0,0,0,5,4,10,6,25,0,0,0,0,5,25,3,5,7,46,2,11,0,21,0,32,2,11,1,11,0,4,0,0,8,6,2,6,14,47,0,1,0,0,12,53,0,...,2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,0
1,0,0,0,5,6,8,9,21,0,0,0,0,17,14,4,6,19,38,8,9,1,20,10,22,4,14,6,7,0,4,0,0,8,4,2,6,13,47,1,0,0,0,21,44,0,...,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,0
2,0,0,0,5,5,4,15,11,0,0,0,0,16,9,3,7,19,30,10,7,20,0,31,2,8,7,9,4,4,0,0,0,1,9,1,7,24,26,1,0,0,0,48,14,0,...,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0
3,0,0,0,1,5,4,15,10,0,0,0,0,17,8,4,6,21,20,10,7,20,0,31,2,8,6,9,2,4,0,0,0,1,11,1,3,25,23,1,0,0,0,48,16,0,...,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0
4,0,0,1,4,6,8,12,19,0,0,0,0,17,14,4,6,22,38,8,9,1,20,10,22,3,15,6,6,0,4,0,0,7,5,2,6,13,47,1,0,0,0,21,44,0,...,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0,0,0,0,0,0,0

In [60]:
joblib.dump(dfvect, 'X_trainPhoenix.joblib', compress=9)

['X_trainPhoenix.joblib']

In [47]:
y_trainPhoenix = blocks['income']

In [48]:
joblib.dump(y_trainPhoenix, 'y_trainPhoenix.joblib', compress=9)

['y_trainPhoenix.joblib']

In [62]:
dfvect.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Columns: 1482 entries, landarea to 4_physicaltherapy_far
dtypes: uint16(1482)
memory usage: 12.4 MB