In [4]:
%run imports_and_functions.ipynb

from dbfread import DBF

C:\Users\Jason\AppData\Local\conda\conda\envs\DSI-6\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [7]:
# income data files come in .dbf, must install this to read from python

# !pip install dbfread

Collecting dbfread
  Downloading https://files.pythonhosted.org/packages/4c/94/51349e43503e30ed7b4ecfe68a8809cdb58f722c0feb79d18b1f1e36fe74/dbfread-2.0.7-py2.py3-none-any.whl
Installing collected packages: dbfread
Successfully installed dbfread-2.0.7

### Creating Final Businesses Dataframe within City Radius

In [9]:
df = pd.read_csv('SeattleBusinesses.csv', sep=';', compression='gzip')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17028 entries, 0 to 17027
Data columns (total 12 columns):
Unnamed: 0       17028 non-null int64
alias            17028 non-null object
categories       17028 non-null object
coordinates      17028 non-null object
distance         17028 non-null float64
latitude         16966 non-null float64
longitude        16966 non-null float64
main_category    17028 non-null object
name             17028 non-null object
price            5866 non-null object
rating           17028 non-null float64
review_count     17028 non-null int64
dtypes: float64(4), int64(2), object(6)
memory usage: 1.6+ MB

In [10]:
def dropduplicate_yelp_entries(df) :
    dups = df[df[['latitude','longitude','alias']].duplicated(keep=False)].sort_values('latitude')
    mask = dups[['latitude','longitude','alias']].duplicated(keep='first')
#     print(dups)
    for index in dups[mask].index :
        dupset = dups[(dups['alias']==dups.loc[index,'alias']) & (dups['longitude']==dups.loc[index,'longitude'])].sort_values(
            'review_count', ascending=False)
        dropindex = dupset.iloc[1:,0].index
        df.drop(dropindex, axis=0, inplace=True)

def getPriceRange(string) :
    regex = re.compile("RestaurantsPriceRange2\\': \\'(\d)")
    try :
        match = regex.search(string)
        return int(match.groups(0)[0])
    except : return 0

def get_main_category(catstring) :
    string = ''
    try :
        for cat in main_categories :
            if cat in catstring : string = string + cat + ', '
    except : pass
    return string[0:(len(string)-2)]

def convertpricecolumn(pricesymbol) :
    try : num = len(pricesymbol)
    except : num = 0
    return num

In [11]:
print(df.shape)
dropduplicate_yelp_entries(df)
df.shape

(17028, 12)

(17028, 12)

In [12]:
# Still quite low percentage that have price field, but in new yelp data it's no longer found in
# attribute field under 'PriceRange2'
# df['price'] = df['attributes'].map(getPriceRange)
df['price'] = df['price'].map(convertpricecolumn)
df['price'].value_counts()

0    11162
2     3271
1     1849
3      627
4      119
Name: price, dtype: int64

In [14]:
# SET FOR EACH CITY: maxradius, testlat, testlong
maxradius = 6000
testlat = 47.592989
testlong = -122.336087 # Seattle, WA

In [15]:
df['distance2'] = calcDistances(testlat, testlong, df)

df[df['distance2']<maxradius].shape

(12516, 13)

In [16]:
# yelp calculated distances seem within 30 meters of python geo-module calculations
# need to use these ones because of 'extra_squares' search where yelp returns distance to these
# new auxilary centers, not the true city center
df['distance'] = df['distance2']

In [33]:
# df[df[['latitude','longitude']].duplicated(keep=False)].sort_values('latitude')

In [17]:
rowstodrop = df[(df['distance']>maxradius) | df['latitude'].isnull() | df['longitude'].isnull()].index

df.drop(rowstodrop, axis=0, inplace=True)
df.shape

(12516, 13)

In [18]:
df['lat_index'] = round(df['latitude'], 3)
df['long_index'] = round(df['longitude'], 4)

df = df.set_index(['lat_index','long_index'], drop=False).sort_index()
df = df.sort_index(level = [0,1])

In [19]:
df.tail()

                      Unnamed: 0                            alias  \
lat_index long_index
47.646    -122.3257        10225            lindquist-law-seattle
          -122.3250        18815           eastlake-flats-seattle
          -122.3240        16942        wellbelly-healing-seattle
          -122.3236        10222  lisa-k-clark-law-office-seattle
          -122.3236        10223         bromet-kenneth-f-seattle

                                                             categories  \
lat_index long_index
47.646    -122.3257   [{'alias': 'personal_injury', 'title': 'Person...
          -122.3250    [{'alias': 'apartments', 'title': 'Apartments'}]
          -122.3240   [{'alias': 'massage_therapy', 'title': 'Massag...
          -122.3236   [{'alias': 'divorce', 'title': 'Divorce & Fami...
          -122.3236          [{'alias': 'lawyers', 'title': 'Lawyers'}]

                                                            coordinates  \
lat_index long_index
47.646    -122.3257   {'latitude': 47.6463656, 'longitude': -122.325...
          -122.3250     {'latitude': 47.64615, 'longitude': -122.32505}
          -122.3240   {'latitude': 47.6459199, 'longitude': -122.32398}
          -122.3236      {'latitude': 47.6458, 'longitude': -122.32359}
          -122.3236      {'latitude': 47.6458, 'longitude': -122.32359}

                         distance   latitude   longitude main_category  \
lat_index long_index
47.646    -122.3257   5985.258800  47.646366 -122.325746  professional
          -122.3250   5968.542388  47.646150 -122.325050  homeservices
          -122.3240   5954.970197  47.645920 -122.323980        health
          -122.3236   5946.357577  47.645800 -122.323590  professional
          -122.3236   5946.357577  47.645800 -122.323590  professional

                                         name  price  rating  review_count  \
lat_index long_index
47.646    -122.3257             Lindquist Law      0     5.0             4
          -122.3250            Eastlake Flats      0     1.0             3
          -122.3240         Wellbelly Healing      0     5.0             1
          -122.3236   Lisa K Clark Law Office      0     1.0             1
          -122.3236          Bromet Kenneth F      0     5.0             1

                        distance2  lat_index  long_index
lat_index long_index
47.646    -122.3257   5985.258800     47.646   -122.3257
          -122.3250   5968.542388     47.646   -122.3250
          -122.3240   5954.970197     47.646   -122.3240
          -122.3236   5946.357577     47.646   -122.3236
          -122.3236   5946.357577     47.646   -122.3236

In [20]:
cat_alias_dict = json.load(open('cat_alias_dict.json','r'))

def categories_to_alias2(dfrow) :
    catstring = dfrow['categories']
    if type(catstring) != str : return str(dfrow['price']) + '_other'
    rawlis = list(set(catstring.split(', ')))
    lis = []
    for item in rawlis :
        if 'alias' in item :
            alias = item.split(':')[1].strip().strip("'")
            lis += [alias]
#     print(lis)
    lis = list(map(get_alias2,lis))
    lis = [item for item in lis if item != '_other']
    lis += ['_' + dfrow['main_category']]
    # some new categories are not in category dictionary, and each row already has main category
    # so am taking out all instances where business category could not be found
    lis = set(map((lambda x : str(dfrow['price']) + x),lis))
    return ' '.join(lis)

def get_alias2(cat) :
    try :
        alias = '_' + str(cat_alias_dict[map_category(cat_alias_dict[cat])])
    except : alias = '_other'
    return alias

def categories_to_alias(dfrow) :
    catstring = dfrow['categories']
    if type(catstring) != str : return str(dfrow['price']) + '_other'
    lis = list(set(catstring.split(', ')))
    lis = map(get_alias,lis)
    lis = set(map((lambda x : str(dfrow['price']) + x),lis))
    return ' '.join(lis)

def get_alias(cat) :
    try :
        alias = '_' + str(cat_alias_dict[map_category(cat.lower())])
    except : alias = '_other'
    return alias

## Function to map titles to macro-categories if not in top 150

dict_2A = json.load(open('dict_2A.json','r'))
dict_2B = json.load(open('dict_2B.json','r'))

def map_category(category):
    if category not in top_148:
        if category in dict_2B.keys():
            title = dict_2B[category]
        else:
            title = category
        if title in dict_2A.keys():
            title_2 = dict_2A[title]
            return(title_2)
        else:
            return(title)
    else:
        return(category)

In [21]:
df['alias_cats'] = df.apply(categories_to_alias2, axis=1)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 12516 entries, (47.539, -122.3414) to (47.646, -122.3236)
Data columns (total 16 columns):
Unnamed: 0       12516 non-null int64
alias            12516 non-null object
categories       12516 non-null object
coordinates      12516 non-null object
distance         12516 non-null float64
latitude         12516 non-null float64
longitude        12516 non-null float64
main_category    12516 non-null object
name             12516 non-null object
price            12516 non-null int64
rating           12516 non-null float64
review_count     12516 non-null int64
distance2        12516 non-null float64
lat_index        12516 non-null float64
long_index       12516 non-null float64
alias_cats       12516 non-null object
dtypes: float64(7), int64(3), object(6)
memory usage: 1.6+ MB

In [23]:
df.head()

                      Unnamed: 0                                      alias  \
lat_index long_index
47.539    -122.3414        20055  pacific-plumbing-supply-company-seattle-2
47.540    -122.3383        10220               dandylines-show-room-seattle
          -122.3228        14764            calozzis-cheesesteaks-seattle-3
47.541    -122.3377        21396                barron-collection-seattle-2
          -122.3277         1740                 alpine-auto-center-seattle

                                                             categories  \
lat_index long_index
47.539    -122.3414        [{'alias': 'plumbing', 'title': 'Plumbing'}]
47.540    -122.3383   [{'alias': 'homedecor', 'title': 'Home Decor'}...
          -122.3228   [{'alias': 'cheesesteaks', 'title': 'Cheeseste...
47.541    -122.3377     [{'alias': 'giftshops', 'title': 'Gift Shops'}]
          -122.3277   [{'alias': 'bodyshops', 'title': 'Body Shops'}...

                                                            coordinates  \
lat_index long_index
47.539    -122.3414     {'latitude': 47.53926, 'longitude': -122.34143}
47.540    -122.3383   {'latitude': 47.5404648292527, 'longitude': -1...
          -122.3228   {'latitude': 47.540249, 'longitude': -122.3228...
47.541    -122.3377   {'latitude': 47.5410907, 'longitude': -122.337...
          -122.3277   {'latitude': 47.5410474, 'longitude': -122.327...

                         distance   latitude   longitude main_category  \
lat_index long_index
47.539    -122.3414   5987.205780  47.539260 -122.341430  homeservices
47.540    -122.3383   5842.077766  47.540465 -122.338285  professional
          -122.3228   5947.788414  47.540249 -122.322845   restaurants
47.541    -122.3377   5771.500750  47.541091 -122.337746      shopping
          -122.3277   5809.509324  47.541047 -122.327680    automotive

                                                 name  price  rating  \
lat_index long_index
47.539    -122.3414   Pacific Plumbing Supply Company      0     4.0
47.540    -122.3383              DandyLines Show Room      1     5.0
          -122.3228            Calozzi's Cheesesteaks      2     4.5
47.541    -122.3377                 Barron Collection      0     5.0
          -122.3277                Alpine Auto Center      0     4.0

                      review_count    distance2  lat_index  long_index  \
lat_index long_index
47.539    -122.3414              5  5987.205780     47.539   -122.3414
47.540    -122.3383              1  5842.077766     47.540   -122.3383
          -122.3228            234  5947.788414     47.540   -122.3228
47.541    -122.3377              1  5771.500750     47.541   -122.3377
          -122.3277             16  5809.509324     47.541   -122.3277

                                                        alias_cats
lat_index long_index
47.539    -122.3414                      0_homeservices 0_plumbing
47.540    -122.3383       1_professional 1_homedecor 1_accessories
          -122.3228                     2_restaurants 2_sandwiches
47.541    -122.3377                                     0_shopping
          -122.3277   0_automotive 0_bodyshops 0_auto 0_autorepair

In [42]:

df.to_csv('SeattleBusinessesFinal.csv',sep=';',header=True,index=True,compression='gzip')

In [41]:
df['alias_cats'].map((lambda x : str(len(x))+x)).value_counts()

80_health                                                 772
140_professional                                          613
140_homeservices                                          384
150_localservices                                         370
80_active                                                 309
140_hotelstravel                                          283
270_homeservices 0_apartments                             244
150_eventservices                                         243
250_realestate 0_apartments                               222
60_arts                                                   182
190_automotive 0_auto                                     182
310_realestateagents 0_realestate                         168
102_shopping                                              164
280_contractors 0_homeservices                            163
110_education                                             162
100_shopping                                              126
270_financialservices 0_banks                             124
151_coffee 1_food                                         122
190_financialservices                                     118
280_Real Estate 0_homeservices                            118
200_publicservicesgovt                                    115
210_physicians 0_health                                   103
270_generaldentistry 0_health                             102
182_hair 2_beautysvc                                       95
260_massage_therapy 0_health                               94
150_religiousorgs                                          85
62_food                                                    74
310_eventservices 0_photographers                          73
260_Real Estate 0_realestate                               73
240_professional 0_lawyers                                 64
330_realestateagents 0_homeservices                        62
280_landscaping 0_homeservices                             58
210_medcenters 0_health                                    56
240_eventservices 0_venues                                 56
110_massmedia                                              56
152_coffee 2_food                                          53
61_food                                                    53
160_theater 0_arts                                         53
460_generaldentistry 0_health 0_cosmeticdentists           52
150_active 0_yoga                                          50
200_pet_sitting 0_pets                                     49
60_food                                                    48
250_automotive 0_autorepair                                47
290_homecleaning 0_homeservices                            47
60_pets                                                    47
103_shopping                                               47
260_eventservices 0_catering                               47
320_healthtrainers 0_gyms 0_active                         46
230_movers 0_homeservices                                  46
131_restaurants                                            43
240_chiropractors 0_health                                 42
270_copyshops 0_localservices                              42
132_restaurants                                            42
260_physicaltherapy 0_health                               41
250_healthtrainers 0_active                                41
212_beautysvc 2_barbers                                    39
310_eventplanning 0_eventservices                          39
112_beautysvc                                              39
242_eventservices 2_hotels                                 36
180_hair 0_beautysvc                                       34
101_shopping                                               34
290_professional 0_homeservices                            34
280_itservices 0_localservices                             33
340_financialservices 0_professional                       31
250_homeservices 0_plumbing                                31
460_generaldentistry 0_cosmeticdentists 0_health           31
162_grocery 2_food                                         29
210_hvac 0_homeservices                                    29
170_arts 0_shopping                                        29
420_massage_therapy 0_chiropractors 0_health               28
310_homeservices 0_realestatesvcs                          27
120_vet 0_pets                                             25
270_education 0_localservices                              25
150_food 0_coffee                                          25
290_realestate 0_realestatesvcs                            24
181_hair 1_beautysvc                                       24
332_laundryservices 2_localservices                        23
230_professional 0_health                                  23
352_health 2_opticians 2_optometrists                      22
300_professional 0_eventservices                           21
161_grocery 1_food                                         20
300_localservices 0_homeservices                           20
200_shopping 0_jewelry                                     20
202_shopping 2_jewelry                                     20
322_restaurants 2_sushi 2_japanese                         20
212_beautysvc 2_massage                                    20
251_othersalons 1_beautysvc                                20
212_florists 2_shopping                                    19
171_food 1_icecream                                        19
230_optometrists 0_health                                  19
300_automotive 0_servicestations                           19
232_restaurants 2_seafood                                  18
130_restaurants                                            18
361_restaurants 1_hotdogs 1_sandwiches                     18
440_professional 0_homecleaning 0_homeservices             18
471_sandwiches 1_coffee 1_food 1_breakfast_brunch          18
290_selfstorage 0_localservices                            17
150_gyms 0_active                                          17
262_shopping 2_localservices                               17
300_professional 0_localservices                           17
                                                         ...
472_lounges 2_restaurants 2_nightlife 2_wine_bars           1
302_restaurants 2_thai 2_seafood                            1
372_restaurants 2_nightlife 2_wine_bars                     1
274_restaurants 4_newamerican                               1
460_eventservices 0_sandwiches 0_food 0_catering            1
392_arts 2_shopping 2_jewelry 2_homedecor                   1
400_beer_and_wine 0_delis 0_food 0_grocery                  1
400_italian 0_pizza 0_food 0_beer_and_wine                  1
341_salad 1_restaurants 1_sandwiches                        1
310_eventservices 0_bars 0_venues                           1
372_bars 2_nightlife 2_breakfast_brunch                     1
362_bars 2_salad 2_burgers 2_nightlife                      1
412_bars 2_newamerican 2_french 2_nightlife                 1
264_shopping 4_eventservices                                1
311_coffee 1_food 1_artsandcrafts                           1
311_burgers 1_tradamerican 1_food                           1
401_desserts 1_italian 1_food 1_sandwiches                  1
420_massage_therapy 0_active 0_health 0_yoga                1
223_skincare 3_beautysvc                                    1
282_florists 2_bakeries 2_food                              1
513_cocktailbars 3_japanese 3_nightlife 3_restaurants       1
492_eventservices 2_venues 2_cocktailbars 2_seafood         1
252_grocery 2_health 2_food                                 1
334_shopping 4_food 4_beer_and_wine                         1
252_jewelry 2_localservices                                 1
232_cafes 2_venues 2_arts                                   1
340_hairremoval 0_beautysvc 0_health                        1
322_gourmet 2_beer_and_wine 2_arts                          1
443_menscloth 3_shopping 3_accessories 3_shoes              1
343_cosmetics 3_skincare 3_beautysvc                        1
310_theater 0_professional 0_arts                           1
383_furniture 3_homedecor 3_homeservices                    1
291_education 1_arts 1_shopping                             1
390_vietnamese 0_sandwiches 0_restaurants                   1
323_othersalons 3_spas 3_beautysvc                          1
311_shopping 1_restaurants 1_food                           1
492_lounges 2_nightlife 2_mediterranean 2_wine_bars         1
462_restaurants 2_asianfusion 2_breakfast_brunch            1
261_bbq 1_restaurants 1_food                                1
501_mexican 1_restaurants 1_delis 1_breakfast_brunch        1
232_beautysvc 2_education                                   1
330_hvac 0_localservices 0_plumbing                         1
301_delis 1_beer_and_wine 1_food                            1
360_professional 0_physicians 0_health                      1
382_restaurants 2_delis 2_grocery 2_food                    1
400_education 0_Real Estate 0_homeservices                  1
520_waxing 0_beautysvc 0_eyelashservice 0_hairstylists      1
260_education 0_professional                                1
351_food 1_grocery 1_delis 1_bakeries                       1
441_bakeries 1_restaurants 1_food 1_sandwiches              1
270_asianfusion 0_restaurants                               1
501_asianfusion 1_restaurants 1_chinese 1_vietnamese        1
350_eventservices 0_bakeries 0_coffee                       1
263_steak 3_nightlife 3_bars                                1
180_fitness 0_active                                        1
401_education 1_nightlife 1_arts 1_theater                  1
451_salad 1_food 1_juicebars 1_breakfast_brunch             1
261_hotdogs 1_burgers 1_food                                1
213_steak 3_restaurants                                     1
483_breakfast_brunch 3_mediterranean 3_restaurants          1
460_beautysvc 0_massage 0_chiropractors 0_health            1
272_massage 2_health 2_active                               1
363_venues 3_nightlife 3_eventservices                      1
324_shopping 4_shoes 4_accessories                          1
360_homedecor 0_homeservices 0_jewelry                      1
271_indpak 1_juicebars 1_food                               1
442_restaurants 2_cafes 2_beer_and_wine 2_food              1
410_hotelstravel 0_Real Estate 0_apartments                 1
271_nightlife 1_arts 1_venues                               1
361_bars 1_coffee 1_restaurants 1_food                      1
331_thai 1_restaurants 1_vietnamese                         1
462_restaurants 2_nightlife 2_arts 2_asianfusion            1
262_coffee 2_food 2_desserts                                1
452_eventservices 2_shopping 2_nightlife 2_arts             1
281_restaurants 1_delis 1_food                              1
450_Real Estate 0_realestate 0_realestateagents             1
501_mideastern 1_salad 1_restaurants 1_mediterranean        1
472_beautysvc 2_accessories 2_jewelry 2_cosmetics           1
270_gourmet 0_shopping 0_food                               1
311_eventservices 1_venues 1_food                           1
452_bars 2_salad 2_nightlife 2_breakfast_brunch             1
360_automotive 0_auto_detailing 0_auto                      1
480_eventservices 0_sandwiches 0_catering 0_coffee          1
330_medicalspa 0_beautysvc 0_health                         1
342_restaurants 2_burgers 2_japanese                        1
400_automotive 0_servicestations 0_carwash                  1
311_salad 1_seafood 1_restaurants                           1
471_eventservices 1_restaurants 1_food 1_catering           1
420_professional 0_eventservices 0_homedecor                1
352_beautysvc 2_eyelashservice 2_hair                       1
241_gourmet 1_cafes 1_food                                  1
334_homedecor 4_professional 4_arts                         1
210_cafes 0_restaurants                                     1
492_health 2_beautysvc 2_skincare 2_massage_therapy         1
230_seafood 0_restaurants                                   1
264_shopping 4_arts 4_venues                                1
410_professional 0_massage_therapy 0_health                 1
452_shoes 2_womenscloth 2_shopping 2_deptstores             1
282_pubs 2_nightlife 2_mexican                              1
462_specialtyschools 2_shopping 2_arts 2_theater            1
Name: alias_cats, Length: 1940, dtype: int64

### Census Block Population and Income to X_train Coordinates DataFrame

In [26]:
table = DBF('tl_2014_53_tabblock10.dbf')
type(table)

dbfread.dbf.DBF

In [27]:
df_coords = pd.DataFrame(iter(table))
df_coords.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10
0,53,073,010100,3147,530730101003147,Block 3147,G5040,R,,,S,0,7503,+48.8311355,-122.1424270
1,53,073,010100,4003,530730101004003,Block 4003,G5040,R,,,S,0,12106,+48.8324631,-122.1557965
2,53,073,010100,4182,530730101004182,Block 4182,G5040,R,,,S,0,87185,+48.6698268,-122.1447266
3,53,073,011000,1018,530730110001018,Block 1018,G5040,R,,,S,0,120126,+48.9779153,-123.0668955
4,53,073,940000,1027,530739400001027,Block 1027,G5040,R,,,S,0,81726,+48.7731088,-122.5998590

In [28]:
df_coords = df_coords[['GEOID10','INTPTLAT10','INTPTLON10','UR10','ALAND10','AWATER10']]
# df_coords.to_csv('SeattleCoords.csv',sep=';',header=True,index=True,compression='gzip')

In [29]:
def cut(geoid) :
    index = str(geoid)
    return int(index[0:(len(index)-3)])

def matchincome(geoid) :
    try : return blockgroupincome.loc[geoid,'income']
    except : return 0

def matchpop(geoid) :
    try : return blockgrouppop.loc[geoid,'population']
    except : return 0

In [30]:
table = DBF('tabblock2010_53_pophu.dbf')

populations = pd.DataFrame(iter(table))
populations.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE,BLOCKID10,PARTFLG,HOUSING10,POP10
0,53,001,950100,1042,530019501001042,N,1,5
1,53,001,950200,3154,530019502003154,N,0,0
2,53,001,950200,3156,530019502003156,N,2,9
3,53,001,950300,3030,530019503003030,N,0,0
4,53,001,950300,3042,530019503003042,N,2,11

In [31]:
populations = populations[['BLOCKID10','POP10']]

In [32]:
populations.columns = ['GEO.id2','population']
populations['blockgroup'] = populations['GEO.id2'].map(cut)
populations['GEO.id2'] = populations['GEO.id2'].map(int)
populations.set_index(['GEO.id2'],inplace=True,drop=False)
populations.head()

                         GEO.id2  population    blockgroup
GEO.id2
530019501001042  530019501001042           5  530019501001
530019502003154  530019502003154           0  530019502003
530019502003156  530019502003156           9  530019502003
530019503003030  530019503003030           0  530019503003
530019503003042  530019503003042          11  530019503003

In [33]:
populations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195574 entries, 530019501001042 to 530770028023046
Data columns (total 3 columns):
GEO.id2       195574 non-null int64
population    195574 non-null int64
blockgroup    195574 non-null int64
dtypes: int64(3)
memory usage: 6.0 MB

In [34]:
blockgroupincome = pd.read_csv('Seattle.csv')
blockgroupincome.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,1500000US530330001001,530330001001,"Block Group 1, Census Tract 1, King County, Wa...",82066.0,24420.0
1,1500000US530330001002,530330001002,"Block Group 2, Census Tract 1, King County, Wa...",29449.0,6510.0
2,1500000US530330001003,530330001003,"Block Group 3, Census Tract 1, King County, Wa...",32027.0,7036.0
3,1500000US530330001004,530330001004,"Block Group 4, Census Tract 1, King County, Wa...",19481.0,3596.0
4,1500000US530330001005,530330001005,"Block Group 5, Census Tract 1, King County, Wa...",33317.0,5586.0

In [35]:
blockgroupincome.drop(0, axis=0, inplace=True)
blockgroupincome['GEO.id2'] = blockgroupincome['GEO.id2'].map(int)
blockgroupincome.set_index('GEO.id2', inplace=True)
blockgroupincome.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1421 entries, 530330001002 to 530339901000
Data columns (total 4 columns):
GEO.id               1421 non-null object
GEO.display-label    1421 non-null object
HD01_VD01            1419 non-null float64
HD02_VD01            1419 non-null float64
dtypes: float64(2), object(2)
memory usage: 55.5+ KB

In [36]:
blockgroupincome.columns = ['notused','notused2','income','errorbar']
blockgroupincome.head()

,notused,notused2,income,errorbar
GEO.id2,,,,
530330001002,1500000US530330001002,"Block Group 2, Census Tract 1, King County, Wa...",29449.0,6510.0
530330001003,1500000US530330001003,"Block Group 3, Census Tract 1, King County, Wa...",32027.0,7036.0
530330001004,1500000US530330001004,"Block Group 4, Census Tract 1, King County, Wa...",19481.0,3596.0
530330001005,1500000US530330001005,"Block Group 5, Census Tract 1, King County, Wa...",33317.0,5586.0
530330002001,1500000US530330002001,"Block Group 1, Census Tract 2, King County, Wa...",41861.0,7882.0

In [37]:
populations['income'] = populations['blockgroup'].map(matchincome)
populations['income'].value_counts()

0.0         159765
28781.0        546
61652.0        263
43314.0        250
53975.0        226
26587.0        197
47170.0        170
8730.0         170
54694.0        149
53916.0        133
45565.0        129
27155.0        123
46691.0        121
49280.0        121
45518.0        109
47327.0        106
31184.0        101
32598.0         98
50778.0         97
34511.0         93
42507.0         91
50094.0         90
32102.0         90
38095.0         89
35822.0         87
41464.0         86
56123.0         85
86364.0         85
49322.0         84
65926.0         83
47333.0         83
61587.0         82
53636.0         82
49083.0         81
53649.0         81
47510.0         80
22951.0         80
47804.0         77
37625.0         77
57510.0         76
56916.0         74
24119.0         74
36742.0         74
75025.0         73
26781.0         73
35578.0         71
33795.0         71
50147.0         70
75693.0         69
56119.0         69
29898.0         69
50911.0         68
96399.0         66
49731.0         66
82023.0         64
21753.0         64
77003.0         64
49572.0         63
53056.0         63
59277.0         63
41796.0         63
50606.0         63
81966.0         63
57027.0         63
20075.0         63
3075.0          62
17061.0         61
35636.0         61
71853.0         61
13785.0         61
41510.0         61
64553.0         60
96445.0         60
23469.0         60
43515.0         59
42544.0         59
91338.0         59
41847.0         58
33938.0         58
195814.0        58
105209.0        57
25107.0         57
38094.0         57
66784.0         57
80229.0         57
68456.0         57
39487.0         57
30743.0         56
38717.0         56
20631.0         55
53816.0         55
49663.0         55
29470.0         55
37068.0         54
77986.0         54
26270.0         53
13545.0         53
90669.0         53
56409.0         52
32085.0         51
             ...
47351.0          9
83300.0          9
30270.0          9
36884.0          9
14958.0          9
60513.0          9
47573.0          9
55743.0          9
25627.0          9
24187.0          8
21200.0          8
45011.0          8
19652.0          8
24096.0          8
38031.0          8
21397.0          8
28824.0          8
41585.0          8
33829.0          8
44955.0          8
39683.0          8
37072.0          8
59197.0          8
20191.0          8
55724.0          8
17989.0          8
31046.0          8
69905.0          8
36674.0          8
50299.0          8
37299.0          8
8573.0           8
19304.0          8
28156.0          8
30785.0          7
70523.0          7
28170.0          7
17339.0          7
17701.0          7
21160.0          7
56838.0          7
24825.0          7
24448.0          7
20903.0          7
16625.0          7
15015.0          7
45633.0          7
33317.0          7
32296.0          7
30601.0          7
55417.0          7
62818.0          7
17908.0          7
68221.0          7
37599.0          7
46818.0          7
19445.0          7
29556.0          7
43454.0          7
42704.0          7
37098.0          7
24557.0          6
32883.0          6
14375.0          6
20562.0          6
50341.0          6
73079.0          6
43574.0          6
41492.0          6
61893.0          6
30191.0          6
29189.0          6
32253.0          6
93921.0          6
13926.0          6
25968.0          6
26751.0          6
26112.0          6
27827.0          6
32027.0          6
31557.0          6
14797.0          6
46304.0          6
27461.0          6
18878.0          5
77096.0          5
31569.0          5
63261.0          5
12905.0          5
46492.0          5
29959.0          4
55900.0          4
24154.0          4
28375.0          4
31921.0          4
19481.0          4
21580.0          4
15660.0          2
17731.0          2
85261.0          2
Name: income, Length: 1406, dtype: int64

In [14]:
# blockgrouppop = blockgroupincome

# Population by census block can replace block group population column
# populations['blockgrouppop'] = populations['blockgroup'].map(matchpop)
# populations['blockgrouppop'].value_counts()

C:\Users\Jason\AppData\Local\conda\conda\envs\DSI-6\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0         168987
17326        787
14746        753
78229        661
18185        639
22581        622
31203        573
3880         531
33868        487
-            419
32150        416
20328        392
18930        301
33053        282
21180        278
19604        269
21896        260
47731        256
21618        239
18767        228
30785        225
16644        203
24263        196
30453        182
18186        172
31979        171
46435        171
12395        171
15586        160
26170        157
39747        154
43373        152
24003        150
29197        150
26288        145
25530        138
12132        134
23799        133
112222       126
20814        122
17091        119
12895        116
43901        114
35941        113
33372        112
35455        111
28170        111
20964        109
25307        108
38521        107
21718        105
36011        104
27142        101
32154        100
15428        100
54499         98
38691         98
18003         97
34027         97
28744         96
31837         95
26054         94
25905         93
10394         92
31543         92
15563         91
24330         91
68116         90
31072         90
4732          89
17225         88
35036         88
35728         87
51600         87
47942         87
10438         86
54001         84
10587         84
18756         83
44210         82
59961         81
27822         81
32244         79
41794         79
24800         79
73299         77
30473         77
33177         76
28867         76
14449         76
39881         75
23924         75
23171         75
42069         75
47557         75
15276         74
34380         73
34181         73
19480         73
58875         72
           ...
29993          7
51080          7
18534          7
12178          7
31491          7
20249          7
56813          6
11330          6
12503          6
46954          6
9904           6
21377          6
21717          6
12250          6
55830          6
16794          6
14004          6
36563          6
13366          6
22773          6
11490          6
71651          6
26283          6
32013          6
9812           6
38831          6
19322          6
56565          6
22894          6
14445          6
10464          6
17474          5
14636          5
15328          5
9913           5
3222           5
58602          5
8994           5
20597          5
49916          5
86573          5
13201          5
9546           5
21746          5
34146          5
9734           5
18087          5
13447          5
10700          5
24080          4
27842          4
15910          4
20416          4
36277          4
21567          4
21689          4
26666          4
18643          4
26201          4
18183          4
22530          4
17977          4
48786          3
12455          3
29041          3
6852           3
30948          3
14597          3
16266          3
29919          3
11831          3
55104          3
9477           3
19394          3
9862           3
22827          3
13987          3
20922          3
10155          3
42842          2
28296          2
25743          2
17232          2
13489          2
21135          2
25087          2
23494          2
19047          2
11995          2
8758           2
38530          2
27458          2
25529          2
18770          2
20620          1
29557          1
26401          1
15002          1
22106          1
19589          1
Name: blockgrouppop, Length: 2437, dtype: int64

In [38]:
populations.head()

                         GEO.id2  population    blockgroup  income
GEO.id2
530019501001042  530019501001042           5  530019501001     0.0
530019502003154  530019502003154           0  530019502003     0.0
530019502003156  530019502003156           9  530019502003     0.0
530019503003030  530019503003030           0  530019503003     0.0
530019503003042  530019503003042          11  530019503003     0.0

### X_train Coordinates DataFrame

In [39]:
features = ['distance','urban','latitude','longitude','blockgroup','income',
                'blockgrouppop','population','landarea','waterarea','block']

In [40]:
def blocksdropna(df) :
    df.drop(df[df['income']==0].index, inplace=True)
    mask = df['income'].astype(str)=='-'
    df.drop(df[mask].index, inplace=True)
    df.drop(df[df['population']<20].index, inplace=True)  # min 20 people for block to be counted

In [43]:
# blocks = pd.read_csv('SeattleCoords.csv',sep=';',compression='gzip')
blocks = df_coords
blocks.head()

           GEOID10   INTPTLAT10    INTPTLON10 UR10  ALAND10  AWATER10
0  530730101003147  +48.8311355  -122.1424270    R        0      7503
1  530730101004003  +48.8324631  -122.1557965    R        0     12106
2  530730101004182  +48.6698268  -122.1447266    R        0     87185
3  530730110001018  +48.9779153  -123.0668955    R        0    120126
4  530739400001027  +48.7731088  -122.5998590    R        0     81726

In [45]:
# blocks.drop('Unnamed: 0', axis=1, inplace=True)
blocks.columns = ['GEO.id2','latitude','longitude','urban','landarea','waterarea']
blocks['blockgroup'] = blocks['GEO.id2'].map(cut)
blocks['GEO.id2'] = blocks['GEO.id2'].map(int)
blocks = blocks.set_index('GEO.id2')
blocks.sort_index(inplace=True)
blocks.head()

,latitude,longitude,urban,landarea,waterarea,blockgroup
GEO.id2,,,,,,
530019501001000,+47.2512419,-117.9624855,R,570258,0,530019501001
530019501001001,+47.2440890,-118.0011761,R,16110504,178899,530019501001
530019501001002,+47.2227312,-118.0132900,R,0,58282,530019501001
530019501001003,+47.2531211,-117.9782793,R,0,274966,530019501001
530019501001004,+47.2397419,-117.9780911,R,0,477164,530019501001

In [46]:
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195574 entries, 530019501001000 to 530779400062044
Data columns (total 6 columns):
latitude      195574 non-null object
longitude     195574 non-null object
urban         195574 non-null object
landarea      195574 non-null int64
waterarea     195574 non-null int64
blockgroup    195574 non-null int64
dtypes: int64(3), object(3)
memory usage: 10.4+ MB

In [47]:
blocks = blocks.join(populations[['income','population']], how='inner')
blocks.shape

(195574, 8)

In [48]:
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195574 entries, 530019501001000 to 530779400062044
Data columns (total 8 columns):
latitude      195574 non-null object
longitude     195574 non-null object
urban         195574 non-null object
landarea      195574 non-null int64
waterarea     195574 non-null int64
blockgroup    195574 non-null int64
income        195489 non-null float64
population    195574 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 13.4+ MB

In [49]:
blocksdropna(blocks)
blocks.shape

(19356, 8)

In [50]:
blocks[(blocks['population']!=0) & (blocks['income']==0)] # must drop as don't have y target (income)

Empty DataFrame
Columns: [latitude, longitude, urban, landarea, waterarea, blockgroup, income, population]
Index: []

In [51]:
testlat, testlong  # used as center of Seattle

(47.592989, -122.336087)

In [52]:
blocks['distance_from_city'] = blocks.apply(
    (lambda row : calcDist(row['latitude'],row['longitude'],testlat, testlong)),         
    axis=1)

In [53]:
blocks = blocks[blocks['distance_from_city'] < (maxradius - 1000)]
blocks.shape

(1976, 9)

In [54]:
blocks = blocks.reindex(['distance_from_city','urban','latitude','longitude','blockgroup','income',
                'blockgrouppop','population','landarea','waterarea'], axis=1)
blocks.head()

,distance_from_city,urban,latitude,longitude,blockgroup,income,blockgrouppop,population,landarea,waterarea
GEO.id2,,,,,,,,,,
530330058022019,4980.066227,U,+47.6309699,-122.3711993,530330058022,50272.0,NaN,256,298132,0
530330062001053,4944.954575,U,+47.6281770,-122.2958621,530330062001,75693.0,NaN,74,135167,0
530330062003002,4858.225523,U,+47.6332217,-122.3108745,530330062003,110602.0,NaN,43,9923,0
530330062003004,4838.755140,U,+47.6332255,-122.3115595,530330062003,110602.0,NaN,37,10647,0
530330062003007,4822.522346,U,+47.6332461,-122.3122076,530330062003,110602.0,NaN,70,8804,0

In [55]:
blocks[blocks['distance_from_city'] < (maxradius - 1000)][['population']].sum()

population    172475
dtype: int64

In [56]:
def bootstrapBlocks(blocksdf) :  # changed add block rows to per 100 from 200
    df = blocksdf.copy()
    print(df.index)
    for index in blocksdf[blocksdf['population']>100].index : 
        iterpop = int(np.ceil(blocksdf.loc[index,'population'] / 100))
        lis = [pd.Series(data=blocksdf.loc[index].values, name=index+(10**15*i),
                        index=blocksdf.columns) for i in range(1,iterpop)]
#         print(len(lis))
        df = df.append(lis) # more efficient and faster to append all at once
    return df

In [57]:
blocks = bootstrapBlocks(blocks)
blocks.shape

Int64Index([530330058022019, 530330062001053, 530330062003002, 530330062003004,
            530330062003007, 530330062003008, 530330062003019, 530330063004021,
            530330063004027, 530330064001003,
            ...
            530330108003010, 530330108003011, 530330108003012, 530330108003013,
            530330108003014, 530330108003015, 530330108003016, 530330109002059,
            530330109002060, 530330109002074],
           dtype='int64', name='GEO.id2', length=1976)

(2747, 10)

In [58]:
blocks.to_csv('SeattleTrainRowCoords.csv',
          sep=';',
          header=True,
          index=True,
          compression='gzip')

## Vectorize Businesses and Assemble X_train

### Construct Category Corpus with Aliases

In [59]:
lat1000m = -115.161605-(-115.172713)

def makecorpus(df, lat, long) :
    distances = calcDistancesV2(df, lat, long)
    distances = pd.DataFrame(data=distances, index=distances.index, columns=['distances'])
    distances = distances.join(df['alias_cats']) #['alias'] = df.loc[distances.index, 'alias']
    print(distances.shape)
    temp = distances.apply(addproximity, axis=1)
    return ' '.join(temp)

def addproximity(dfrow) :
    w = ('near' if (dfrow.loc['distances'] <= 500) else 'far')
    temp = dfrow.loc['alias_cats'].split(' ')
    temp = list(map((lambda x : (x + '_' + w)), temp))
    return ' '.join(temp)

def calcDistancesV2(multiindexdf, lat, long) :
    minlat = lat - lat1000m
    maxlat = lat + lat1000m
    minlong = long - lat1000m
    maxlong = long + lat1000m
#     multiindexdf = multiindexdf.sort_index(level = [0,1])
    idx = pd.IndexSlice
    df = multiindexdf.loc[idx[minlat:maxlat, minlong:maxlong], ['latitude','longitude']]
    distances = pd.Series(index=df.index)
    for index in df.index :
        try :
            distances[index] = calcDist(lat, long, df.loc[index,'latitude'].values[0], 
                                    df.loc[index,'longitude'].values[0])
        except : # catch very rare attribute error to fill in rest of rows
            distances[index] = 10000 # if calcDist gives error, don't include this business
    distances = distances[distances<1000]
    return distances

def make_X_train(coorddf, businessesdf) :
    for index in coorddf.index :
            coorddf.loc[index,'corpus'] = makecorpus(businessesdf, 
                                            coorddf.loc[index,'latitude'], 
                                            coorddf.loc[index,'longitude'])

In [60]:
df = pd.read_csv('SeattleBusinessesFinal.csv',sep=';',compression='gzip',
                 index_col=['lat_index.1','long_index.1'])
df.head()

                          lat_index  long_index  Unnamed: 0  \
lat_index.1 long_index.1
47.539      -122.3414        47.539   -122.3414       20055
47.540      -122.3383        47.540   -122.3383       10220
            -122.3228        47.540   -122.3228       14764
47.541      -122.3377        47.541   -122.3377       21396
            -122.3277        47.541   -122.3277        1740

                                                              alias  \
lat_index.1 long_index.1
47.539      -122.3414     pacific-plumbing-supply-company-seattle-2
47.540      -122.3383                  dandylines-show-room-seattle
            -122.3228               calozzis-cheesesteaks-seattle-3
47.541      -122.3377                   barron-collection-seattle-2
            -122.3277                    alpine-auto-center-seattle

                                                                 categories  \
lat_index.1 long_index.1
47.539      -122.3414          [{'alias': 'plumbing', 'title': 'Plumbing'}]
47.540      -122.3383     [{'alias': 'homedecor', 'title': 'Home Decor'}...
            -122.3228     [{'alias': 'cheesesteaks', 'title': 'Cheeseste...
47.541      -122.3377       [{'alias': 'giftshops', 'title': 'Gift Shops'}]
            -122.3277     [{'alias': 'bodyshops', 'title': 'Body Shops'}...

                                                                coordinates  \
lat_index.1 long_index.1
47.539      -122.3414       {'latitude': 47.53926, 'longitude': -122.34143}
47.540      -122.3383     {'latitude': 47.5404648292527, 'longitude': -1...
            -122.3228     {'latitude': 47.540249, 'longitude': -122.3228...
47.541      -122.3377     {'latitude': 47.5410907, 'longitude': -122.337...
            -122.3277     {'latitude': 47.5410474, 'longitude': -122.327...

                             distance   latitude   longitude main_category  \
lat_index.1 long_index.1
47.539      -122.3414     5987.205780  47.539260 -122.341430  homeservices
47.540      -122.3383     5842.077766  47.540465 -122.338285  professional
            -122.3228     5947.788414  47.540249 -122.322845   restaurants
47.541      -122.3377     5771.500750  47.541091 -122.337745      shopping
            -122.3277     5809.509324  47.541047 -122.327680    automotive

                                                     name  price  rating  \
lat_index.1 long_index.1
47.539      -122.3414     Pacific Plumbing Supply Company      0     4.0
47.540      -122.3383                DandyLines Show Room      1     5.0
            -122.3228              Calozzi's Cheesesteaks      2     4.5
47.541      -122.3377                   Barron Collection      0     5.0
            -122.3277                  Alpine Auto Center      0     4.0

                          review_count    distance2  \
lat_index.1 long_index.1
47.539      -122.3414                5  5987.205780
47.540      -122.3383                1  5842.077766
            -122.3228              234  5947.788414
47.541      -122.3377                1  5771.500750
            -122.3277               16  5809.509324

                                                            alias_cats
lat_index.1 long_index.1
47.539      -122.3414                        0_homeservices 0_plumbing
47.540      -122.3383         1_professional 1_homedecor 1_accessories
            -122.3228                       2_restaurants 2_sandwiches
47.541      -122.3377                                       0_shopping
            -122.3277     0_automotive 0_bodyshops 0_auto 0_autorepair

In [61]:
df.describe()

,lat_index,long_index,Unnamed: 0,distance,latitude,longitude,price,rating,review_count,distance2
count,12516.000000,12516.000000,12516.000000,12516.000000,12516.000000,12516.000000,12516.000000,12516.000000,12516.000000,12516.000000
mean,47.604169,-122.334535,7725.405002,2932.728412,47.604174,-122.334538,0.587967,3.912033,53.485459,2932.728412
std,0.022466,0.022057,5348.637234,1397.593555,0.022472,0.022057,0.952829,1.161616,193.667140,1397.593555
min,47.539000,-122.412700,0.000000,142.573040,47.539260,-122.412724,0.000000,0.000000,0.000000,142.573040
25%,47.598000,-122.342000,3456.750000,1888.690672,47.598480,-122.341950,0.000000,3.500000,2.000000,1888.690672
50%,47.610000,-122.333700,6848.500000,2626.398276,47.609999,-122.333683,0.000000,4.000000,6.000000,2626.398276
75%,47.617000,-122.323200,11229.250000,3996.003484,47.617296,-122.323159,1.000000,5.000000,30.000000,3996.003484
max,47.646000,-122.267100,22639.000000,5999.131624,47.646366,-122.267054,4.000000,5.000000,6441.000000,5999.131624

In [62]:
blocks = pd.read_csv('SeattleTrainRowCoords.csv',
          sep=';', compression='gzip', index_col='Unnamed: 0')
blocks.head()

,distance_from_city,urban,latitude,longitude,blockgroup,income,blockgrouppop,population,landarea,waterarea
530330058022019,4980.066227,U,47.630970,-122.371199,530330058022,50272.0,NaN,256,298132,0
530330062001053,4944.954575,U,47.628177,-122.295862,530330062001,75693.0,NaN,74,135167,0
530330062003002,4858.225523,U,47.633222,-122.310875,530330062003,110602.0,NaN,43,9923,0
530330062003004,4838.755140,U,47.633226,-122.311560,530330062003,110602.0,NaN,37,10647,0
530330062003007,4822.522346,U,47.633246,-122.312208,530330062003,110602.0,NaN,70,8804,0

In [63]:
blocks.describe()

,distance_from_city,latitude,longitude,blockgroup,income,blockgrouppop,population,landarea,waterarea
count,2747.000000,2747.000000,2747.000000,2.747000e+03,2747.000000,0.0,2747.000000,2747.000000,2747.000000
mean,3362.345483,47.602146,-122.326458,5.303301e+11,57966.046232,NaN,142.472151,18873.757918,21.972697
std,1027.143698,0.022245,0.028782,1.184066e+04,24666.958432,NaN,181.049008,35213.060607,1151.629301
min,413.685406,47.549469,-122.400090,5.303301e+11,8573.000000,NaN,20.000000,1012.000000,0.000000
25%,2647.113188,47.583309,-122.346395,5.303301e+11,42373.000000,NaN,46.000000,9173.000000,0.000000
50%,3484.033740,47.608504,-122.320085,5.303301e+11,55301.000000,NaN,86.000000,12491.000000,0.000000
75%,4191.977459,47.619366,-122.304370,5.303301e+11,70186.000000,NaN,171.000000,16625.000000,0.000000
max,4999.365340,47.637551,-122.280177,5.303301e+11,195814.000000,NaN,1662.000000,819365.000000,60359.000000

In [64]:
make_X_train(blocks, df)

(769, 2)
(481, 2)
(419, 2)
(387, 2)
(387, 2)
(239, 2)
(312, 2)
(457, 2)
(437, 2)
(718, 2)
(711, 2)
(724, 2)
(709, 2)
(717, 2)
(738, 2)
(736, 2)
(739, 2)
(748, 2)
(738, 2)
(458, 2)
(744, 2)
(757, 2)
(1096, 2)
(1007, 2)
(741, 2)
(754, 2)
(448, 2)
(1103, 2)
(765, 2)
(419, 2)
(620, 2)
(672, 2)
(1699, 2)
(996, 2)
(761, 2)
(777, 2)
(1585, 2)
(1641, 2)
(1924, 2)
(1825, 2)
(840, 2)
(476, 2)
(367, 2)
(385, 2)
(415, 2)
(755, 2)
(691, 2)
(673, 2)
(617, 2)
(599, 2)
(910, 2)
(971, 2)
(978, 2)
(937, 2)
(800, 2)
(988, 2)
(1026, 2)
(1012, 2)
(2203, 2)
(2160, 2)
(2163, 2)
(1063, 2)
(1980, 2)
(1274, 2)
(1359, 2)
(1355, 2)
(1635, 2)
(1613, 2)
(1736, 2)
(1778, 2)
(3590, 2)
(3450, 2)
(3594, 2)
(3520, 2)
(5173, 2)
(4940, 2)
(4831, 2)
(4868, 2)
(4654, 2)
(4957, 2)
(1941, 2)
(2158, 2)
(3502, 2)
(3580, 2)
(3326, 2)
(3541, 2)
(3662, 2)
(3482, 2)
(3471, 2)
(3605, 2)
(3405, 2)
(3389, 2)
(3354, 2)
(1958, 2)
(2008, 2)
(3456, 2)
(3369, 2)
(3312, 2)
(3346, 2)
(2161, 2)
(2287, 2)
(2069, 2)
(2022, 2)
(1433, 2)
(1786, 2)
(3481, 2)
(4910, 2)
(4904, 2)
(4765, 2)
(1909, 2)
(2139, 2)
(2235, 2)
(2264, 2)
(2931, 2)
(2249, 2)
(2210, 2)
(2244, 2)
(2291, 2)
(2292, 2)
(4736, 2)
(5023, 2)
(4396, 2)
(4275, 2)
(4268, 2)
(4202, 2)
(5658, 2)
(4886, 2)
(4716, 2)
(4647, 2)
(4445, 2)
(4276, 2)
(4590, 2)
(5393, 2)
(5468, 2)
(5629, 2)
(6262, 2)
(5885, 2)
(5872, 2)
(5718, 2)
(5783, 2)
(5608, 2)
(5497, 2)
(5738, 2)
(5687, 2)
(5273, 2)
(5297, 2)
(6367, 2)
(5415, 2)
(5478, 2)
(5642, 2)
(5449, 2)
(5299, 2)
(5246, 2)
(5658, 2)
(5583, 2)
(5831, 2)
(5891, 2)
(5995, 2)
(4735, 2)
(5741, 2)
(5978, 2)
(5425, 2)
(6447, 2)
(6028, 2)
(5625, 2)
(5695, 2)
(4889, 2)
(4866, 2)
(4871, 2)
(5496, 2)
(5502, 2)
(5451, 2)
(5446, 2)
(4316, 2)
(5494, 2)
(4436, 2)
(5595, 2)
(5616, 2)
(5579, 2)
(5630, 2)
(5809, 2)
(4651, 2)
(4632, 2)
(4785, 2)
(3526, 2)
(3384, 2)
(3177, 2)
(3216, 2)
(3422, 2)
(4245, 2)
(4294, 2)
(4207, 2)
(3333, 2)
(3784, 2)
(3884, 2)
(3872, 2)
(4390, 2)
(4534, 2)
(4092, 2)
(4081, 2)
(1941, 2)
(2171, 2)
(3815, 2)
(3535, 2)
(1982, 2)
(1930, 2)
(1968, 2)
(2253, 2)
(2346, 2)
(2219, 2)
(2462, 2)
(4047, 2)
(830, 2)
(2176, 2)
(2122, 2)
(2227, 2)
(2064, 2)
(2327, 2)
(2435, 2)
(2401, 2)
(1741, 2)
(1659, 2)
(1681, 2)
(917, 2)
(2108, 2)
(2162, 2)
(1291, 2)
(844, 2)
(2084, 2)
(2120, 2)
(951, 2)
(1725, 2)
(1883, 2)
(5231, 2)
(4303, 2)
(4245, 2)
(4326, 2)
(4349, 2)
(4727, 2)
(4769, 2)
(4757, 2)
(4537, 2)
(4570, 2)
(4580, 2)
(5853, 2)
(5512, 2)
(5915, 2)
(4539, 2)
(2026, 2)
(2099, 2)
(2023, 2)
(1671, 2)
(5449, 2)
(5798, 2)
(5593, 2)
(4842, 2)
(4780, 2)
(4766, 2)
(4840, 2)
(4908, 2)
(4936, 2)
(5096, 2)
(5404, 2)
(5513, 2)
(5247, 2)
(4484, 2)
(4411, 2)
(3319, 2)
(3616, 2)
(2385, 2)
(2427, 2)
(2378, 2)
(2509, 2)
(2494, 2)
(3742, 2)
(4144, 2)
(2548, 2)
(2379, 2)
(2291, 2)
(3185, 2)
(2507, 2)
(2176, 2)
(2142, 2)
(2175, 2)
(2497, 2)
(3902, 2)
(2588, 2)
(2215, 2)
(2200, 2)
(2520, 2)
(2549, 2)
(3894, 2)
(2674, 2)
(2588, 2)
(2476, 2)
(2167, 2)
(2058, 2)
(1954, 2)
(1566, 2)
(2051, 2)
(2176, 2)
(3584, 2)
(3671, 2)
(3040, 2)
(2874, 2)
(2569, 2)
(2232, 2)
(2701, 2)
(2935, 2)
(3388, 2)
(2857, 2)
(2481, 2)
(2594, 2)
(2983, 2)
(3487, 2)
(3443, 2)
(3192, 2)
(2697, 2)
(5517, 2)
(5591, 2)
(6517, 2)
(13124, 2)
(14395, 2)
(76225, 2)
(78576, 2)
(79874, 2)
(78615, 2)
(80715, 2)
(80905, 2)
(81024, 2)
(83540, 2)
(82321, 2)
(79540, 2)
(77460, 2)
(14574, 2)
(12177, 2)
(12923, 2)
(13110, 2)
(50238, 2)
(75071, 2)
(76628, 2)
(11964, 2)
(5502, 2)
(13246, 2)
(13431, 2)
(5342, 2)
(6735, 2)
(5815, 2)
(6462, 2)
(5575, 2)
(6200, 2)
(5775, 2)
(6258, 2)
(7482, 2)
(6374, 2)
(35590, 2)
(35825, 2)
(7285, 2)
(12740, 2)
(76490, 2)
(75615, 2)
(75639, 2)
(77109, 2)
(76705, 2)
(80430, 2)
(77840, 2)
(80720, 2)
(85946, 2)
(87508, 2)
(82127, 2)
(79393, 2)
(5030, 2)
(74541, 2)
(77381, 2)
(81710, 2)
(81901, 2)
(101052, 2)
(106391, 2)
(107651, 2)
(4974, 2)
(4824, 2)
(4876, 2)
(4908, 2)
(5278, 2)
(5128, 2)
(5257, 2)
(4900, 2)
(4994, 2)
(5363, 2)
(6751, 2)
(6811, 2)
(8089, 2)
(8092, 2)
(4929, 2)
(4971, 2)
(5465, 2)
(5463, 2)
(5997, 2)
(6042, 2)
(7250, 2)
(7224, 2)
(6450, 2)
(5880, 2)
(5976, 2)
(7482, 2)
(7730, 2)
(8139, 2)
(10053, 2)
(10217, 2)
(10116, 2)
(10040, 2)
(8803, 2)
(8881, 2)
(11015, 2)
(10697, 2)
(10540, 2)
(10138, 2)
(12584, 2)
(16623, 2)
(17790, 2)
(41815, 2)
(80667, 2)
(18237, 2)
(10973, 2)
(34935, 2)
(11412, 2)
(40533, 2)
(46867, 2)
(86852, 2)
(87222, 2)
(87725, 2)
(3601, 2)
(3673, 2)
(3690, 2)
(4971, 2)
(4376, 2)
(4273, 2)
(5026, 2)
(5887, 2)
(6015, 2)
(6199, 2)
(6065, 2)
(6134, 2)
(6202, 2)
(8298, 2)
(8368, 2)
(8015, 2)
(8010, 2)
(10020, 2)
(10881, 2)
(8948, 2)
(10547, 2)
(14550, 2)
(3741, 2)
(3767, 2)
(3589, 2)
(3742, 2)
(3836, 2)
(5511, 2)
(6098, 2)
(5227, 2)
(5036, 2)
(5022, 2)
(6131, 2)
(6514, 2)
(6476, 2)
(6709, 2)
(6849, 2)
(8559, 2)
(10253, 2)
(10928, 2)
(10764, 2)
(14673, 2)
(15992, 2)
(15868, 2)
(15929, 2)
(13075, 2)
(14320, 2)
(16965, 2)
(16710, 2)
(16826, 2)
(6592, 2)
(6618, 2)
(6692, 2)
(8763, 2)
(8558, 2)
(8642, 2)
(8464, 2)
(1025, 2)
(1044, 2)
(1051, 2)
(1018, 2)
(934, 2)
(922, 2)
(1963, 2)
(2034, 2)
(2180, 2)
(2054, 2)
(967, 2)
(959, 2)
(1082, 2)
(1070, 2)
(1045, 2)
(1041, 2)
(1061, 2)
(1079, 2)
(1348, 2)
(1439, 2)
(1852, 2)
(2053, 2)
(2004, 2)
(1495, 2)
(1435, 2)
(1416, 2)
(1378, 2)
(1304, 2)
(2234, 2)
(1095, 2)
(1214, 2)
(2290, 2)
(2660, 2)
(3637, 2)
(3273, 2)
(1812, 2)
(1325, 2)
(2189, 2)
(4285, 2)
(4601, 2)
(3260, 2)
(454, 2)
(451, 2)
(451, 2)
(460, 2)
(456, 2)
(454, 2)
(439, 2)
(453, 2)
(608, 2)
(608, 2)
(754, 2)
(786, 2)
(793, 2)
(1266, 2)
(1292, 2)
(1315, 2)
(1337, 2)
(1321, 2)
(1294, 2)
(1270, 2)
(1311, 2)
(1325, 2)
(1335, 2)
(1317, 2)
(1279, 2)
(1152, 2)
(1193, 2)
(1208, 2)
(1118, 2)
(1103, 2)
(1065, 2)
(646, 2)
(770, 2)
(774, 2)
(1106, 2)
(1157, 2)
(793, 2)
(788, 2)
(775, 2)
(766, 2)
(1181, 2)
(797, 2)
(863, 2)
(900, 2)
(816, 2)
(1341, 2)
(1421, 2)
(1459, 2)
(1398, 2)
(1265, 2)
(1282, 2)
(1161, 2)
(1130, 2)
(1281, 2)
(1387, 2)
(1378, 2)
(1353, 2)
(1220, 2)
(1255, 2)
(1174, 2)
(1204, 2)
(1061, 2)
(1142, 2)
(936, 2)
(970, 2)
(966, 2)
(1396, 2)
(1276, 2)
(1207, 2)
(923, 2)
(937, 2)
(1460, 2)
(1519, 2)
(1359, 2)
(1405, 2)
(1400, 2)
(1262, 2)
(1213, 2)
(201, 2)
(388, 2)
(202, 2)
(767, 2)
(778, 2)
(905, 2)
(924, 2)
(907, 2)
(773, 2)
(760, 2)
(668, 2)
(903, 2)
(301, 2)
(313, 2)
(161, 2)
(154, 2)
(643, 2)
(651, 2)
(642, 2)
(178, 2)
(645, 2)
(658, 2)
(655, 2)
(791, 2)
(953, 2)
(961, 2)
(962, 2)
(957, 2)
(794, 2)
(765, 2)
(908, 2)
(1072, 2)
(909, 2)
(1070, 2)
(1073, 2)
(1077, 2)
(1091, 2)
(1100, 2)
(1117, 2)
(1135, 2)
(1101, 2)
(1089, 2)
(1076, 2)
(1068, 2)
(1120, 2)
(1102, 2)
(1088, 2)
(1077, 2)
(1071, 2)
(920, 2)
(947, 2)
(1114, 2)
(1134, 2)
(1014, 2)
(982, 2)
(897, 2)
(664, 2)
(671, 2)
(669, 2)
(961, 2)
(968, 2)
(841, 2)
(1023, 2)
(1092, 2)
(1185, 2)
(1226, 2)
(1118, 2)
(998, 2)
(986, 2)
(971, 2)
(966, 2)
(981, 2)
(989, 2)
(1024, 2)
(1021, 2)
(979, 2)
(968, 2)
(1062, 2)
(986, 2)
(1024, 2)
(649, 2)
(645, 2)
(432, 2)
(432, 2)
(449, 2)
(446, 2)
(507, 2)
(1211, 2)
(768, 2)
(1239, 2)
(1268, 2)
(1211, 2)
(1184, 2)
(577, 2)
(1031, 2)
(999, 2)
(460, 2)
(887, 2)
(1188, 2)
(909, 2)
(652, 2)
(644, 2)
(647, 2)
(1237, 2)
(1077, 2)
(1069, 2)
(1300, 2)
(1268, 2)
(1630, 2)
(1275, 2)
(1288, 2)
(1136, 2)
(1562, 2)
(1523, 2)
(2319, 2)
(2672, 2)
(2552, 2)
(1799, 2)
(2261, 2)
(2297, 2)
(2546, 2)
(2256, 2)
(8258, 2)
(6140, 2)
(3912, 2)
(3904, 2)
(6527, 2)
(8237, 2)
(3425, 2)
(5738, 2)
(7453, 2)
(8364, 2)
(5847, 2)
(3722, 2)
(8301, 2)
(1560, 2)
(2201, 2)
(2251, 2)
(3354, 2)
(4428, 2)
(4747, 2)
(6317, 2)
(3990, 2)
(3390, 2)
(2309, 2)
(4086, 2)
(4570, 2)
(5278, 2)
(5578, 2)
(7753, 2)
(7454, 2)
(14472, 2)
(51105, 2)
(15517, 2)
(11918, 2)
(54718, 2)
(77271, 2)
(3731, 2)
(3509, 2)
(3345, 2)
(3472, 2)
(3757, 2)
(4572, 2)
(5500, 2)
(7049, 2)
(6839, 2)
(5122, 2)
(3948, 2)
(3848, 2)
(3519, 2)
(79460, 2)
(82168, 2)
(99895, 2)
(99924, 2)
(82349, 2)
(77618, 2)
(83452, 2)
(80633, 2)
(83365, 2)
(7423, 2)
(7083, 2)
(14977, 2)
(16493, 2)
(76045, 2)
(14658, 2)
(7573, 2)
(119552, 2)
(118657, 2)
(119371, 2)
(119529, 2)
(119589, 2)
(80822, 2)
(119245, 2)
(119667, 2)
(117861, 2)
(115807, 2)
(90013, 2)
(117577, 2)
(107735, 2)
(107090, 2)
(120006, 2)
(121078, 2)
(126713, 2)
(125753, 2)
(116564, 2)
(55996, 2)
(55829, 2)
(105413, 2)
(106160, 2)
(106819, 2)
(120017, 2)
(117870, 2)
(106099, 2)

(83567, 2)
(117025, 2)
(106457, 2)
(110613, 2)
(108154, 2)
(118460, 2)
(115406, 2)
(128746, 2)
(128891, 2)
(129005, 2)
(127165, 2)
(128128, 2)
(127300, 2)
(127341, 2)
(127479, 2)
(126883, 2)
(127086, 2)
(125891, 2)
(129480, 2)
(125417, 2)
(125664, 2)
(119938, 2)
(117023, 2)
(118907, 2)
(125409, 2)
(127024, 2)
(126847, 2)
(106073, 2)
(110547, 2)
(115482, 2)
(115201, 2)
(125892, 2)
(127446, 2)
(21380, 2)
(80467, 2)
(81665, 2)
(82407, 2)
(81223, 2)
(21946, 2)
(18443, 2)
(18680, 2)
(36839, 2)
(98553, 2)
(100233, 2)
(38319, 2)
(100225, 2)
(114133, 2)
(117030, 2)
(101680, 2)
(76163, 2)
(52167, 2)
(114705, 2)
(116204, 2)
(88181, 2)
(88107, 2)
(89350, 2)
(106635, 2)
(105915, 2)
(87939, 2)
(88079, 2)
(105027, 2)
(110591, 2)
(110865, 2)
(121818, 2)
(126672, 2)
(118293, 2)
(119471, 2)
(119908, 2)
(117502, 2)
(118700, 2)
(78668, 2)
(49625, 2)
(55852, 2)
(53829, 2)
(50878, 2)
(48510, 2)
(47770, 2)
(48084, 2)
(45955, 2)
(56070, 2)
(115560, 2)
(12614, 2)
(13839, 2)
(14108, 2)
(13977, 2)
(13819, 2)
(12609, 2)
(12634, 2)
(13847, 2)
(13939, 2)
(13853, 2)
(12563, 2)
(13629, 2)
(13600, 2)
(13529, 2)
(13283, 2)
(10635, 2)
(15166, 2)
(14733, 2)
(27503, 2)
(27293, 2)
(49161, 2)
(47894, 2)
(26394, 2)
(13639, 2)
(14545, 2)
(25418, 2)
(11568, 2)
(8386, 2)
(2638, 2)
(9836, 2)
(11972, 2)
(11719, 2)
(22954, 2)
(47062, 2)
(47000, 2)
(44612, 2)
(12090, 2)
(2904, 2)
(2653, 2)
(1131, 2)
(1260, 2)
(1550, 2)
(2246, 2)
(3842, 2)
(6499, 2)
(8251, 2)
(8159, 2)
(6380, 2)
(3794, 2)
(2220, 2)
(1939, 2)
(1403, 2)
(1205, 2)
(1132, 2)
(1120, 2)
(1221, 2)
(1332, 2)
(1361, 2)
(1415, 2)
(8095, 2)
(1187, 2)
(1331, 2)
(1123, 2)
(1150, 2)
(1080, 2)
(1128, 2)
(1313, 2)
(1174, 2)
(1085, 2)
(991, 2)
(946, 2)
(999, 2)
(1095, 2)
(1136, 2)
(940, 2)
(960, 2)
(1027, 2)
(1055, 2)
(1248, 2)
(1791, 2)
(2554, 2)
(5986, 2)
(2393, 2)
(2298, 2)
(1833, 2)
(1214, 2)
(1284, 2)
(1195, 2)
(1229, 2)
(1845, 2)
(2290, 2)
(2420, 2)
(2367, 2)
(2286, 2)
(1307, 2)
(1223, 2)
(1199, 2)
(1038, 2)
(1099, 2)
(1114, 2)
(1134, 2)
(1169, 2)
(1205, 2)
(1154, 2)
(1553, 2)
(1525, 2)
(1280, 2)
(1157, 2)
(1105, 2)
(1087, 2)
(1073, 2)
(1035, 2)
(1029, 2)
(1065, 2)
(1084, 2)
(1091, 2)
(1130, 2)
(1239, 2)
(1510, 2)
(1555, 2)
(1143, 2)
(1182, 2)
(1096, 2)
(1150, 2)
(1522, 2)
(1282, 2)
(1185, 2)
(1181, 2)
(1235, 2)
(1257, 2)
(1187, 2)
(1164, 2)
(1187, 2)
(1203, 2)
(1181, 2)
(1037, 2)
(1015, 2)
(1116, 2)
(1029, 2)
(854, 2)
(864, 2)
(780, 2)
(348, 2)
(446, 2)
(865, 2)
(883, 2)
(889, 2)
(836, 2)
(826, 2)
(883, 2)
(419, 2)
(333, 2)
(331, 2)
(383, 2)
(403, 2)
(403, 2)
(389, 2)
(147, 2)
(148, 2)
(146, 2)
(146, 2)
(185, 2)
(203, 2)
(373, 2)
(185, 2)
(187, 2)
(211, 2)
(205, 2)
(189, 2)
(183, 2)
(169, 2)
(160, 2)
(90, 2)
(88, 2)
(69, 2)
(61, 2)
(66, 2)
(156, 2)
(262, 2)
(276, 2)
(271, 2)
(196, 2)
(196, 2)
(176, 2)
(244, 2)
(260, 2)
(226, 2)
(151, 2)
(149, 2)
(154, 2)
(179, 2)
(201, 2)
(103, 2)
(125, 2)
(189, 2)
(162, 2)
(152, 2)
(195, 2)
(225, 2)
(242, 2)
(385, 2)
(398, 2)
(404, 2)
(381, 2)
(333, 2)
(331, 2)
(413, 2)
(809, 2)
(314, 2)
(397, 2)
(258, 2)
(267, 2)
(273, 2)
(271, 2)
(263, 2)
(180, 2)
(188, 2)
(328, 2)
(331, 2)
(351, 2)
(254, 2)
(290, 2)
(222, 2)
(275, 2)
(212, 2)
(246, 2)
(261, 2)
(212, 2)
(247, 2)
(285, 2)
(349, 2)
(352, 2)
(289, 2)
(260, 2)
(250, 2)
(288, 2)
(312, 2)
(361, 2)
(378, 2)
(320, 2)
(969, 2)
(1055, 2)
(978, 2)
(888, 2)
(808, 2)
(323, 2)
(404, 2)
(490, 2)
(480, 2)
(960, 2)
(394, 2)
(479, 2)
(499, 2)
(1207, 2)
(1678, 2)
(2343, 2)
(2395, 2)
(1303, 2)
(1276, 2)
(1260, 2)
(1805, 2)
(2387, 2)
(1194, 2)
(1105, 2)
(1273, 2)
(1386, 2)
(1207, 2)
(1096, 2)
(656, 2)
(725, 2)
(909, 2)
(659, 2)
(718, 2)
(20445, 2)
(22319, 2)
(22494, 2)
(3345, 2)
(14256, 2)
(20735, 2)
(15853, 2)
(15027, 2)
(1814, 2)
(40438, 2)
(41012, 2)
(22940, 2)
(22864, 2)
(22472, 2)
(20919, 2)
(21019, 2)
(22737, 2)
(20704, 2)
(50834, 2)
(51157, 2)
(49343, 2)
(49120, 2)
(41649, 2)
(43817, 2)
(43991, 2)
(43959, 2)
(51488, 2)
(49242, 2)
(48431, 2)
(48202, 2)
(49364, 2)
(49178, 2)
(44494, 2)
(45784, 2)
(45035, 2)
(44009, 2)
(44096, 2)
(46186, 2)
(45402, 2)
(16351, 2)
(1530, 2)
(824, 2)
(809, 2)
(985, 2)
(712, 2)
(871, 2)
(836, 2)
(43280, 2)
(23188, 2)
(4855, 2)
(2172, 2)
(584, 2)
(1030, 2)
(941, 2)
(955, 2)
(945, 2)
(937, 2)
(734, 2)
(369, 2)
(248, 2)
(112, 2)
(132, 2)
(515, 2)
(352, 2)
(245, 2)
(727, 2)
(226, 2)
(111, 2)
(781, 2)
(97, 2)
(828, 2)
(884, 2)
(853, 2)
(789, 2)
(801, 2)
(785, 2)
(651, 2)
(665, 2)
(666, 2)
(716, 2)
(604, 2)
(625, 2)
(537, 2)
(484, 2)
(386, 2)
(397, 2)
(793, 2)
(774, 2)
(779, 2)
(796, 2)
(765, 2)
(862, 2)
(863, 2)
(855, 2)
(839, 2)
(854, 2)
(863, 2)
(848, 2)
(853, 2)
(873, 2)
(853, 2)
(826, 2)
(804, 2)
(806, 2)
(796, 2)
(860, 2)
(818, 2)
(818, 2)
(825, 2)
(797, 2)
(823, 2)
(824, 2)
(841, 2)
(830, 2)
(828, 2)
(817, 2)
(802, 2)
(841, 2)
(873, 2)
(852, 2)
(840, 2)
(835, 2)
(808, 2)
(793, 2)
(817, 2)
(787, 2)
(846, 2)
(852, 2)
(867, 2)
(873, 2)
(927, 2)
(944, 2)
(819, 2)
(882, 2)
(979, 2)
(1232, 2)
(1115, 2)
(1130, 2)
(897, 2)
(876, 2)
(853, 2)
(869, 2)
(877, 2)
(911, 2)
(862, 2)
(881, 2)
(883, 2)
(843, 2)
(68, 2)
(80, 2)
(129, 2)
(118, 2)
(107, 2)
(116, 2)
(174, 2)
(130, 2)
(177, 2)
(227, 2)
(180, 2)
(126, 2)
(66, 2)
(69, 2)
(60, 2)
(233, 2)
(196, 2)
(183, 2)
(150, 2)
(143, 2)
(166, 2)
(173, 2)
(159, 2)
(195, 2)
(221, 2)
(237, 2)
(76, 2)
(272, 2)
(237, 2)
(223, 2)
(183, 2)
(183, 2)
(243, 2)
(315, 2)
(227, 2)
(317, 2)
(248, 2)
(222, 2)
(212, 2)
(622, 2)
(210, 2)
(214, 2)
(226, 2)
(203, 2)
(201, 2)
(194, 2)
(245, 2)
(253, 2)
(256, 2)
(224, 2)
(622, 2)
(780, 2)
(232, 2)
(786, 2)
(810, 2)
(253, 2)
(278, 2)
(292, 2)
(90, 2)
(106, 2)
(130, 2)
(154, 2)
(115, 2)
(132, 2)
(169, 2)
(175, 2)
(189, 2)
(185, 2)
(172, 2)
(178, 2)
(171, 2)
(163, 2)
(159, 2)
(139, 2)
(133, 2)
(116, 2)
(84, 2)
(162, 2)
(137, 2)
(107, 2)
(189, 2)
(179, 2)
(189, 2)
(180, 2)
(181, 2)
(188, 2)
(193, 2)
(212, 2)
(244, 2)
(249, 2)
(211, 2)
(207, 2)
(249, 2)
(198, 2)
(195, 2)
(196, 2)
(205, 2)
(193, 2)
(195, 2)
(200, 2)
(195, 2)
(186, 2)
(194, 2)
(193, 2)
(201, 2)
(189, 2)
(266, 2)
(718, 2)
(276, 2)
(720, 2)
(693, 2)
(358, 2)
(728, 2)
(410, 2)
(501, 2)
(422, 2)
(825, 2)
(719, 2)
(723, 2)
(719, 2)
(716, 2)
(768, 2)
(772, 2)
(764, 2)
(777, 2)
(879, 2)
(871, 2)
(871, 2)
(767, 2)
(870, 2)
(897, 2)
(680, 2)
(442, 2)
(397, 2)
(743, 2)
(1011, 2)
(1015, 2)
(712, 2)
(710, 2)
(714, 2)
(763, 2)
(734, 2)
(1043, 2)
(1034, 2)
(966, 2)
(971, 2)
(983, 2)
(706, 2)
(198, 2)
(199, 2)
(187, 2)
(182, 2)
(570, 2)
(574, 2)
(575, 2)
(578, 2)
(582, 2)
(683, 2)
(680, 2)
(680, 2)
(670, 2)
(668, 2)
(708, 2)
(708, 2)
(710, 2)
(708, 2)
(669, 2)
(499, 2)
(513, 2)
(71, 2)
(86, 2)
(480, 2)
(26, 2)
(94, 2)
(221, 2)
(89, 2)
(596, 2)
(89, 2)
(89, 2)
(1151, 2)
(1141, 2)
(1142, 2)
(1131, 2)
(1135, 2)
(1174, 2)
(1175, 2)
(1240, 2)
(1241, 2)
(1244, 2)
(1272, 2)
(1278, 2)
(1225, 2)
(1226, 2)
(1247, 2)
(1252, 2)
(1275, 2)
(1628, 2)
(1117, 2)
(1153, 2)
(1644, 2)
(1397, 2)
(1333, 2)
(1240, 2)
(1889, 2)
(1948, 2)
(2841, 2)
(631, 2)
(651, 2)
(650, 2)
(763, 2)
(1010, 2)
(999, 2)
(1064, 2)
(650, 2)
(1096, 2)
(1175, 2)
(1217, 2)
(1140, 2)
(912, 2)
(574, 2)
(566, 2)
(1148, 2)
(1144, 2)
(571, 2)
(579, 2)
(1222, 2)
(951, 2)
(921, 2)
(923, 2)
(1129, 2)
(1019, 2)
(1219, 2)
(1218, 2)
(1239, 2)
(1241, 2)
(1240, 2)
(1040, 2)
(1220, 2)
(1220, 2)
(1193, 2)
(1017, 2)
(1376, 2)
(1422, 2)
(1305, 2)
(1309, 2)
(1047, 2)
(842, 2)
(1139, 2)
(1378, 2)
(1369, 2)
(1961, 2)
(1508, 2)
(1515, 2)
(1488, 2)
(1454, 2)
(1434, 2)
(1334, 2)
(1458, 2)
(1641, 2)
(1670, 2)
(1534, 2)
(1589, 2)
(1904, 2)
(2199, 2)
(2164, 2)
(1784, 2)
(1786, 2)
(2002, 2)
(1981, 2)
(2588, 2)
(2359, 2)
(2017, 2)
(3019, 2)
(2558, 2)
(2255, 2)
(1668, 2)
(3151, 2)
(3322, 2)
(3393, 2)
(3503, 2)
(3585, 2)
(2997, 2)
(2908, 2)
(3463, 2)
(3262, 2)
(2906, 2)
(2905, 2)
(2750, 2)
(2774, 2)
(3046, 2)
(2958, 2)
(3017, 2)
(2995, 2)
(3005, 2)
(2991, 2)
(2966, 2)
(2875, 2)
(2721, 2)
(2999, 2)
(2999, 2)
(2895, 2)
(2899, 2)
(2897, 2)
(2994, 2)
(2759, 2)
(1357, 2)
(1227, 2)
(1230, 2)
(1262, 2)
(1227, 2)
(1713, 2)
(1740, 2)
(1579, 2)
(1609, 2)
(1631, 2)
(1628, 2)
(1667, 2)
(1992, 2)
(2417, 2)
(2357, 2)
(1193, 2)
(1352, 2)
(1002, 2)
(1278, 2)
(1020, 2)
(1002, 2)
(1147, 2)
(1284, 2)
(1128, 2)
(1128, 2)
(1880, 2)
(1569, 2)
(1171, 2)
(1108, 2)
(725, 2)
(747, 2)
(151, 2)
(726, 2)
(133, 2)
(130, 2)
(138, 2)

(140, 2)
(140, 2)
(140, 2)
(144, 2)
(756, 2)
(763, 2)
(760, 2)
(764, 2)
(991, 2)
(155, 2)
(155, 2)
(154, 2)
(157, 2)
(1130, 2)
(1138, 2)
(1278, 2)
(363, 2)
(432, 2)
(424, 2)
(1922, 2)
(675, 2)
(402, 2)
(971, 2)
(986, 2)
(758, 2)
(1028, 2)
(1105, 2)
(1111, 2)
(1120, 2)
(1094, 2)
(847, 2)
(280, 2)
(845, 2)
(711, 2)
(678, 2)
(240, 2)
(201, 2)
(203, 2)
(192, 2)
(193, 2)
(193, 2)
(168, 2)
(159, 2)
(136, 2)
(161, 2)
(176, 2)
(137, 2)
(134, 2)
(81, 2)
(301, 2)
(291, 2)
(293, 2)
(279, 2)
(240, 2)
(107, 2)
(115, 2)
(86, 2)
(95, 2)
(119, 2)
(102, 2)
(122, 2)
(100, 2)
(179, 2)
(118, 2)
(89, 2)
(88, 2)
(96, 2)
(144, 2)
(185, 2)
(160, 2)
(212, 2)
(238, 2)
(330, 2)
(405, 2)
(216, 2)
(393, 2)
(920, 2)
(945, 2)
(940, 2)
(880, 2)
(846, 2)
(873, 2)
(931, 2)
(928, 2)
(873, 2)
(844, 2)
(843, 2)
(869, 2)
(928, 2)
(315, 2)
(303, 2)
(313, 2)
(322, 2)
(347, 2)
(764, 2)
(854, 2)
(964, 2)
(920, 2)
(896, 2)
(793, 2)
(875, 2)
(780, 2)
(781, 2)
(747, 2)
(868, 2)
(703, 2)
(683, 2)
(798, 2)
(822, 2)
(816, 2)
(919, 2)
(936, 2)
(939, 2)
(854, 2)
(842, 2)
(836, 2)
(816, 2)
(795, 2)
(811, 2)
(813, 2)
(835, 2)
(845, 2)
(848, 2)
(840, 2)
(845, 2)
(826, 2)
(801, 2)
(774, 2)
(834, 2)
(840, 2)
(848, 2)
(777, 2)
(746, 2)
(627, 2)
(672, 2)
(675, 2)
(645, 2)
(214, 2)
(208, 2)
(574, 2)
(554, 2)
(539, 2)
(612, 2)
(675, 2)
(683, 2)
(281, 2)
(274, 2)
(234, 2)
(127, 2)
(135, 2)
(146, 2)
(171, 2)
(189, 2)
(195, 2)
(154, 2)
(173, 2)
(150, 2)
(128, 2)
(123, 2)
(111, 2)
(223, 2)
(278, 2)
(291, 2)
(166, 2)
(438, 2)
(198, 2)
(191, 2)
(221, 2)
(229, 2)
(250, 2)
(434, 2)
(426, 2)
(491, 2)
(192, 2)
(205, 2)
(191, 2)
(209, 2)
(204, 2)
(206, 2)
(210, 2)
(206, 2)
(193, 2)
(382, 2)
(427, 2)
(367, 2)
(302, 2)
(431, 2)
(387, 2)
(391, 2)
(109, 2)
(109, 2)
(151, 2)
(180, 2)
(189, 2)
(180, 2)
(169, 2)
(209, 2)
(212, 2)
(206, 2)
(225, 2)
(201, 2)
(199, 2)
(186, 2)
(186, 2)
(130, 2)
(192, 2)
(145, 2)
(171, 2)
(278, 2)
(286, 2)
(292, 2)
(382, 2)
(381, 2)
(377, 2)
(261, 2)
(279, 2)
(412, 2)
(435, 2)
(129, 2)
(235, 2)
(129, 2)
(122, 2)
(106, 2)
(73, 2)
(75, 2)
(75, 2)
(95, 2)
(76, 2)
(69, 2)
(72, 2)
(78, 2)
(79, 2)
(82, 2)
(77, 2)
(86, 2)
(78, 2)
(180, 2)
(211, 2)
(286, 2)
(305, 2)
(600, 2)
(682, 2)
(105, 2)
(102, 2)
(94, 2)
(101, 2)
(103, 2)
(169, 2)
(197, 2)
(101, 2)
(167, 2)
(248, 2)
(77, 2)
(73, 2)
(70, 2)
(73, 2)
(86, 2)
(78, 2)
(113, 2)
(111, 2)
(138, 2)
(150, 2)
(195, 2)
(155, 2)
(163, 2)
(264, 2)
(280, 2)
(339, 2)
(293, 2)
(377, 2)
(399, 2)
(684, 2)
(675, 2)
(636, 2)
(304, 2)
(272, 2)
(289, 2)
(244, 2)
(729, 2)
(380, 2)
(2659, 2)
(2659, 2)
(2844, 2)
(2836, 2)
(2635, 2)
(2213, 2)
(2814, 2)
(2906, 2)
(74, 2)
(70, 2)
(74, 2)
(131, 2)
(90, 2)
(120, 2)
(101, 2)
(95, 2)
(100, 2)
(104, 2)
(98, 2)
(108, 2)
(74, 2)
(95, 2)
(72, 2)
(67, 2)
(127, 2)
(124, 2)
(127, 2)
(123, 2)
(122, 2)
(120, 2)
(930, 2)
(913, 2)
(920, 2)
(769, 2)
(769, 2)
(419, 2)
(672, 2)
(800, 2)
(1613, 2)
(1736, 2)
(3594, 2)
(3520, 2)
(5173, 2)
(4940, 2)
(4831, 2)
(4868, 2)
(4868, 2)
(4868, 2)
(4957, 2)
(3326, 2)
(3541, 2)
(3662, 2)
(3482, 2)
(3471, 2)
(1786, 2)
(1786, 2)
(4910, 2)
(4765, 2)
(2139, 2)
(2139, 2)
(2139, 2)
(2139, 2)
(2139, 2)
(2235, 2)
(2249, 2)
(5023, 2)
(5023, 2)
(5023, 2)
(4396, 2)
(4886, 2)
(4886, 2)
(4716, 2)
(4445, 2)
(4445, 2)
(4276, 2)
(4590, 2)
(4590, 2)
(5468, 2)
(5783, 2)
(5497, 2)
(5273, 2)
(5478, 2)
(5246, 2)
(6028, 2)
(5695, 2)
(5695, 2)
(4889, 2)
(4889, 2)
(4436, 2)
(4436, 2)
(4436, 2)
(5595, 2)
(4785, 2)
(2171, 2)
(2462, 2)
(1725, 2)
(1883, 2)
(5231, 2)
(5231, 2)
(4349, 2)
(2026, 2)
(2026, 2)
(2026, 2)
(2099, 2)
(2099, 2)
(2023, 2)
(2023, 2)
(1671, 2)
(1671, 2)
(4780, 2)
(4766, 2)
(4840, 2)
(4908, 2)
(4936, 2)
(5096, 2)
(5404, 2)
(5247, 2)
(4411, 2)
(3319, 2)
(3616, 2)
(3616, 2)
(2427, 2)
(3742, 2)
(3742, 2)
(4144, 2)
(3185, 2)
(3185, 2)
(2507, 2)
(2507, 2)
(2176, 2)
(2175, 2)
(2497, 2)
(3902, 2)
(3894, 2)
(3894, 2)
(2674, 2)
(2588, 2)
(2476, 2)
(2058, 2)
(2058, 2)
(1954, 2)
(1954, 2)
(1566, 2)
(1566, 2)
(1566, 2)
(3584, 2)
(3584, 2)
(3671, 2)
(3671, 2)
(2232, 2)
(2857, 2)
(2481, 2)
(2594, 2)
(2983, 2)
(3487, 2)
(3443, 2)
(2697, 2)
(5517, 2)
(5591, 2)
(6517, 2)
(14395, 2)
(76225, 2)
(79874, 2)
(78615, 2)
(82321, 2)
(82321, 2)
(82321, 2)
(79540, 2)
(77460, 2)
(77460, 2)
(77460, 2)
(12177, 2)
(12177, 2)
(12177, 2)
(13110, 2)
(13110, 2)
(13110, 2)
(13110, 2)
(50238, 2)
(50238, 2)
(50238, 2)
(50238, 2)
(75071, 2)
(75071, 2)
(11964, 2)
(11964, 2)
(13246, 2)
(13246, 2)
(13246, 2)
(13431, 2)
(13431, 2)
(13431, 2)
(13431, 2)
(5342, 2)
(5342, 2)
(5342, 2)
(6462, 2)
(5575, 2)
(6200, 2)
(6200, 2)
(6200, 2)
(7482, 2)
(35590, 2)
(35590, 2)
(12740, 2)
(12740, 2)
(76490, 2)
(75639, 2)
(75639, 2)
(75639, 2)
(76705, 2)
(80430, 2)
(80720, 2)
(80720, 2)
(74541, 2)
(74541, 2)
(77381, 2)
(77381, 2)
(77381, 2)
(81710, 2)
(81710, 2)
(81710, 2)
(101052, 2)
(101052, 2)
(101052, 2)
(101052, 2)
(4974, 2)
(4908, 2)
(5278, 2)
(5278, 2)
(5128, 2)
(5128, 2)
(5257, 2)
(4994, 2)
(5363, 2)
(5363, 2)
(6811, 2)
(8089, 2)
(5465, 2)
(5463, 2)
(5997, 2)
(6042, 2)
(7250, 2)
(7224, 2)
(6450, 2)
(5880, 2)
(5976, 2)
(7482, 2)
(7482, 2)
(7730, 2)
(7730, 2)
(8139, 2)
(10217, 2)
(10116, 2)
(10040, 2)
(10040, 2)
(8803, 2)
(8803, 2)
(8881, 2)
(8881, 2)
(8881, 2)
(10540, 2)
(10540, 2)
(10540, 2)
(10138, 2)
(10138, 2)
(12584, 2)
(16623, 2)
(16623, 2)
(17790, 2)
(17790, 2)
(41815, 2)
(41815, 2)
(41815, 2)
(80667, 2)
(80667, 2)
(80667, 2)
(80667, 2)
(18237, 2)
(18237, 2)
(10973, 2)
(10973, 2)
(34935, 2)
(34935, 2)
(34935, 2)
(11412, 2)
(46867, 2)
(86852, 2)
(86852, 2)
(86852, 2)
(87222, 2)
(87222, 2)
(3673, 2)
(3690, 2)
(3690, 2)
(4971, 2)
(6199, 2)
(6202, 2)
(8298, 2)
(8015, 2)
(8010, 2)
(10020, 2)
(10881, 2)
(8948, 2)
(8948, 2)
(8948, 2)
(3741, 2)
(3767, 2)
(3742, 2)
(3836, 2)
(5227, 2)
(5036, 2)
(5022, 2)
(8559, 2)
(10928, 2)
(10928, 2)
(14673, 2)
(15929, 2)
(13075, 2)
(13075, 2)
(6592, 2)
(6618, 2)
(8558, 2)
(8642, 2)
(8464, 2)
(2180, 2)
(2054, 2)
(959, 2)
(1082, 2)
(2004, 2)
(1495, 2)
(1495, 2)
(1435, 2)
(1304, 2)
(1095, 2)
(3637, 2)
(1812, 2)
(1325, 2)
(4285, 2)
(3260, 2)
(793, 2)
(788, 2)
(775, 2)
(1061, 2)
(1396, 2)
(923, 2)
(937, 2)
(1262, 2)
(1213, 2)
(903, 2)
(313, 2)
(1211, 2)
(909, 2)
(1300, 2)
(1300, 2)
(1300, 2)
(1275, 2)
(1288, 2)
(1562, 2)
(1523, 2)
(2319, 2)
(2319, 2)
(2552, 2)
(2261, 2)
(2297, 2)
(8258, 2)
(6140, 2)
(6140, 2)
(3912, 2)
(3912, 2)
(3904, 2)
(6527, 2)
(3425, 2)
(5738, 2)
(7453, 2)
(5847, 2)
(5847, 2)
(2201, 2)
(2251, 2)
(4428, 2)
(6317, 2)
(3390, 2)
(3390, 2)
(4086, 2)
(4086, 2)
(4086, 2)
(5278, 2)
(5578, 2)
(5578, 2)
(7753, 2)
(7753, 2)
(7753, 2)
(7454, 2)
(7454, 2)
(11918, 2)
(11918, 2)
(54718, 2)
(54718, 2)
(77271, 2)
(3345, 2)
(3345, 2)
(3472, 2)
(3757, 2)
(3757, 2)
(3757, 2)
(3757, 2)
(3757, 2)
(4572, 2)
(4572, 2)
(4572, 2)
(5500, 2)
(7049, 2)
(7049, 2)
(6839, 2)
(6839, 2)
(5122, 2)
(5122, 2)
(3948, 2)
(3948, 2)
(3848, 2)
(3848, 2)
(3848, 2)
(3519, 2)
(3519, 2)
(3519, 2)
(3519, 2)
(79460, 2)
(82168, 2)
(82168, 2)
(82168, 2)
(82168, 2)
(99895, 2)
(99895, 2)
(99924, 2)
(82349, 2)
(82349, 2)
(77618, 2)
(83452, 2)
(80633, 2)
(7423, 2)
(7083, 2)
(7083, 2)
(7083, 2)
(14977, 2)
(16493, 2)
(76045, 2)
(76045, 2)
(7573, 2)
(119552, 2)
(119552, 2)
(118657, 2)
(119371, 2)
(119529, 2)
(119529, 2)
(119529, 2)
(80822, 2)
(80822, 2)
(119245, 2)
(121078, 2)
(126713, 2)
(125753, 2)
(116564, 2)
(55996, 2)
(55996, 2)
(55996, 2)
(55996, 2)
(106819, 2)
(120017, 2)
(120017, 2)
(117870, 2)
(117025, 2)
(117025, 2)
(117025, 2)
(110613, 2)
(110613, 2)
(115406, 2)
(115406, 2)
(128891, 2)
(127165, 2)
(127165, 2)
(127165, 2)
(127300, 2)
(127300, 2)
(127300, 2)
(127300, 2)
(127341, 2)
(127341, 2)
(127341, 2)
(127341, 2)
(127479, 2)
(126883, 2)
(126883, 2)
(127086, 2)
(125891, 2)
(125891, 2)
(125891, 2)
(125891, 2)
(125891, 2)
(125417, 2)
(119938, 2)
(117023, 2)
(127024, 2)
(115482, 2)
(115482, 2)
(115482, 2)
(115201, 2)
(115201, 2)
(115201, 2)
(125892, 2)
(125892, 2)
(125892, 2)
(125892, 2)
(127446, 2)
(127446, 2)
(21380, 2)
(80467, 2)
(80467, 2)
(81665, 2)
(82407, 2)
(36839, 2)
(98553, 2)
(100233, 2)
(38319, 2)
(114133, 2)
(114133, 2)
(117030, 2)
(101680, 2)
(101680, 2)
(52167, 2)
(116204, 2)
(116204, 2)
(88181, 2)
(88181, 2)
(106635, 2)
(87939, 2)
(88079, 2)
(110865, 2)
(126672, 2)
(118293, 2)
(119471, 2)
(119908, 2)
(119908, 2)
(117502, 2)
(117502, 2)

(50878, 2)
(50878, 2)
(48510, 2)
(48084, 2)
(45955, 2)
(56070, 2)
(56070, 2)
(56070, 2)
(56070, 2)
(56070, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(115560, 2)
(12614, 2)
(13839, 2)
(12609, 2)
(13939, 2)
(13853, 2)
(15166, 2)
(14733, 2)
(14733, 2)
(14733, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27503, 2)
(27293, 2)
(49161, 2)
(49161, 2)
(26394, 2)
(26394, 2)
(13639, 2)
(14545, 2)
(11719, 2)
(11719, 2)
(11719, 2)
(44612, 2)
(6380, 2)
(1361, 2)
(1080, 2)
(960, 2)
(5986, 2)
(1307, 2)
(1199, 2)
(403, 2)
(147, 2)
(147, 2)
(147, 2)
(225, 2)
(351, 2)
(250, 2)
(250, 2)
(969, 2)
(978, 2)
(888, 2)
(808, 2)
(323, 2)
(323, 2)
(404, 2)
(1207, 2)
(1207, 2)
(1678, 2)
(2395, 2)
(1276, 2)
(1194, 2)
(1207, 2)
(20445, 2)
(22319, 2)
(22319, 2)
(22319, 2)
(22494, 2)
(15027, 2)
(1814, 2)
(41012, 2)
(22940, 2)
(22940, 2)
(22864, 2)
(20919, 2)
(21019, 2)
(22737, 2)
(22737, 2)
(50834, 2)
(51157, 2)
(49343, 2)
(49120, 2)
(49120, 2)
(41649, 2)
(43817, 2)
(43959, 2)
(43959, 2)
(49178, 2)
(49178, 2)
(49178, 2)
(44494, 2)
(45784, 2)
(44096, 2)
(46186, 2)
(46186, 2)
(1530, 2)
(824, 2)
(824, 2)
(809, 2)
(985, 2)
(23188, 2)
(1030, 2)
(369, 2)
(828, 2)
(828, 2)
(884, 2)
(853, 2)
(853, 2)
(789, 2)
(789, 2)
(801, 2)
(801, 2)
(785, 2)
(666, 2)
(765, 2)
(927, 2)
(882, 2)
(1232, 2)
(1130, 2)
(876, 2)
(876, 2)
(143, 2)
(214, 2)
(232, 2)
(90, 2)
(249, 2)
(249, 2)
(249, 2)
(189, 2)
(266, 2)
(718, 2)
(723, 2)
(871, 2)
(871, 2)
(397, 2)
(743, 2)
(199, 2)
(680, 2)
(499, 2)
(513, 2)
(513, 2)
(513, 2)
(513, 2)
(513, 2)
(513, 2)
(1131, 2)
(1272, 2)
(923, 2)
(1219, 2)
(2991, 2)
(1230, 2)
(1740, 2)
(1628, 2)
(1002, 2)
(1108, 2)
(1108, 2)
(130, 2)
(140, 2)
(763, 2)
(1130, 2)
(1130, 2)
(1138, 2)
(1138, 2)
(1278, 2)
(1278, 2)
(1922, 2)
(1922, 2)
(675, 2)
(971, 2)
(1111, 2)
(1094, 2)
(280, 2)
(134, 2)
(240, 2)
(240, 2)
(240, 2)
(96, 2)
(144, 2)
(144, 2)
(144, 2)
(144, 2)
(212, 2)
(330, 2)
(405, 2)
(405, 2)
(393, 2)
(393, 2)
(347, 2)
(919, 2)
(919, 2)
(936, 2)
(936, 2)
(111, 2)
(438, 2)
(191, 2)
(191, 2)
(205, 2)
(205, 2)
(209, 2)
(209, 2)
(209, 2)
(206, 2)
(225, 2)
(225, 2)
(225, 2)
(225, 2)
(201, 2)
(377, 2)
(435, 2)
(435, 2)
(435, 2)
(75, 2)
(86, 2)
(180, 2)
(600, 2)
(94, 2)
(101, 2)
(101, 2)
(101, 2)
(77, 2)
(2213, 2)
(2213, 2)
(2213, 2)
(2213, 2)
(2906, 2)
(74, 2)
(95, 2)
(100, 2)
(95, 2)
(72, 2)
(72, 2)
(72, 2)
(67, 2)
(123, 2)
(122, 2)
(120, 2)

In [65]:
blocks.to_csv('CorpusSeattleTrainRowCoords.csv',sep=';',compression='gzip')
blocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2747 entries, 530330058022019 to 1530330108003016
Data columns (total 11 columns):
distance_from_city    2747 non-null float64
urban                 2747 non-null object
latitude              2747 non-null float64
longitude             2747 non-null float64
blockgroup            2747 non-null int64
income                2747 non-null float64
blockgrouppop         0 non-null float64
population            2747 non-null int64
landarea              2747 non-null int64
waterarea             2747 non-null int64
corpus                2747 non-null object
dtypes: float64(5), int64(4), object(2)
memory usage: 337.5+ KB

In [66]:
X_features = joblib.load('X_features.joblib')

vect = CountVectorizer(dtype='uint16',min_df=1, vocabulary=X_features,
                       decode_error='ignore', lowercase=True) 

X_sparse = vect.transform(blocks['corpus'])

dfvect = pd.DataFrame(X_sparse.toarray(),dtype='uint16',columns=X_features)

In [68]:
joblib.dump(dfvect, 'X_trainSeattle.joblib', compress=9)

['X_trainSeattle.joblib']

In [69]:
y_trainSeattle = blocks['income']

In [70]:
joblib.dump(y_trainSeattle, 'y_trainSeattle.joblib', compress=9)

['y_trainSeattle.joblib']